In [993]:
# All the file imports
!pip install prettytable
from datetime import datetime
from prettytable import PrettyTable
import os

Requirement already satisfied: prettytable in /Users/hemshah/anaconda2/lib/python2.7/site-packages (0.7.2)

In [994]:
def isDateParent(A):
    return A[1] in tag_fam["DATE"]

In [995]:
# Convert month string to month number
# :param month for which we need the number
def month_to_num(shortMonth):
    return{
        'JAN' : "1",
        'FEB' : "2",
        'MAR' : "3",
        'APR' : "4",
        'MAY' : "5",
        'JUN' : "6",
        'JUL' : "7",
        'AUG' : "8",
        'SEP' : "9", 
        'OCT' : "10",
        'NOV' : "11",
        'DEC' : "12"
    }[shortMonth]

In [996]:
# Convert input date to standard format
# :param date array in input
def convert_date(date_arr):
    return "{}-{}-{}".format(date_arr[2], month_to_num(date_arr[1]), date_arr[0])

In [997]:
# Determine age based on birthdate and death date
# If death date is not present then function uses the current date as a comparison
def determine_age(birth_date, death_date):
    birth_month= birth_date.split('-')[1]
    birth_day= birth_date.split('-')[2]
    
    if death_date:
        death_month=death_date.split('-')[1]
        death_day=death_date.split('-')[2]
        return int(death_date.split('-')[0]) - int(birth_date.split('-')[0])-((int(death_month), int(death_day))< (int(birth_month), int(birth_day)))
    else:
        today = datetime.today()
        return today.year - int(birth_date.split('-')[0]) - ((today.month, today.day) < (int(birth_month), int(birth_day)))

In [998]:
# Determine days difference
# For US 08 and 09
def determine_days(date1, date2):
    year1=int(date1.split('-')[0])
    month1= int(date1.split('-')[1])
    day1= int(date1.split('-')[2])
    
    year2=int(date2.split('-')[0])
    month2= int(date2.split('-')[1])
    day2= int(date2.split('-')[2])
    
    return (year2 - year1) * 365 + (month2 - month1)* 30 + day2- day1

In [999]:
def find_name(arr, _id):
    #takes array of dict objects
    for indi in arr:
        if _id == indi["INDI"]:
            return indi["NAME"]

In [1000]:
# create dictionary entry for the passed tag
# :param current_arr is the current array line being processed
# :param tag can will be either FAM or INDI
def create_dic_entry(current_arr, tag):
    current_tag=tag
    dic={}
    dic[tag]=current_arr[1]
    return dic, current_tag

In [1001]:
# Adds missing tags with "NA"
def add_missing_entries(dic):
    if "DIV" not in dic:
        dic["DIV"] = "NA"
    if "HUSB" not in dic:
        dic["HUSB"] = "NA"
    if "HUSB_NAME" not in dic:
        dic["HUSB_NAME"] = "NA"
    if "WIFE" not in dic:
        dic["WIFE"] = "NA"
    if "WIFE_NAME" not in dic:
        dic["WIFE_NAME"] = "NA"
    if "FAM_CHILD" not in dic:
        dic["FAM_CHILD"] = "NA"
    if "MARR" not in dic:
        dic["MARR"] = "NA"

In [1002]:
# Checking if one date is after another
# :param date_one is the date being compared with
# :param date_two is the date being compared t0
def is_date_after(date_one, date_two):
    return date_one < date_two

In [1003]:
# Create map of individuals where key is the individual id and
# individual object is the  value
def create_individuals_map():
    global individuals
    individuals = {}
    for individual in document["INDI"]:
        individuals[individual["INDI"]] = individual

In [1004]:
# Creating a family dictionary with the key as the family id and the value as the
# information about the family and the objects corresponding to husband, wife and children
def create_family_dic():
    global family_dic
    family_dic = {}
    for family in document["FAM"]:
        if family["HUSB"] != "NA" and family["HUSB"] in individuals:
            family["husband_object"] = individuals[family["HUSB"]]
        if family["WIFE"] != "NA" and family["WIFE"] in individuals:
            family["wife_object"] = individuals[family["WIFE"]]
        if family["FAM_CHILD"] != "NA":
            children = []
            for child in family["FAM_CHILD"]:
                children.append(individuals[child])
            family["children_objects"] = children
        family_dic[family["FAM"]] = family

In [1005]:
# Reads the input GEDCOM file line by line and store the data into the dictionary
def read_in(file):
    doc={"INDI":[], "FAM":[]}
    dic={}
    flag=False #indicates whether the correct tag has appeared before DATE tag
    with open(file) as f:
        all_lines=f.readlines()
        line_num = 1; #line number of each 
        for line, next_line in zip(all_lines, all_lines[1:]):
            current_arr=line.strip().split(" ")
            next_arr=next_line.strip().split(" ")
            #if the current tag is individual
            if len(current_arr)==3 and current_arr[0]=='0' and current_arr[2]== "INDI":
                #inserts individual's ID into the dictionary
                dic, current_tag=create_dic_entry(current_arr, "INDI") 
                #inserts line number
                dic["INDI_LINE"] = line_num
            #if the current tag is family
            elif len(current_arr)==3 and current_arr[0]=='0' and current_arr[2]=="FAM": 
                dic, current_tag=create_dic_entry(current_arr, "FAM")
                #inserts line number
                dic["FAM_LINE"] = line_num
            #if the current tag is date
            elif current_arr[1]=="DATE" and flag:
                flag=False
                date_arr = current_arr[2:] #extracts the date argument from the line
                dic[tmp]= convert_date(date_arr) #converts the date into correct format
            #determines if the tag level is correct
            elif current_arr[0]=='1' and current_arr[1] in tag_one:
            #"NAME", "SEX", "BIRT", "DEAT","FAMC","FAMS","MARR", "DIV","HUSB","WIFE","CHIL"
                if (isDateParent(current_arr)): #determines whether the current tag is parent of DATE tag
                    tmp=current_arr[1] #extracts the tag name
                    flag=True
                    #inserts line number
                    dic[tmp + "_LINE"] = line_num
                else: 
                    #current tag is not the parent tag of DATE tag
                    if current_arr[1] == "HUSB":
                        dic["HUSB_NAME"]=find_name(doc["INDI"], current_arr[2])
                        #inserts line number
                        dic["HUSB_LINE"] = line_num
                    if current_arr[1] == "WIFE":
                        dic["WIFE_NAME"]=find_name(doc["INDI"], current_arr[2])
                        #inserts line number
                        dic["WIFE_LINE"] = line_num
                    if current_arr[1] == 'CHIL':
                        #INDI_CHILD indicates all the children within a family
                        children = dic["FAM_CHILD"] if "FAM_CHILD" in dic else []
                        children.append(current_arr[2])
                        dic["FAM_CHILD"] = children
                        #inserts line number
                        dic["CHIL_LINE_" + current_arr[2]] = line_num
                    if current_arr[1] == 'FAMC' or current_arr[1] == 'FAMS':
                        child = dic["INDI_CHILD"] if "INDI_CHILD" in dic else []
                        spouse = dic["SPOUSE"] if "SPOUSE" in dic else []
                        child.append(current_arr[2]) if current_arr[1] == 'FAMC' else spouse.append(current_arr[2])
                        dic['INDI_CHILD'] = child #FAM_CHILD indicates which family this individual belongs to
                        dic['SPOUSE'] = spouse
                        #inserts line number
                        dic[current_arr[1] + "_LINE"] = line_num
                    else: #other type of tag
                        dic[current_arr[1]]=' '.join(current_arr[2:])
                        #inserts line number
                        dic[current_arr[1] + "_LINE"] = line_num
            #TRLR ==> end of the GEDCOM file
            if (len(next_arr)==3 and next_arr[0]=='0' and next_arr[2] in tag_sp) or next_arr[1]=="TRLR":
                if dic: #if the dic exists or not
                    if current_tag == 'INDI': #under individual tag?
                        if 'DEAT' in dic:
                            age = determine_age(dic['BIRT'], dic['DEAT'])
                            alive = False
                        else:
                            age = determine_age(dic['BIRT'], None)
                            alive = True
                            dic['DEAT'] = "NA"
                        dic["AGE"] = str(age)
                        dic['ALIVE']= alive
                        if not dic["SPOUSE"]:
                            dic["SPOUSE"] = "NA"
                        elif not dic["INDI_CHILD"]:
                            dic["INDI_CHILD"] = "NA"
                    if current_tag == 'FAM':
                        add_missing_entries(dic)
                    doc[current_tag].append(dic) 
            line_num += 1 #increments the line counter by 1
        return doc

In [1006]:
# USID: 01
# The Dates we need to check includes: birth, marriage, divorce, death
# Birth always exists, the rests we need to check for NA
# Iteration through individuals and family
def validate_dates():
    for family in family_dic.values():
        if family["MARR"] !="NA":
            if(determine_age(family["MARR"], None) < 0):
                 error_array.append("ERROR: FAMILY: US01: {}: {}: Family has marrige date {} later than today".format(family["MARR_LINE"], family["FAM"], family["MARR"]))
        if family["DIV"] != "NA":
            if(determine_age(family["DIV"], None) < 0):
                 error_array.append("ERROR: FAMILY: US01: {}: {}: Family has divorce date {} later than today".format(family["DIV_LINE"], family["FAM"], family["DIV"]))     
    
    for indi in individuals.values():
        # for birthday simply check age
        if(determine_age(indi["BIRT"], None) < 0):
                error_array.append("ERROR: INDIVIDUAL: US01: {}: {}: Individual has birth date {} later than today".format(indi["BIRT_LINE"], indi["INDI"], indi["BIRT"]))     
        if indi["DEAT"] != "NA":
            if(determine_age(indi["DEAT"], None) < 0):
                error_array.append("ERROR: INDIVIDUAL: US01: {}: {}: Individual has death date {} later than today".format(indi["DEAT_LINE"], indi["INDI"], indi["DEAT"]))

In [1007]:
#USID: 02
#
# This function checks if the birth of the person is before their 
# marriage date
# If birth of the person is after the marriage date then the error
# is appended to the error array
def is_birth_before_marraige():
    for family_id in family_dic:
        family = family_dic[family_id]
        if "MARR" in family:
            marriage_date = family["MARR"];
            husband_birth_date = None;
            wife_birth_date = None;
            if "husband_object" in family and "BIRT" in family["husband_object"]:
                husband_birth_date = family["husband_object"]["BIRT"]
            else:
                continue;
            if "wife_object" in family and "BIRT" in family["wife_object"]:
                wife_birth_date = family["wife_object"]["BIRT"]
            else:
                continue;
            if is_date_after(marriage_date, husband_birth_date):
                error_array.append(("ERROR: INDIVIDUAL: US02: {}: {}: Person has marriage date {} before birth date {}")\
                                    .format(family['MARR_LINE'], family["husband_object"]["INDI"], marriage_date, husband_birth_date))
            if is_date_after(marriage_date, wife_birth_date):
                 error_array.append(("ERROR: INDIVIDUAL: US02: {}: {}: Person has marriage date {} before birth date {}")\
                                    .format(family['MARR_LINE'], family["wife_object"]["INDI"], marriage_date, wife_birth_date))

In [1008]:
# US04 - Marriage Before Divorce

def is_marriage_after_divorce():
    # Iterating through all individuals
    for currentIndividual in individuals.values():
        # Ignoring all individuals who weren't ever married
        if(currentIndividual['SPOUSE'] != 'NA'):
            # Iterating through all the families they were related to
            for currentFamily in currentIndividual['SPOUSE']:
                for checkingFamily in family_dic.values():
                    if(checkingFamily['FAM'] == currentFamily):
                        # Ignoring all the marriages without a divorce
                        if(checkingFamily['DIV'] != 'NA'):
                            # Checking if a divorce date is before a marriage date
                            if(checkingFamily['MARR'] > checkingFamily['DIV']):
                                anomaly_array.append("ANOMALY: INDIVIDUAL: US04: {}: {}: Marriage Before Divorce - Marriage Date {} - Divorce Date {}".format(checkingFamily["MARR_LINE"], currentIndividual['INDI'], checkingFamily['MARR'], checkingFamily['DIV']))

In [1009]:
# US05 - Marriage Before Death

def is_marriage_after_death():
    # Iterating through all individuals
    for currentIndividual in individuals.values():
        # Ignoring all individuals who weren't ever married
        if(currentIndividual['SPOUSE'] != 'NA'):
            # Iterating through all the families they were related to
            for currentFamily in currentIndividual['SPOUSE']:
                for checkingFamily in family_dic.values():
                    if(checkingFamily['FAM'] == currentFamily):
                        if(checkingFamily['MARR'] != 'NA'):
                            if(checkingFamily['MARR'] > currentIndividual['DEAT']):
                                anomaly_array.append("ANOMALY: INDIVIDUAL: US05: {}: {}: Marriage Before Death - Marriage Date {} - Death Date {}".format(checkingFamily["MARR_LINE"], currentIndividual['INDI'], checkingFamily['MARR'], currentIndividual['DEAT']))

In [1010]:
#USID: 07
def is_age_legal():
    for indi_id in individuals:
        indi=individuals[indi_id]
        if "AGE" in indi:
            age =indi["AGE"]
            if int(age) > 150:
                if indi["ALIVE"]:
                    anomaly_array.append("ANOMALY: INDIVIDUAL: US07: {}: {}: More than 150 years old - Birth Date {}".format(indi["BIRT_LINE"], indi_id, indi["BIRT"]))
                else:
                    anomaly_array.append("ANOMALY: INDIVIDUAL: US07: {}: {}: More than 150 years old at death - Birth Date {}: Death Date {}".format(indi["BIRT_LINE"], indi_id, indi["BIRT"], indi["DEAT"]))

In [1011]:
#Birth before marriage of parents USID: 08
def birth_before_marriage():
    for family in family_dic.values():
        if "children_objects" in family:
            marriage_date=family['MARR']
            divorce_date=family["DIV"]
            for child in family["children_objects"]:
                if(marriage_date!= "NA"):
                    if(determine_days(marriage_date, child["BIRT"]) < 0):
                         anomaly_array.append("ANOMALY: INDIVIDUAL: US08: {}: {}: Child was born at {} before marriage of parents {}".format(child["BIRT_LINE"], child["INDI"], child["BIRT"], marriage_date))
                if(divorce_date!= "NA"):
                    if(determine_days(divorce_date, child["BIRT"])/30 > 9):
                         anomaly_array.append("ANOMALY: INDIVIDUAL: US08: {}: {}: Child was born at {} after 9 month divorce of parents {}".format(child["BIRT_LINE"], child["INDI"], child["BIRT"], divorce_date))

In [1012]:
#Birth before death of parents USID: 09
def birth_before_death():
    for family in family_dic.values():
        if "children_objects" in family:
            if "husband_object" in family:
                husband_death=family["husband_object"]["DEAT"]
            if "wife_object" in family:
                wife_death=family["wife_object"]["DEAT"]
            for child in family["children_objects"]:
                if(wife_death!= "NA"):
                    if(determine_days(child["BIRT"], wife_death) < 0):
                        error_array.append("ERROR: INDIVIDUAL: US09: {}: {}: Child was born at {} after death of mother {}".format(child["BIRT_LINE"], child["INDI"], child["BIRT"], wife_death))
                if(husband_death!= "NA"):
                    if(determine_days(husband_death, child["BIRT"])/30 > 9):
                        error_array.append("ERROR: INDIVIDUAL: US09: {}: {}: Child was born at {} after 9 month death of father {}".format(child["BIRT_LINE"], child["INDI"], child["BIRT"], husband_death))

In [1013]:
# USID: 10
def is_marriage_legal():
    for family_id in family_dic:
        if "MARR" in family_dic[family_id] and family_dic[family_id]["MARR"]!="NA":
            married_date=family_dic[family_id]["MARR"]
        if "husband_object" in family_dic[family_id]:
            husband=family_dic[family_id]["husband_object"]
            if int(determine_age(husband["BIRT"], married_date)) < 14:
                anomaly_array.append("ANOMALY: INDIVIDUAL: US10: {}: {}: Father of family {} is younger than 14 years old - Birth Date {}".format(husband["BIRT_LINE"], husband["INDI"], family_id,husband["BIRT"]))
        if "wife_object" in family_dic[family_id]:
            wife=family_dic[family_id]["wife_object"]
            if int(determine_age(wife["BIRT"], married_date)) < 14:
                anomaly_array.append("ANOMALY: INDIVIDUAL: US10: {}: {}: Wife of family {} is younger than 14 years old - Birth Date {}".format(wife["BIRT_LINE"], wife["INDI"], family_id, wife["BIRT"]))

In [1014]:
# USID: 11
def check_for_bigamy():
    for individual_id in individuals:
        individual = individuals[individual_id]
        if "SPOUSE" in individual and individual["SPOUSE"] != 'NA':
            spouse_in_families = individual["SPOUSE"]
            if len(spouse_in_families) > 1:
                dates = []
                for family_id in spouse_in_families:
                    family = family_dic[family_id]
                    date = {}
                    if "MARR" in family and family["MARR"] != 'NA':
                        date["MARR"] = family["MARR"]
                    if "DIV" in family and family["DIV"] != 'NA':
                        date["DIV"] = family["DIV"]
                    elif "husband_object" in family and family["husband_object"] != 'NA':
                        if "DEAT" in family["husband_object"] and family["husband_object"]["DEAT"] != 'NA':
                            date["DIV"] = family["husband_object"]["DEAT"]
                    dates.append(date)
                if compare_marraige_dates(dates):
                    anomaly_array.append("ANOMALY: INDIVIDUAL: US11: {}: {}: Performing bigamy".format(individual["INDI_LINE"], individual["INDI"]))

In [1015]:
def compare_marraige_dates(dates):
    for i in range(0, len(dates)):
        dateOne = dates[i]
        for j in range(i + 1, len(dates)):
            dateTwo = dates[j]
            if "MARR" in dateOne and "DIV" in dateOne:
                if "MARR" in dateTwo:
                    if dateOne["MARR"] <= dateTwo["MARR"] < dateOne["DIV"]:
                        return True
                if "DIV" in dateTwo:
                    if dateOne["MARR"] < dateTwo["DIV"] < dateOne["DIV"]:
                        return True
            elif "MARR" in dateOne:
                if "MARR" in dateTwo and "DIV" in dateTwo:
                    if dateTwo["MARR"] <= dateOne["MARR"] < dateTwo["DIV"]:
                        return True
                if "MARR" in dateTwo and dateOne["MARR"] <= dateTwo["MARR"]:
                    return True
                if "DIV" in dateTwo and dateOne["MARR"] < dateTwo["DIV"]:
                    return True
                if "MARR" in dateTwo and "DIV" not in dateTwo and dateTwo["MARR"] <= dateOne["MARR"]:
                    return True
            elif "DIV" in dateOne:
                if "MARR" in dateTwo and "DIV" in dateTwo:
                    if dateTwo["MARR"] <= dateOne["DIV"] < dateTwo["DIV"]:
                        return True
    return False

In [1016]:
# US13
def check_sibling_spacing():
    for family_id in family_dic:
        family = family_dic[family_id]
        if (len(family["FAM_CHILD"]) > 0) and family["FAM_CHILD"] != "NA":
            for child in family["FAM_CHILD"]:
                siblings = get_individual_siblings(child, False, True)
                child_object = individuals[child]
                for sibling in siblings:
                    if sibling != child:
                        sibling_object = individuals[sibling]
                        days = determine_days(child_object["BIRT"], sibling_object["BIRT"])
                        days = abs(days)
                        if 2 < days < (8 * 30):
                            error_array.append("ERROR: INDIVIDUAL: US13: {}: Child {} is born within 8 months and more than 2 days of sibling"\
                                               .format(child_object["INDI_LINE"], child))

In [1017]:
def get_individual_siblings(id, include_husb, include_wife):
    individual = individuals[id]
    siblings = []
    if "INDI_CHILD" in individual and individual["INDI_CHILD"] != "NA":
        for family_id in individual["INDI_CHILD"]:
            family = family_dic[family_id]
            siblings.extend(family["FAM_CHILD"])
            if include_husb:
                if "husband_object" in family and family["husband_object"] != "NA":
                    siblings.extend(get_all_children(family["husband_object"]))
            if include_wife:
                if "wife_object" in family and family["wife_object"] != "NA":
                    siblings.extend(get_all_children(family["wife_object"]))
    siblings = list(set(siblings))
    return siblings

In [1018]:
def get_all_children(individual_object):
    spouses = individual_object["SPOUSE"]
    children = []
    for spouse_family_id in spouses:
        individual_family = family_dic[spouse_family_id]
        if (len(individual_family["FAM_CHILD"]) > 0):
            children.extend(individual_family["FAM_CHILD"])
    return children

In [1019]:
# User Story: US15
def check_sibling_count():
    for family_id in family_dic:
        family = family_dic[family_id]
        if (len(family["FAM_CHILD"]) > 15):
            anomaly_array.append("ANOMALY: FAMILY: US15: {}: {}: Family has {} siblings which is more than 15 siblings"\
                 .format(family["FAM_LINE"], family_id, len(family["FAM_CHILD"])))

In [1020]:
# Returns the lastname of the name
# Last name is surrounded by '/' in the name
# :param name is the full name of the person
def get_last_name(name):
    return name.split('/')[1];

In [1021]:
# User story: US16
# This function goes over the family dictionary and 
# returns the array of family ids which contain males with different last name
# It uses the last name of the husband in the family as the initial reference
# 
# :returns array of family ids
def check_last_names():
    for family_id in family_dic:
        family = family_dic[family_id]
        last_name = None
        if "HUSB_NAME" in family:
            if family["HUSB_NAME"] != "NA":
                last_name = get_last_name(family["HUSB_NAME"])
            else:
                continue
        if "children_objects" in family:
            for child in family["children_objects"]:
                if child["SEX"] == "M":
                    if last_name is None:
                        last_name = get_last_name(child["NAME"])
                    else:
                        if last_name != get_last_name(child["NAME"]):
                            anomaly_array.append("ANOMALY: INDIVIDUAL: US16: {}: {}: Individual has different last name {} than family {}" \
                                  .format(child["NAME_LINE"], child["INDI"], get_last_name(child["NAME"]), last_name))

In [1022]:
# User Story 17
def check_parent_child_marriage():
    for family_id in family_dic:
        family = family_dic[family_id]
        if "HUSB" in family and family["HUSB"] != 'NA' and "WIFE" in family and family["WIFE"] != 'NA':
            if is_spouse_a_child(family["HUSB"], family["WIFE"]):
                anomaly_array.append("ANOMALY: INDIVIDUAL: US17: {}: {}: Individual married to child {}"\
                                     .format(family["HUSB_LINE"], family["HUSB"], family["WIFE"]))
            if is_spouse_a_child(family["WIFE"], family["HUSB"]):
                anomaly_array.append("ANOMALY: INDIVIDUAL: US17: {}: {}: Individual married to child {}"\
                                     .format(family["WIFE_LINE"], family["WIFE"], family["HUSB"]))

In [1023]:
def is_spouse_a_child(individual_id, spouse_id):
    individual_object = individuals[individual_id]
    if 'SPOUSE' in individual_object and individual_object['SPOUSE'] != 'NA':
        for spouse_fam in individual_object['SPOUSE']:
            if spouse_fam in family_dic:
                family = family_dic[spouse_fam]
                if "FAM_CHILD" in family and spouse_id in family["FAM_CHILD"]:
                    return True
        return False

In [1024]:
# User story 18
def check_sibling_marriage():
    for individual_id in individuals:
        individual = individuals[individual_id]
        if "SPOUSE" in individual and individual["SPOUSE"] != "NA":
            siblings = get_individual_siblings(individual_id, True, True)
            for spouse_family_id in individual["SPOUSE"]:
                spouse_family = family_dic[spouse_family_id]
                spouse_id = None
                if "WIFE" in spouse_family and spouse_family["WIFE"] != "NA":
                    if spouse_family["WIFE"] != individual_id:
                        spouse_id = spouse_family["WIFE"]
                if "HUSB" in spouse_family and spouse_family["HUSB"] != "NA":
                    if spouse_family["HUSB"] != individual_id:
                        spouse_id = spouse_family["HUSB"]
                if spouse_id is not None and spouse_id in siblings:
                    anomaly_array.append("ANOMALY: INDIVIDUAL: US18: {}: {}: Individual married to sibling {}"\
                                         .format(individual["INDI_LINE"], individual_id, spouse_id))

In [1025]:
#User_Story_20 Aunts and uncles
#Aunts and uncles should not marry their nieces or nephews
def is_uncle_aunt_marriage_legal():
    for indi in individuals.values(): #scans through each individual first
        current_sp = indi["SPOUSE"] #Array of spouse's family IDs
        current_fm = indi["INDI_CHILD"] #gets the family ID that the person belongs to
        if (current_sp != "NA" and current_fm != "NA"): #if the person has a spouse
            for fam_id in current_fm: #scans through uncle's families
                current_family = family_dic[fam_id]
                current_siblings = current_family["children_objects"] #get the uncle's siblings
                for child in current_siblings: #scans through all siblings
                    child_spouses = child["SPOUSE"]
                    if (child_spouses != "NA"):
                        for spouse in child_spouses:
                            spouse_family = family_dic[spouse]
                            for sp in current_sp:
                                if (family_dic[sp]["WIFE"] in spouse_family["FAM_CHILD"]):
                                    current_sp_family = family_dic[sp].values()
                                    anomaly_array.append("ANOMALY: FAMILY: US20: {}: {}: Person {} should not marry person {}".format(family_dic[sp]["HUSB_LINE"], family_dic[sp]["FAM"], family_dic[sp]["HUSB"], family_dic[sp]["WIFE"]))
                                    return False
                                elif(family_dic[sp]["HUSB"] in spouse_family["FAM_CHILD"]):
                                    anomaly_array.append("ANOMALY: FAMILY: US20: {}: {}: Person {} should not marry person {}".format(family_dic[sp]["WIFE_LINE"], family_dic[sp]["FAM"], family_dic[sp]["WIFE"], family_dic[sp]["HUSB"]))
                                    return False
    return True

In [1026]:
#USID: 23
def unique_name_and_birth():
    li = {}
    for value in individuals.values():
        temp = value["NAME"] + value["BIRT"]
        if temp in li:
            anomaly_array.append("ANOMALY: INDIVIDUAL: US23: {}: {}: {}: Individuals have the same name {} and birth date {}".format(value["INDI_LINE"], value["INDI"], li[temp], value["NAME"], value["BIRT"]))
        else:
            li[temp]=value["INDI"]

In [1027]:
#USID: 25
def unique_family_name_and_birth():
    li = {}
    for value in family_dic.values():
        if "children_objects" in value:
            for child in value["children_objects"]:
                temp = child["NAME"] + child["BIRT"]
                if temp in li:
                    anomaly_array.append("ANOMALY: INDIVIDUAL: US25: {}: {}: {}: Individuals share the same first name {} and birth date {} from family {}".format(value["FAM_LINE"], child["INDI"], li[temp], child["NAME"], child["BIRT"], value["FAM"]))
                else:          
                    li[temp]=child["INDI"]

In [1028]:
#User_Story_29: List all deceased individuals in a GEDCOM file
#Prints out a table with all the deceased people's information
def listDeceased():
    current_dic = {}
    deceased_count = 0
    for value in individuals.values():
        if(str(value["DEAT"]) != "NA" and (value["ALIVE"])):
            error_array.append(("ERROR: INDIVIDUAL: US29: {}: Person is alive but has Death Date {}").format(value["NAME_LINE"], value["NAME"], value["DEAT"]))
        #print(("ERROR: INDIVIDUAL: US29: {}: Person is alive but has Death Date {}").format(value["NAME_LINE"], value["NAME"], value["DEAT"]))
        elif(str(value["DEAT"]) == "NA" and (not value["ALIVE"])):
            error_array.append(("ERROR: INDIVIDUAL: US29: {}: Person {}: is dead but has no Death Date").format(value["INDI_LINE"], value["INDI"]));
        #print(("ERROR: INDIVIDUAL: US29: {}: Person {}: is dead but has no Death Date").format(value["INDI_LINE"], value["INDI"]))
        elif(not value["ALIVE"]):
            deceased_count += 1
            current_dic[value["INDI"]] = value    
    if deceased_count > 0:
        #print("User_Story_29: List all deceased individuals in a GEDCOM file")
        #Use pretty table module to print out the results
        allFields = ["ID", "Name", "Gender", "Birthday", "Age", "Alive", "Death"]
        tagNames = ["INDI", "NAME", "SEX", "BIRT", "AGE", "ALIVE", "DEAT"]
        printTable("US29: Deceased People Table", allFields, tagNames, current_dic)

In [1029]:
#User_Story_30: List all living married people in a GEDCOM file
#Prints out a table with all the living married people's information
def listLivingMarried():
    current_dic = {}
    living_count = 0
    for value in individuals.values():
        if(value["ALIVE"] and value["SPOUSE"] != "NA"):
            current_dic[value["INDI"]] = value
            living_count += 1
        elif(not value["ALIVE"] and value["SPOUSE"] != "NA"):
            error_array.append("ERROR: INDIVIDUAL: US30: {}: {}: Deceased Person is married to Person {}".format(value["INDI_LINE"], value["INDI"], "".join(value["SPOUSE"])))
#             print("ERROR: INDIVIDUAL: US30: {}: {}: Deceased Person is married to Person {}".format(value["INDI_LINE"], value["INDI"], "".join(value["SPOUSE"])))
    if living_count > 0:
#         print("User_Story_30: List all living married people in a GEDCOM file")
        #Use pretty table module to print out the results
        allFields = ["ID", "Name", "Gender", "Birthday", "Age", "Alive", "Death", "Spouse"]
        tagNames = ["INDI", "NAME", "SEX", "BIRT", "AGE", "ALIVE", "DEAT", "SPOUSE"]
        printTable("US30: Living & Married People Table", allFields, tagNames, current_dic)

In [1030]:
#US 32: List multiple births
def multiple_birth():
    for value in family_dic.values():
        li={}
        if "children_objects" in value:
            for child in value["children_objects"]:
                temp = str(child["INDI_CHILD"]) + child["BIRT"]
                if temp in li:
                    anomaly_array.append("ANOMALY: FAMILY: US32: {}: {}: The two or more individuals were born at the same time".format(value["FAM_LINE"], value["FAM"]))
                else:          
                    li[temp]=child["INDI"]

In [1031]:
#US 34: 
def large_age_diff():
    for value in family_dic.values():
#         for family_id in family_dic:
        family= value["FAM"]
        if "husband_object" in family_dic[family]:
            husband=family_dic[family]["husband_object"]
            hage = int(husband["AGE"])
        if "wife_object" in family_dic[family]:
            wife=family_dic[family]["wife_object"]
            wage = int(wife["AGE"])
            agediff = hage/wage
            if agediff>=2 or agediff<=0.5:
                anomaly_array.append("ANOMALY: FAMILY: US34: {}: {}: Family has a large spouse age difference".format(value["FAM_LINE"], value["FAM"]))

In [1032]:
# Prints out the Individual Table
def printIndividualTable():
    #print("People Table")
    allFields = ["ID", "Name", "Gender", "Birthday", "Age", "Alive", "Death", "Child", "Spouse"]
    tagNames = ["INDI", "NAME", "SEX", "BIRT", "AGE", "ALIVE", "DEAT", "INDI_CHILD", "SPOUSE"]
    
    printTable("People Table", allFields, tagNames, individuals)

In [1033]:
# Prints out the Family Table
def printFamilyTable():
    #print("Families Table")
    allFields = ["ID", "Married", "Divorced", "Husband ID", "Husband Name", "Wife ID", "Wife Name", "Children"]
    tagNames = ["FAM", "MARR", "DIV", "HUSB", "HUSB_NAME", "WIFE", "WIFE_NAME", "FAM_CHILD"]
    
    printTable("Families Table", allFields, tagNames, family_dic)

In [1034]:
# Prints out the data in both error and anomaly arrays
def printError():
    file = open("cs555_sprint_outputs.txt", "a")
    if (len(error_array) > 0):
        print("------error messages------")
        file.write("------error messages------" + "\n")
        for error in error_array:
            print(error)
            file.write(error + "\n")
    if(len(anomaly_array) > 0):
        print("-----anomaly messages-----")
        file.write("-----anomaly messages-----" + "\n")
        for anomaly in anomaly_array:
            print(anomaly)
            file.write(anomaly + "\n")
    file.close()

In [1035]:
# Prints out a table of dictionary data with the passed-in arguments
# Parameters:
# fields: a list of fields for the table
# tag_names: tag names used to access each data field
# dictionary: a dictionary filled with data
def printTable(table_name, fields, tag_names, dictionary):
    print(table_name)
    table = PrettyTable()
    table.field_names = fields
    for element in dictionary.values():    
        count = 1
        row_data = "" #string uses to store each tag within the current element
        for name in tag_names:
            if (count < int(len(tag_names))): #not the last element
                if (isinstance(element[name], list)): #current element is an array
                    row_data += (",".join(element[name]) + "? ")
                else: #current element is not an array
                    row_data += (str(element[name]) + "? ")
            elif (count == int(len(tag_names))):
                if (isinstance(element[name], list)): #current element is an array
                    row_data += (",".join(element[name]))
                else: #current element is not an array
                    row_data += (str(element[name]))
                break
            count+= 1;
        table.add_row(row_data.split('?'))
    # Stores outputs to a text file
    storeResults(table_name, table.get_string())
    print(table)

In [1036]:
# Stores all Project outputs into a single text file
# Parameters:
# result_name: name that will appear 
def storeResults(result_name, outputs):
    file = open("cs555_sprint_outputs.txt", "a")
    file.write(result_name + "\n")
    file.write(outputs + "\n\n")
    file.close()

In [1037]:
# Global variables initialization
tag_sp = ["INDI", "FAM"]
#Level Zero Tags
tag_zero = ["HEAD", "TRLR", "NOTE"]
#Level One Tags
tag_one = ["NAME", "SEX", "BIRT", "DEAT","FAMC","FAMS","MARR", "DIV","HUSB","WIFE","CHIL"]
#Level Zero Tags
tag_fam = {"INDI":["NAME", "SEX","BIRT", "DEAT","FAMC","FAMS"],
             "FAM":["MARR", "DIV","HUSB","WIFE","CHIL"], 
             "DATE":["BIRT", "DEAT", "DIV", "MARR"]}
family_dic = None
individuals = None
error_array = []
anomaly_array = []

In [1038]:
document = read_in("./acceptance_test_file_sprint2.ged")
if os.path.exists("cs555_sprint_outputs.txt"):
    os.remove("cs555_sprint_outputs.txt")

create_individuals_map()
create_family_dic()
# Prints out all the people in GEDCOM file
printIndividualTable()
# Prints out all the families in GEDCO file
printFamilyTable()
#User 01
validate_dates()
#User 02
is_birth_before_marraige()
#US04
is_marriage_after_divorce()
#US05
is_marriage_after_death()
#User 07
is_age_legal()
#User 08
birth_before_marriage()
#User 09
birth_before_death()
#User 10
is_marriage_legal()
#User 11
check_for_bigamy()
#User 13
check_sibling_spacing()
#User 15
check_sibling_count()
#User 16
check_last_names()
#User 17
check_parent_child_marriage()
#User 18
check_sibling_marriage()
#User 20
is_uncle_aunt_marriage_legal()
#User 23
unique_name_and_birth()
#User 25
unique_family_name_and_birth()
#User 29
listDeceased()
#User 30
listLivingMarried()
#User 32
multiple_birth()
#User 34
large_age_diff()


#Prints out all the errors and anomalies of each function
printError()

People Table
+-------+----------------------+--------+-------------+------+--------+------------+--------+--------------------+
|   ID  |         Name         | Gender |   Birthday  | Age  | Alive  |   Death    | Child  |       Spouse       |
+-------+----------------------+--------+-------------+------+--------+------------+--------+--------------------+
|  @I1@ |  Willodean /Malagon/ |    F   |   1958-7-7  |  15  |  False |  1974-6-20 |  @F2@  |        @F1@        |
|  @I2@ |    Samuel /Venzon/   |    M   |   1958-12-6 |  60  |  True  |     NA     |   NA   |        @F1@        |
|  @I3@ |   Stephan /Malagon/  |    M   |   1930-8-21 |  89  |  True  |     NA     |  @F3@  |        @F2@        |
|  @I4@ |  Laverna /Leonhardt/ |    F   |   1932-6-9  |  87  |  True  |     NA     |   NA   |        @F2@        |
|  @I5@ |     Ken /Malagon/    |    M   |   1962-2-6  |  57  |  True  |     NA     |  @F2@  |        @F4@        |
|  @I6@ |   Lucile /Malagon/   |    F   |   1931-9-9  |  88  |  True  |     NA     |  @F3@  |        @F4@        |
|  @I7@ |    Josh /Malagon/    |    M   |  1964-10-31 |  19  |  False |  1984-5-7  |  @F2@  |        @F5@        |
|  @I8@ |     Byron /Vezon/    |    M   |   1973-7-6  |  46  |  True  |     NA     |  @F1@  |        @F6@        |
|  @I9@ |    Shyla /Bertone/   |    F   |   2021-8-9  |  -2  |  True  |     NA     |   NA   |        @F6@        |
| @I10@ |    Cinda /Burgard/   |    F   |   1966-8-8  |  53  |  True  |     NA     |   NA   |      @F5@,@F7@     |
| @I11@ |   Jerrell /Finklea/  |    M   |   1965-9-8  |  54  |  True  |     NA     |   NA   |        @F7@        |
| @I12@ |    Ruthe /Malagon/   |    F   |   1977-9-8  |  42  |  True  |     NA     |  @F5@  |        @F8@        |
| @I13@ |     Darwin /Tung/    |    M   |   1987-9-6  |  32  |  True  |     NA     |  @F7@  |        @F8@        |
| @I14@ |     Beth /Venzon/    |    F   |   1973-8-8  |  46  |  True  |     NA     |  @F1@  |         NA         |
| @I15@ |    Jacob /Malagon/   |    M   |   1970-11-8 |  48  |  True  |     NA     |  @F2@  |        @F9@        |
| @I16@ |  Jaqueline /Kindel/  |    F   |   1969-9-8  |  50  |  True  |     NA     |   NA   |        @F9@        |
| @I17@ |   Johnny /Malagon/   |    M   |   1901-7-14 |  118 |  True  |     NA     |   NA   |        @F3@        |
| @I18@ |     Lura /Lomas/     |    F   |   1900-8-30 |  119 |  True  |     NA     |   NA   |        @F3@        |
| @I19@ |    Tesha /Malagon/   |    F   |   1819-7-8  |  200 |  False |  2019-8-2  |  @F3@  |         NA         |
| @I20@ |   Wilber /Iglesias/  |    M   |   1987-9-6  |  32  |  True  |     NA     |  @F7@  |         NA         |
| @I21@ |     Regena /Ali/     |    F   |   1820-10-8 |  199 |  True  |     NA     |  @F3@  |         NA         |
| @I22@ |     Tom /Malagon/    |    M   |   1923-5-8  |  96  |  True  |     NA     |  @F3@  |     @F10@,@F11@    |
| @I23@ |    Sock /Malagon/    |    F   |  1955-10-17 |  64  |  True  |     NA     |  @F3@  |        @F10@       |
| @I24@ |   Vonnie /Malagon/   |    M   |   1936-3-10 |   1  |  False |  1937-7-6  |  @F3@  |         NA         |
| @I25@ |    Shena /Malagon/   |    F   |   1937-11-6 |  81  |  True  |     NA     |  @F3@  |        @F12@       |
| @I26@ |       Kay /Ali/      |    M   |   1950-9-9  |  69  |  True  |     NA     |   NA   |        @F12@       |
| @I27@ |   Hailey /Malagon/   |    F   |   1938-10-8 |  19  |  False |  1958-9-18 |  @F3@  |        @F13@       |
| @I28@ |     Vasu /Zdenek/    |    M   |   1940-8-9  |  79  |  True  |     NA     |   NA   |        @F13@       |
| @I29@ |   Milford /Malagon/  |    M   |   1939-11-8 |  79  |  True  |     NA     |  @F3@  |         NA         |
| @I30@ |   Rashida /Malagon/  |    F   |   1940-12-7 |  78  |  True  |     NA     |  @F3@  |  @F14@,@F15@,@F16@ |
| @I31@ |    Renate /Giotto/   |    M   |   1943-10-9 |  76  |  True  |     NA     |   NA   |        @F14@       |
| @I32@ |   Deeann /Malagon/   |    F   |  1941-10-23 |  77  |  True  |     NA     |  @F3@  |         NA         |
| @I33@ |    Dario /Malagon/   |    M   |  1942-12-14 |  76  |  True  |     NA     |  @F3@  |        @F17@       |
| @I34@ |    Sock /Malagon/    |    F   |  1955-10-17 |  64  |  True  |     NA     |  @F11@ |        @F17@       |
| @I35@ |    Chet /Malagon/    |    M   |   1943-8-18 |  76  |  True  |     NA     |  @F3@  |  @F18@,@F19@,@F20@ |
| @I36@ |  Prabhakar /Jamyang/ |    F   |   1946-9-6  |  73  |  True  |     NA     |   NA   |        @F18@       |
| @I37@ |    Chet /Malagon/    |    M   |   1943-8-18 |  76  |  True  |     NA     |  @F3@  |         NA         |
| @I38@ |    Loyd /Malagon/    |    M   |   1965-8-9  |  54  |  True  |     NA     |  @F3@  |         NA         |
| @I39@ |    Kitty /Malagon/   |    F   |   1925-6-5  |  94  |  True  |     NA     |   NA   |        @F11@       |
| @I40@ |  Calfuray /Malagon/  |    F   |   1980-9-9  |  39  |  True  |     NA     |  @F12@ |         NA         |
| @I41@ |      Yam /Tarah/     |    M   |   1941-9-9  |  78  |  True  |     NA     |   NA   |        @F15@       |
| @I42@ |    Petros /Ganesh/   |    M   |  1942-10-10 |  77  |  True  |     NA     |   NA   |        @F16@       |
| @I43@ |   Enrica /Coleman/   |    F   |   1980-8-18 |  39  |  True  |     NA     |  @F20@ |         NA         |
| @I44@ |   Mahfuz /Claudia/   |    F   |   1944-9-8  |  75  |  True  |     NA     |   NA   |        @F19@       |
+-------+----------------------+--------+-------------+------+--------+------------+--------+--------------------+
Families Table
+-------+------------+------------+------------+--------------------+---------+----------------------+------------------------------------------------------------------------------------------------+
|   ID  |  Married   |  Divorced  | Husband ID |    Husband Name    | Wife ID |      Wife Name       |                                            Children                                            |
+-------+------------+------------+------------+--------------------+---------+----------------------+------------------------------------------------------------------------------------------------+
|  @F1@ |  1970-7-7  |     NA     |    @I2@    |   Samuel /Venzon/  |   @I1@  |  Willodean /Malagon/ |                                           @I8@,@I14@                                           |
|  @F2@ |  1947-9-17 |     NA     |    @I3@    |  Stephan /Malagon/ |   @I4@  |  Laverna /Leonhardt/ |                                      @I1@,@I5@,@I7@,@I15@                                      |
|  @F3@ |  1925-4-28 |     NA     |    @I17@   |  Johnny /Malagon/  |   @I18@ |     Lura /Lomas/     |  @I3@,@I6@,@I19@,@I21@,@I22@,@I23@,@I24@,@I25@,@I27@,@I29@,@I30@,@I32@,@I33@,@I35@,@I37@,@I38@ |
|  @F4@ |     NA     |     NA     |    @I5@    |    Ken /Malagon/   |   @I6@  |   Lucile /Malagon/   |                                               NA                                               |
|  @F5@ |  1978-9-2  |     NA     |    @I7@    |   Josh /Malagon/   |   @I10@ |    Cinda /Burgard/   |                                              @I12@                                             |
|  @F6@ |     NA     |     NA     |    @I8@    |    Byron /Vezon/   |   @I9@  |    Shyla /Bertone/   |                                               NA                                               |
|  @F7@ |  1985-4-5  |     NA     |    @I11@   |  Jerrell /Finklea/ |   @I10@ |    Cinda /Burgard/   |                                           @I13@,@I20@                                          |
|  @F8@ |  2019-11-2 |     NA     |    @I13@   |    Darwin /Tung/   |   @I12@ |    Ruthe /Malagon/   |                                               NA                                               |
|  @F9@ |  1968-6-4  |     NA     |    @I15@   |   Jacob /Malagon/  |   @I16@ |  Jaqueline /Kindel/  |                                               NA                                               |
| @F10@ |     NA     |     NA     |    @I22@   |    Tom /Malagon/   |   @I23@ |    Sock /Malagon/    |                                               NA                                               |
| @F11@ |  1945-8-5  |  1956-7-7  |    @I22@   |    Tom /Malagon/   |   @I39@ |    Kitty /Malagon/   |                                              @I34@                                             |
| @F12@ |  1958-5-5  |  1955-10-9 |    @I26@   |      Kay /Ali/     |   @I25@ |    Shena /Malagon/   |                                              @I40@                                             |
| @F13@ |  1959-5-4  |     NA     |    @I28@   |    Vasu /Zdenek/   |   @I27@ |   Hailey /Malagon/   |                                               NA                                               |
| @F14@ |  1963-11-3 |     NA     |    @I31@   |   Renate /Giotto/  |   @I30@ |   Rashida /Malagon/  |                                               NA                                               |
| @F15@ |  1960-5-4  |     NA     |    @I41@   |     Yam /Tarah/    |   @I30@ |   Rashida /Malagon/  |                                               NA                                               |
| @F16@ |  1962-5-5  |     NA     |    @I42@   |   Petros /Ganesh/  |   @I30@ |   Rashida /Malagon/  |                                               NA                                               |
| @F17@ |  1980-5-6  |     NA     |    @I33@   |   Dario /Malagon/  |   @I34@ |    Sock /Malagon/    |                                               NA                                               |
| @F18@ |     NA     |     NA     |    @I35@   |   Chet /Malagon/   |   @I36@ |  Prabhakar /Jamyang/ |                                               NA                                               |
| @F19@ |  1964-4-5  |  1966-11-8 |    @I35@   |   Chet /Malagon/   |   @I44@ |   Mahfuz /Claudia/   |                                               NA                                               |
| @F20@ |     NA     |     NA     |    @I35@   |   Chet /Malagon/   |    NA   |          NA          |                                              @I43@                                             |
+-------+------------+------------+------------+--------------------+---------+----------------------+------------------------------------------------------------------------------------------------+
US29: Deceased People Table
+-------+----------------------+--------+-------------+------+--------+------------+
|   ID  |         Name         | Gender |   Birthday  | Age  | Alive  |   Death    |
+-------+----------------------+--------+-------------+------+--------+------------+
|  @I1@ |  Willodean /Malagon/ |    F   |   1958-7-7  |  15  |  False |  1974-6-20 |
|  @I7@ |    Josh /Malagon/    |    M   |  1964-10-31 |  19  |  False |  1984-5-7  |
| @I19@ |    Tesha /Malagon/   |    F   |   1819-7-8  |  200 |  False |  2019-8-2  |
| @I24@ |   Vonnie /Malagon/   |    M   |   1936-3-10 |   1  |  False |  1937-7-6  |
| @I27@ |   Hailey /Malagon/   |    F   |   1938-10-8 |  19  |  False |  1958-9-18 |
+-------+----------------------+--------+-------------+------+--------+------------+
US30: Living & Married People Table
+-------+----------------------+--------+-------------+------+-------+-------+--------------------+
|   ID  |         Name         | Gender |   Birthday  | Age  | Alive | Death |       Spouse       |
+-------+----------------------+--------+-------------+------+-------+-------+--------------------+
|  @I2@ |    Samuel /Venzon/   |    M   |   1958-12-6 |  60  |  True |   NA  |        @F1@        |
|  @I3@ |   Stephan /Malagon/  |    M   |   1930-8-21 |  89  |  True |   NA  |        @F2@        |
|  @I4@ |  Laverna /Leonhardt/ |    F   |   1932-6-9  |  87  |  True |   NA  |        @F2@        |
|  @I5@ |     Ken /Malagon/    |    M   |   1962-2-6  |  57  |  True |   NA  |        @F4@        |
|  @I6@ |   Lucile /Malagon/   |    F   |   1931-9-9  |  88  |  True |   NA  |        @F4@        |
|  @I8@ |     Byron /Vezon/    |    M   |   1973-7-6  |  46  |  True |   NA  |        @F6@        |
|  @I9@ |    Shyla /Bertone/   |    F   |   2021-8-9  |  -2  |  True |   NA  |        @F6@        |
| @I10@ |    Cinda /Burgard/   |    F   |   1966-8-8  |  53  |  True |   NA  |      @F5@,@F7@     |
| @I11@ |   Jerrell /Finklea/  |    M   |   1965-9-8  |  54  |  True |   NA  |        @F7@        |
| @I12@ |    Ruthe /Malagon/   |    F   |   1977-9-8  |  42  |  True |   NA  |        @F8@        |
| @I13@ |     Darwin /Tung/    |    M   |   1987-9-6  |  32  |  True |   NA  |        @F8@        |
| @I15@ |    Jacob /Malagon/   |    M   |   1970-11-8 |  48  |  True |   NA  |        @F9@        |
| @I16@ |  Jaqueline /Kindel/  |    F   |   1969-9-8  |  50  |  True |   NA  |        @F9@        |
| @I17@ |   Johnny /Malagon/   |    M   |   1901-7-14 |  118 |  True |   NA  |        @F3@        |
| @I18@ |     Lura /Lomas/     |    F   |   1900-8-30 |  119 |  True |   NA  |        @F3@        |
| @I22@ |     Tom /Malagon/    |    M   |   1923-5-8  |  96  |  True |   NA  |     @F10@,@F11@    |
| @I23@ |    Sock /Malagon/    |    F   |  1955-10-17 |  64  |  True |   NA  |        @F10@       |
| @I25@ |    Shena /Malagon/   |    F   |   1937-11-6 |  81  |  True |   NA  |        @F12@       |
| @I26@ |       Kay /Ali/      |    M   |   1950-9-9  |  69  |  True |   NA  |        @F12@       |
| @I28@ |     Vasu /Zdenek/    |    M   |   1940-8-9  |  79  |  True |   NA  |        @F13@       |
| @I30@ |   Rashida /Malagon/  |    F   |   1940-12-7 |  78  |  True |   NA  |  @F14@,@F15@,@F16@ |
| @I31@ |    Renate /Giotto/   |    M   |   1943-10-9 |  76  |  True |   NA  |        @F14@       |
| @I33@ |    Dario /Malagon/   |    M   |  1942-12-14 |  76  |  True |   NA  |        @F17@       |
| @I34@ |    Sock /Malagon/    |    F   |  1955-10-17 |  64  |  True |   NA  |        @F17@       |
| @I35@ |    Chet /Malagon/    |    M   |   1943-8-18 |  76  |  True |   NA  |  @F18@,@F19@,@F20@ |
| @I36@ |  Prabhakar /Jamyang/ |    F   |   1946-9-6  |  73  |  True |   NA  |        @F18@       |
| @I39@ |    Kitty /Malagon/   |    F   |   1925-6-5  |  94  |  True |   NA  |        @F11@       |
| @I41@ |      Yam /Tarah/     |    M   |   1941-9-9  |  78  |  True |   NA  |        @F15@       |
| @I42@ |    Petros /Ganesh/   |    M   |  1942-10-10 |  77  |  True |   NA  |        @F16@       |
| @I44@ |   Mahfuz /Claudia/   |    F   |   1944-9-8  |  75  |  True |   NA  |        @F19@       |
+-------+----------------------+--------+-------------+------+-------+-------+--------------------+
------error messages------
ERROR: FAMILY: US01: 520: @F8@: Family has marrige date 2019-11-2 later than today
ERROR: INDIVIDUAL: US01: 102: @I9@: Individual has birth date 2021-8-9 later than today
ERROR: INDIVIDUAL: US02: 526: @I15@: Person has marriage date 1968-6-4 before birth date 1970-11-8
ERROR: INDIVIDUAL: US02: 526: @I16@: Person has marriage date 1968-6-4 before birth date 1969-9-8
ERROR: INDIVIDUAL: US13: 86: Child @I8@ is born within 8 months and more than 2 days of sibling
ERROR: INDIVIDUAL: US13: 144: Child @I14@ is born within 8 months and more than 2 days of sibling
ERROR: INDIVIDUAL: US30: 14: @I1@: Deceased Person is married to Person @F1@
ERROR: INDIVIDUAL: US30: 74: @I7@: Deceased Person is married to Person @F5@
ERROR: INDIVIDUAL: US30: 270: @I27@: Deceased Person is married to Person @F13@
-----anomaly messages-----
ANOMALY: INDIVIDUAL: US04: 548: @I25@: Marriage Before Divorce - Marriage Date 1958-5-5 - Divorce Date 1955-10-9
ANOMALY: INDIVIDUAL: US04: 548: @I26@: Marriage Before Divorce - Marriage Date 1958-5-5 - Divorce Date 1955-10-9
ANOMALY: INDIVIDUAL: US05: 557: @I27@: Marriage Before Death - Marriage Date 1959-5-4 - Death Date 1958-9-18
ANOMALY: INDIVIDUAL: US07: 196: @I19@: More than 150 years old at death - Birth Date 1819-7-8: Death Date 2019-8-2
ANOMALY: INDIVIDUAL: US07: 216: @I21@: More than 150 years old - Birth Date 1820-10-8
ANOMALY: INDIVIDUAL: US08: 196: @I19@: Child was born at 1819-7-8 before marriage of parents 1925-4-28
ANOMALY: INDIVIDUAL: US08: 216: @I21@: Child was born at 1820-10-8 before marriage of parents 1925-4-28
ANOMALY: INDIVIDUAL: US08: 225: @I22@: Child was born at 1923-5-8 before marriage of parents 1925-4-28
ANOMALY: INDIVIDUAL: US08: 130: @I12@: Child was born at 1977-9-8 before marriage of parents 1978-9-2
ANOMALY: INDIVIDUAL: US08: 404: @I40@: Child was born at 1980-9-9 after 9 month divorce of parents 1955-10-9
ANOMALY: INDIVIDUAL: US10: 32: @I2@: Father of family @F1@ is younger than 14 years old - Birth Date 1958-12-6
ANOMALY: INDIVIDUAL: US10: 20: @I1@: Wife of family @F1@ is younger than 14 years old - Birth Date 1958-7-7
ANOMALY: INDIVIDUAL: US10: 60: @I5@: Father of family @F4@ is younger than 14 years old - Birth Date 1962-2-6
ANOMALY: INDIVIDUAL: US10: 70: @I6@: Wife of family @F4@ is younger than 14 years old - Birth Date 1931-9-9
ANOMALY: INDIVIDUAL: US10: 80: @I7@: Father of family @F5@ is younger than 14 years old - Birth Date 1964-10-31
ANOMALY: INDIVIDUAL: US10: 111: @I10@: Wife of family @F5@ is younger than 14 years old - Birth Date 1966-8-8
ANOMALY: INDIVIDUAL: US10: 92: @I8@: Father of family @F6@ is younger than 14 years old - Birth Date 1973-7-6
ANOMALY: INDIVIDUAL: US10: 102: @I9@: Wife of family @F6@ is younger than 14 years old - Birth Date 2021-8-9
ANOMALY: INDIVIDUAL: US10: 159: @I15@: Father of family @F9@ is younger than 14 years old - Birth Date 1970-11-8
ANOMALY: INDIVIDUAL: US10: 169: @I16@: Wife of family @F9@ is younger than 14 years old - Birth Date 1969-9-8
ANOMALY: INDIVIDUAL: US10: 236: @I23@: Wife of family @F10@ is younger than 14 years old - Birth Date 1955-10-17
ANOMALY: INDIVIDUAL: US10: 267: @I26@: Father of family @F12@ is younger than 14 years old - Birth Date 1950-9-9
ANOMALY: INDIVIDUAL: US11: 300: @I30@: Performing bigamy
ANOMALY: FAMILY: US15: 463: @F3@: Family has 16 siblings which is more than 15 siblings
ANOMALY: INDIVIDUAL: US16: 87: @I8@: Individual has different last name Vezon than family Venzon
ANOMALY: INDIVIDUAL: US16: 135: @I13@: Individual has different last name Tung than family Finklea
ANOMALY: INDIVIDUAL: US16: 202: @I20@: Individual has different last name Iglesias than family Finklea
ANOMALY: INDIVIDUAL: US18: 124: @I12@: Individual married to sibling @I13@
ANOMALY: INDIVIDUAL: US18: 134: @I13@: Individual married to sibling @I12@
ANOMALY: INDIVIDUAL: US18: 219: @I22@: Individual married to sibling @I23@
ANOMALY: INDIVIDUAL: US18: 230: @I23@: Individual married to sibling @I22@
ANOMALY: FAMILY: US20: 488: @F4@: Person @I6@ should not marry person @I5@
ANOMALY: INDIVIDUAL: US23: 340: @I34@: @I23@: Individuals have the same name Sock /Malagon/ and birth date 1955-10-17
ANOMALY: INDIVIDUAL: US23: 371: @I37@: @I35@: Individuals have the same name Chet /Malagon/ and birth date 1943-8-18
ANOMALY: INDIVIDUAL: US25: 463: @I37@: @I35@: Individuals share the same first name Chet /Malagon/ and birth date 1943-8-18 from family @F3@
ANOMALY: INDIVIDUAL: US25: 534: @I34@: @I23@: Individuals share the same first name Sock /Malagon/ and birth date 1955-10-17 from family @F11@
ANOMALY: FAMILY: US32: 463: @F3@: The two or more individuals were born at the same time
ANOMALY: FAMILY: US32: 508: @F7@: The two or more individuals were born at the same time
ANOMALY: FAMILY: US34: 443: @F1@: Family has a large spouse age difference
ANOMALY: FAMILY: US34: 490: @F5@: Family has a large spouse age difference
ANOMALY: FAMILY: US34: 501: @F6@: Family has a large spouse age difference
ANOMALY: FAMILY: US34: 554: @F13@: Family has a large spouse age difference

In [1039]:
individuals

{'@I1@': {'INDI': '@I1@',
  'INDI_LINE': 14,
  'NAME': 'Willodean /Malagon/',
  'NAME_LINE': 15,
  'SEX': 'F',
  'SEX_LINE': 19,
  'BIRT_LINE': 20,
  'BIRT': '1958-7-7',
  'DEAT_LINE': 22,
  'DEAT': '1974-6-20',
  'INDI_CHILD': ['@F2@'],
  'SPOUSE': ['@F1@'],
  'FAMS_LINE': 24,
  'FAMC_LINE': 25,
  'AGE': '15',
  'ALIVE': False},
 '@I2@': {'INDI': '@I2@',
  'INDI_LINE': 26,
  'NAME': 'Samuel /Venzon/',
  'NAME_LINE': 27,
  'SEX': 'M',
  'SEX_LINE': 31,
  'BIRT_LINE': 32,
  'BIRT': '1958-12-6',
  'INDI_CHILD': 'NA',
  'SPOUSE': ['@F1@'],
  'FAMS_LINE': 34,
  'DEAT': 'NA',
  'AGE': '60',
  'ALIVE': True},
 '@I3@': {'INDI': '@I3@',
  'INDI_LINE': 35,
  'NAME': 'Stephan /Malagon/',
  'NAME_LINE': 36,
  'SEX': 'M',
  'SEX_LINE': 40,
  'BIRT_LINE': 41,
  'BIRT': '1930-8-21',
  'INDI_CHILD': ['@F3@'],
  'SPOUSE': ['@F2@'],
  'FAMS_LINE': 43,
  'FAMC_LINE': 44,
  'DEAT': 'NA',
  'AGE': '89',
  'ALIVE': True},
 '@I4@': {'INDI': '@I4@',
  'INDI_LINE': 45,
  'NAME': 'Laverna /Leonhardt/',
  'NAME_LINE': 46,
  'SEX': 'F',
  'SEX_LINE': 50,
  'BIRT_LINE': 51,
  'BIRT': '1932-6-9',
  'INDI_CHILD': 'NA',
  'SPOUSE': ['@F2@'],
  'FAMS_LINE': 53,
  'DEAT': 'NA',
  'AGE': '87',
  'ALIVE': True},
 '@I5@': {'INDI': '@I5@',
  'INDI_LINE': 54,
  'NAME': 'Ken /Malagon/',
  'NAME_LINE': 55,
  'SEX': 'M',
  'SEX_LINE': 59,
  'BIRT_LINE': 60,
  'BIRT': '1962-2-6',
  'INDI_CHILD': ['@F2@'],
  'SPOUSE': ['@F4@'],
  'FAMS_LINE': 62,
  'FAMC_LINE': 63,
  'DEAT': 'NA',
  'AGE': '57',
  'ALIVE': True},
 '@I6@': {'INDI': '@I6@',
  'INDI_LINE': 64,
  'NAME': 'Lucile /Malagon/',
  'NAME_LINE': 65,
  'SEX': 'F',
  'SEX_LINE': 69,
  'BIRT_LINE': 70,
  'BIRT': '1931-9-9',
  'INDI_CHILD': ['@F3@'],
  'SPOUSE': ['@F4@'],
  'FAMS_LINE': 72,
  'FAMC_LINE': 73,
  'DEAT': 'NA',
  'AGE': '88',
  'ALIVE': True},
 '@I7@': {'INDI': '@I7@',
  'INDI_LINE': 74,
  'NAME': 'Josh /Malagon/',
  'NAME_LINE': 75,
  'SEX': 'M',
  'SEX_LINE': 79,
  'BIRT_LINE': 80,
  'BIRT': '1964-10-31',
  'DEAT_LINE': 82,
  'DEAT': '1984-5-7',
  'INDI_CHILD': ['@F2@'],
  'SPOUSE': ['@F5@'],
  'FAMS_LINE': 84,
  'FAMC_LINE': 85,
  'AGE': '19',
  'ALIVE': False},
 '@I8@': {'INDI': '@I8@',
  'INDI_LINE': 86,
  'NAME': 'Byron /Vezon/',
  'NAME_LINE': 87,
  'SEX': 'M',
  'SEX_LINE': 91,
  'BIRT_LINE': 92,
  'BIRT': '1973-7-6',
  'INDI_CHILD': ['@F1@'],
  'SPOUSE': ['@F6@'],
  'FAMS_LINE': 94,
  'FAMC_LINE': 95,
  'DEAT': 'NA',
  'AGE': '46',
  'ALIVE': True},
 '@I9@': {'INDI': '@I9@',
  'INDI_LINE': 96,
  'NAME': 'Shyla /Bertone/',
  'NAME_LINE': 97,
  'SEX': 'F',
  'SEX_LINE': 101,
  'BIRT_LINE': 102,
  'BIRT': '2021-8-9',
  'INDI_CHILD': 'NA',
  'SPOUSE': ['@F6@'],
  'FAMS_LINE': 104,
  'DEAT': 'NA',
  'AGE': '-2',
  'ALIVE': True},
 '@I10@': {'INDI': '@I10@',
  'INDI_LINE': 105,
  'NAME': 'Cinda /Burgard/',
  'NAME_LINE': 106,
  'SEX': 'F',
  'SEX_LINE': 110,
  'BIRT_LINE': 111,
  'BIRT': '1966-8-8',
  'INDI_CHILD': 'NA',
  'SPOUSE': ['@F5@', '@F7@'],
  'FAMS_LINE': 114,
  'DEAT': 'NA',
  'AGE': '53',
  'ALIVE': True},
 '@I11@': {'INDI': '@I11@',
  'INDI_LINE': 115,
  'NAME': 'Jerrell /Finklea/',
  'NAME_LINE': 116,
  'SEX': 'M',
  'SEX_LINE': 120,
  'BIRT_LINE': 121,
  'BIRT': '1965-9-8',
  'INDI_CHILD': 'NA',
  'SPOUSE': ['@F7@'],
  'FAMS_LINE': 123,
  'DEAT': 'NA',
  'AGE': '54',
  'ALIVE': True},
 '@I12@': {'INDI': '@I12@',
  'INDI_LINE': 124,
  'NAME': 'Ruthe /Malagon/',
  'NAME_LINE': 125,
  'SEX': 'F',
  'SEX_LINE': 129,
  'BIRT_LINE': 130,
  'BIRT': '1977-9-8',
  'INDI_CHILD': ['@F5@'],
  'SPOUSE': ['@F8@'],
  'FAMS_LINE': 132,
  'FAMC_LINE': 133,
  'DEAT': 'NA',
  'AGE': '42',
  'ALIVE': True},
 '@I13@': {'INDI': '@I13@',
  'INDI_LINE': 134,
  'NAME': 'Darwin /Tung/',
  'NAME_LINE': 135,
  'SEX': 'M',
  'SEX_LINE': 139,
  'BIRT_LINE': 140,
  'BIRT': '1987-9-6',
  'INDI_CHILD': ['@F7@'],
  'SPOUSE': ['@F8@'],
  'FAMS_LINE': 142,
  'FAMC_LINE': 143,
  'DEAT': 'NA',
  'AGE': '32',
  'ALIVE': True},
 '@I14@': {'INDI': '@I14@',
  'INDI_LINE': 144,
  'NAME': 'Beth /Venzon/',
  'NAME_LINE': 145,
  'SEX': 'F',
  'SEX_LINE': 149,
  'BIRT_LINE': 150,
  'BIRT': '1973-8-8',
  'INDI_CHILD': ['@F1@'],
  'SPOUSE': 'NA',
  'FAMC_LINE': 152,
  'DEAT': 'NA',
  'AGE': '46',
  'ALIVE': True},
 '@I15@': {'INDI': '@I15@',
  'INDI_LINE': 153,
  'NAME': 'Jacob /Malagon/',
  'NAME_LINE': 154,
  'SEX': 'M',
  'SEX_LINE': 158,
  'BIRT_LINE': 159,
  'BIRT': '1970-11-8',
  'INDI_CHILD': ['@F2@'],
  'SPOUSE': ['@F9@'],
  'FAMS_LINE': 161,
  'FAMC_LINE': 162,
  'DEAT': 'NA',
  'AGE': '48',
  'ALIVE': True},
 '@I16@': {'INDI': '@I16@',
  'INDI_LINE': 163,
  'NAME': 'Jaqueline /Kindel/',
  'NAME_LINE': 164,
  'SEX': 'F',
  'SEX_LINE': 168,
  'BIRT_LINE': 169,
  'BIRT': '1969-9-8',
  'INDI_CHILD': 'NA',
  'SPOUSE': ['@F9@'],
  'FAMS_LINE': 171,
  'DEAT': 'NA',
  'AGE': '50',
  'ALIVE': True},
 '@I17@': {'INDI': '@I17@',
  'INDI_LINE': 172,
  'NAME': 'Johnny /Malagon/',
  'NAME_LINE': 173,
  'SEX': 'M',
  'SEX_LINE': 177,
  'BIRT_LINE': 178,
  'BIRT': '1901-7-14',
  'INDI_CHILD': 'NA',
  'SPOUSE': ['@F3@'],
  'FAMS_LINE': 180,
  'DEAT': 'NA',
  'AGE': '118',
  'ALIVE': True},
 '@I18@': {'INDI': '@I18@',
  'INDI_LINE': 181,
  'NAME': 'Lura /Lomas/',
  'NAME_LINE': 182,
  'SEX': 'F',
  'SEX_LINE': 186,
  'BIRT_LINE': 187,
  'BIRT': '1900-8-30',
  'INDI_CHILD': 'NA',
  'SPOUSE': ['@F3@'],
  'FAMS_LINE': 189,
  'DEAT': 'NA',
  'AGE': '119',
  'ALIVE': True},
 '@I19@': {'INDI': '@I19@',
  'INDI_LINE': 190,
  'NAME': 'Tesha /Malagon/',
  'NAME_LINE': 191,
  'SEX': 'F',
  'SEX_LINE': 195,
  'BIRT_LINE': 196,
  'BIRT': '1819-7-8',
  'DEAT_LINE': 198,
  'DEAT': '2019-8-2',
  'INDI_CHILD': ['@F3@'],
  'SPOUSE': 'NA',
  'FAMC_LINE': 200,
  'AGE': '200',
  'ALIVE': False},
 '@I20@': {'INDI': '@I20@',
  'INDI_LINE': 201,
  'NAME': 'Wilber /Iglesias/',
  'NAME_LINE': 202,
  'SEX': 'M',
  'SEX_LINE': 206,
  'BIRT_LINE': 207,
  'BIRT': '1987-9-6',
  'INDI_CHILD': ['@F7@'],
  'SPOUSE': 'NA',
  'FAMC_LINE': 209,
  'DEAT': 'NA',
  'AGE': '32',
  'ALIVE': True},
 '@I21@': {'INDI': '@I21@',
  'INDI_LINE': 210,
  'NAME': 'Regena /Ali/',
  'NAME_LINE': 211,
  'SEX': 'F',
  'SEX_LINE': 215,
  'BIRT_LINE': 216,
  'BIRT': '1820-10-8',
  'INDI_CHILD': ['@F3@'],
  'SPOUSE': 'NA',
  'FAMC_LINE': 218,
  'DEAT': 'NA',
  'AGE': '199',
  'ALIVE': True},
 '@I22@': {'INDI': '@I22@',
  'INDI_LINE': 219,
  'NAME': 'Tom /Malagon/',
  'NAME_LINE': 220,
  'SEX': 'M',
  'SEX_LINE': 224,
  'BIRT_LINE': 225,
  'BIRT': '1923-5-8',
  'INDI_CHILD': ['@F3@'],
  'SPOUSE': ['@F10@', '@F11@'],
  'FAMS_LINE': 228,
  'FAMC_LINE': 229,
  'DEAT': 'NA',
  'AGE': '96',
  'ALIVE': True},
 '@I23@': {'INDI': '@I23@',
  'INDI_LINE': 230,
  'NAME': 'Sock /Malagon/',
  'NAME_LINE': 231,
  'SEX': 'F',
  'SEX_LINE': 235,
  'BIRT_LINE': 236,
  'BIRT': '1955-10-17',
  'INDI_CHILD': ['@F3@'],
  'SPOUSE': ['@F10@'],
  'FAMS_LINE': 238,
  'FAMC_LINE': 239,
  'DEAT': 'NA',
  'AGE': '64',
  'ALIVE': True},
 '@I24@': {'INDI': '@I24@',
  'INDI_LINE': 240,
  'NAME': 'Vonnie /Malagon/',
  'NAME_LINE': 241,
  'SEX': 'M',
  'SEX_LINE': 245,
  'BIRT_LINE': 246,
  'BIRT': '1936-3-10',
  'DEAT_LINE': 248,
  'DEAT': '1937-7-6',
  'INDI_CHILD': ['@F3@'],
  'SPOUSE': 'NA',
  'FAMC_LINE': 250,
  'AGE': '1',
  'ALIVE': False},
 '@I25@': {'INDI': '@I25@',
  'INDI_LINE': 251,
  'NAME': 'Shena /Malagon/',
  'NAME_LINE': 252,
  'SEX': 'F',
  'SEX_LINE': 256,
  'BIRT_LINE': 257,
  'BIRT': '1937-11-6',
  'INDI_CHILD': ['@F3@'],
  'SPOUSE': ['@F12@'],
  'FAMS_LINE': 259,
  'FAMC_LINE': 260,
  'DEAT': 'NA',
  'AGE': '81',
  'ALIVE': True},
 '@I26@': {'INDI': '@I26@',
  'INDI_LINE': 261,
  'NAME': 'Kay /Ali/',
  'NAME_LINE': 262,
  'SEX': 'M',
  'SEX_LINE': 266,
  'BIRT_LINE': 267,
  'BIRT': '1950-9-9',
  'INDI_CHILD': 'NA',
  'SPOUSE': ['@F12@'],
  'FAMS_LINE': 269,
  'DEAT': 'NA',
  'AGE': '69',
  'ALIVE': True},
 '@I27@': {'INDI': '@I27@',
  'INDI_LINE': 270,
  'NAME': 'Hailey /Malagon/',
  'NAME_LINE': 271,
  'SEX': 'F',
  'SEX_LINE': 275,
  'BIRT_LINE': 276,
  'BIRT': '1938-10-8',
  'DEAT_LINE': 278,
  'DEAT': '1958-9-18',
  'INDI_CHILD': ['@F3@'],
  'SPOUSE': ['@F13@'],
  'FAMS_LINE': 280,
  'FAMC_LINE': 281,
  'AGE': '19',
  'ALIVE': False},
 '@I28@': {'INDI': '@I28@',
  'INDI_LINE': 282,
  'NAME': 'Vasu /Zdenek/',
  'NAME_LINE': 283,
  'SEX': 'M',
  'SEX_LINE': 287,
  'BIRT_LINE': 288,
  'BIRT': '1940-8-9',
  'INDI_CHILD': 'NA',
  'SPOUSE': ['@F13@'],
  'FAMS_LINE': 290,
  'DEAT': 'NA',
  'AGE': '79',
  'ALIVE': True},
 '@I29@': {'INDI': '@I29@',
  'INDI_LINE': 291,
  'NAME': 'Milford /Malagon/',
  'NAME_LINE': 292,
  'SEX': 'M',
  'SEX_LINE': 296,
  'BIRT_LINE': 297,
  'BIRT': '1939-11-8',
  'INDI_CHILD': ['@F3@'],
  'SPOUSE': 'NA',
  'FAMC_LINE': 299,
  'DEAT': 'NA',
  'AGE': '79',
  'ALIVE': True},
 '@I30@': {'INDI': '@I30@',
  'INDI_LINE': 300,
  'NAME': 'Rashida /Malagon/',
  'NAME_LINE': 301,
  'SEX': 'F',
  'SEX_LINE': 305,
  'BIRT_LINE': 306,
  'BIRT': '1940-12-7',
  'INDI_CHILD': ['@F3@'],
  'SPOUSE': ['@F14@', '@F15@', '@F16@'],
  'FAMS_LINE': 310,
  'FAMC_LINE': 311,
  'DEAT': 'NA',
  'AGE': '78',
  'ALIVE': True},
 '@I31@': {'INDI': '@I31@',
  'INDI_LINE': 312,
  'NAME': 'Renate /Giotto/',
  'NAME_LINE': 313,
  'SEX': 'M',
  'SEX_LINE': 317,
  'BIRT_LINE': 318,
  'BIRT': '1943-10-9',
  'INDI_CHILD': 'NA',
  'SPOUSE': ['@F14@'],
  'FAMS_LINE': 320,
  'DEAT': 'NA',
  'AGE': '76',
  'ALIVE': True},
 '@I32@': {'INDI': '@I32@',
  'INDI_LINE': 321,
  'NAME': 'Deeann /Malagon/',
  'NAME_LINE': 322,
  'SEX': 'F',
  'SEX_LINE': 326,
  'BIRT_LINE': 327,
  'BIRT': '1941-10-23',
  'INDI_CHILD': ['@F3@'],
  'SPOUSE': 'NA',
  'FAMC_LINE': 329,
  'DEAT': 'NA',
  'AGE': '77',
  'ALIVE': True},
 '@I33@': {'INDI': '@I33@',
  'INDI_LINE': 330,
  'NAME': 'Dario /Malagon/',
  'NAME_LINE': 331,
  'SEX': 'M',
  'SEX_LINE': 335,
  'BIRT_LINE': 336,
  'BIRT': '1942-12-14',
  'INDI_CHILD': ['@F3@'],
  'SPOUSE': ['@F17@'],
  'FAMS_LINE': 338,
  'FAMC_LINE': 339,
  'DEAT': 'NA',
  'AGE': '76',
  'ALIVE': True},
 '@I34@': {'INDI': '@I34@',
  'INDI_LINE': 340,
  'NAME': 'Sock /Malagon/',
  'NAME_LINE': 341,
  'SEX': 'F',
  'SEX_LINE': 345,
  'BIRT_LINE': 346,
  'BIRT': '1955-10-17',
  'INDI_CHILD': ['@F11@'],
  'SPOUSE': ['@F17@'],
  'FAMS_LINE': 348,
  'FAMC_LINE': 349,
  'DEAT': 'NA',
  'AGE': '64',
  'ALIVE': True},
 '@I35@': {'INDI': '@I35@',
  'INDI_LINE': 350,
  'NAME': 'Chet /Malagon/',
  'NAME_LINE': 351,
  'SEX': 'M',
  'SEX_LINE': 355,
  'BIRT_LINE': 356,
  'BIRT': '1943-8-18',
  'INDI_CHILD': ['@F3@'],
  'SPOUSE': ['@F18@', '@F19@', '@F20@'],
  'FAMS_LINE': 360,
  'FAMC_LINE': 361,
  'DEAT': 'NA',
  'AGE': '76',
  'ALIVE': True},
 '@I36@': {'INDI': '@I36@',
  'INDI_LINE': 362,
  'NAME': 'Prabhakar /Jamyang/',
  'NAME_LINE': 363,
  'SEX': 'F',
  'SEX_LINE': 367,
  'BIRT_LINE': 368,
  'BIRT': '1946-9-6',
  'INDI_CHILD': 'NA',
  'SPOUSE': ['@F18@'],
  'FAMS_LINE': 370,
  'DEAT': 'NA',
  'AGE': '73',
  'ALIVE': True},
 '@I37@': {'INDI': '@I37@',
  'INDI_LINE': 371,
  'NAME': 'Chet /Malagon/',
  'NAME_LINE': 372,
  'SEX': 'M',
  'SEX_LINE': 376,
  'BIRT_LINE': 377,
  'BIRT': '1943-8-18',
  'INDI_CHILD': ['@F3@'],
  'SPOUSE': 'NA',
  'FAMC_LINE': 379,
  'DEAT': 'NA',
  'AGE': '76',
  'ALIVE': True},
 '@I38@': {'INDI': '@I38@',
  'INDI_LINE': 380,
  'NAME': 'Loyd /Malagon/',
  'NAME_LINE': 381,
  'SEX': 'M',
  'SEX_LINE': 385,
  'BIRT_LINE': 386,
  'BIRT': '1965-8-9',
  'INDI_CHILD': ['@F3@'],
  'SPOUSE': 'NA',
  'FAMC_LINE': 388,
  'DEAT': 'NA',
  'AGE': '54',
  'ALIVE': True},
 '@I39@': {'INDI': '@I39@',
  'INDI_LINE': 389,
  'NAME': 'Kitty /Malagon/',
  'NAME_LINE': 390,
  'SEX': 'F',
  'SEX_LINE': 394,
  'BIRT_LINE': 395,
  'BIRT': '1925-6-5',
  'INDI_CHILD': 'NA',
  'SPOUSE': ['@F11@'],
  'FAMS_LINE': 397,
  'DEAT': 'NA',
  'AGE': '94',
  'ALIVE': True},
 '@I40@': {'INDI': '@I40@',
  'INDI_LINE': 398,
  'NAME': 'Calfuray /Malagon/',
  'NAME_LINE': 399,
  'SEX': 'F',
  'SEX_LINE': 403,
  'BIRT_LINE': 404,
  'BIRT': '1980-9-9',
  'INDI_CHILD': ['@F12@'],
  'SPOUSE': 'NA',
  'FAMC_LINE': 406,
  'DEAT': 'NA',
  'AGE': '39',
  'ALIVE': True},
 '@I41@': {'INDI': '@I41@',
  'INDI_LINE': 407,
  'NAME': 'Yam /Tarah/',
  'NAME_LINE': 408,
  'SEX': 'M',
  'SEX_LINE': 412,
  'BIRT_LINE': 413,
  'BIRT': '1941-9-9',
  'INDI_CHILD': 'NA',
  'SPOUSE': ['@F15@'],
  'FAMS_LINE': 415,
  'DEAT': 'NA',
  'AGE': '78',
  'ALIVE': True},
 '@I42@': {'INDI': '@I42@',
  'INDI_LINE': 416,
  'NAME': 'Petros /Ganesh/',
  'NAME_LINE': 417,
  'SEX': 'M',
  'SEX_LINE': 421,
  'BIRT_LINE': 422,
  'BIRT': '1942-10-10',
  'INDI_CHILD': 'NA',
  'SPOUSE': ['@F16@'],
  'FAMS_LINE': 424,
  'DEAT': 'NA',
  'AGE': '77',
  'ALIVE': True},
 '@I43@': {'INDI': '@I43@',
  'INDI_LINE': 425,
  'NAME': 'Enrica /Coleman/',
  'NAME_LINE': 426,
  'SEX': 'F',
  'SEX_LINE': 430,
  'BIRT_LINE': 431,
  'BIRT': '1980-8-18',
  'INDI_CHILD': ['@F20@'],
  'SPOUSE': 'NA',
  'FAMC_LINE': 433,
  'DEAT': 'NA',
  'AGE': '39',
  'ALIVE': True},
 '@I44@': {'INDI': '@I44@',
  'INDI_LINE': 434,
  'NAME': 'Mahfuz /Claudia/',
  'NAME_LINE': 435,
  'SEX': 'F',
  'SEX_LINE': 439,
  'BIRT_LINE': 440,
  'BIRT': '1944-9-8',
  'INDI_CHILD': 'NA',
  'SPOUSE': ['@F19@'],
  'FAMS_LINE': 442,
  'DEAT': 'NA',
  'AGE': '75',
  'ALIVE': True}}

In [1040]:
family_dic

{'@F1@': {'FAM': '@F1@',
  'FAM_LINE': 443,
  'HUSB_NAME': 'Samuel /Venzon/',
  'HUSB_LINE': 444,
  'HUSB': '@I2@',
  'WIFE_NAME': 'Willodean /Malagon/',
  'WIFE_LINE': 445,
  'WIFE': '@I1@',
  'FAM_CHILD': ['@I8@', '@I14@'],
  'CHIL_LINE_@I8@': 446,
  'CHIL': '@I14@',
  'CHIL_LINE': 447,
  'CHIL_LINE_@I14@': 447,
  'MARR_LINE': 448,
  'MARR': '1970-7-7',
  'DIV': 'NA',
  'husband_object': {'INDI': '@I2@',
   'INDI_LINE': 26,
   'NAME': 'Samuel /Venzon/',
   'NAME_LINE': 27,
   'SEX': 'M',
   'SEX_LINE': 31,
   'BIRT_LINE': 32,
   'BIRT': '1958-12-6',
   'INDI_CHILD': 'NA',
   'SPOUSE': ['@F1@'],
   'FAMS_LINE': 34,
   'DEAT': 'NA',
   'AGE': '60',
   'ALIVE': True},
  'wife_object': {'INDI': '@I1@',
   'INDI_LINE': 14,
   'NAME': 'Willodean /Malagon/',
   'NAME_LINE': 15,
   'SEX': 'F',
   'SEX_LINE': 19,
   'BIRT_LINE': 20,
   'BIRT': '1958-7-7',
   'DEAT_LINE': 22,
   'DEAT': '1974-6-20',
   'INDI_CHILD': ['@F2@'],
   'SPOUSE': ['@F1@'],
   'FAMS_LINE': 24,
   'FAMC_LINE': 25,
   'AGE': '15',
   'ALIVE': False},
  'children_objects': [{'INDI': '@I8@',
    'INDI_LINE': 86,
    'NAME': 'Byron /Vezon/',
    'NAME_LINE': 87,
    'SEX': 'M',
    'SEX_LINE': 91,
    'BIRT_LINE': 92,
    'BIRT': '1973-7-6',
    'INDI_CHILD': ['@F1@'],
    'SPOUSE': ['@F6@'],
    'FAMS_LINE': 94,
    'FAMC_LINE': 95,
    'DEAT': 'NA',
    'AGE': '46',
    'ALIVE': True},
   {'INDI': '@I14@',
    'INDI_LINE': 144,
    'NAME': 'Beth /Venzon/',
    'NAME_LINE': 145,
    'SEX': 'F',
    'SEX_LINE': 149,
    'BIRT_LINE': 150,
    'BIRT': '1973-8-8',
    'INDI_CHILD': ['@F1@'],
    'SPOUSE': 'NA',
    'FAMC_LINE': 152,
    'DEAT': 'NA',
    'AGE': '46',
    'ALIVE': True}]},
 '@F2@': {'FAM': '@F2@',
  'FAM_LINE': 452,
  'HUSB_NAME': 'Stephan /Malagon/',
  'HUSB_LINE': 453,
  'HUSB': '@I3@',
  'WIFE_NAME': 'Laverna /Leonhardt/',
  'WIFE_LINE': 454,
  'WIFE': '@I4@',
  'FAM_CHILD': ['@I1@', '@I5@', '@I7@', '@I15@'],
  'CHIL_LINE_@I1@': 455,
  'CHIL': '@I15@',
  'CHIL_LINE': 458,
  'CHIL_LINE_@I5@': 456,
  'CHIL_LINE_@I7@': 457,
  'CHIL_LINE_@I15@': 458,
  'MARR_LINE': 459,
  'MARR': '1947-9-17',
  'DIV': 'NA',
  'husband_object': {'INDI': '@I3@',
   'INDI_LINE': 35,
   'NAME': 'Stephan /Malagon/',
   'NAME_LINE': 36,
   'SEX': 'M',
   'SEX_LINE': 40,
   'BIRT_LINE': 41,
   'BIRT': '1930-8-21',
   'INDI_CHILD': ['@F3@'],
   'SPOUSE': ['@F2@'],
   'FAMS_LINE': 43,
   'FAMC_LINE': 44,
   'DEAT': 'NA',
   'AGE': '89',
   'ALIVE': True},
  'wife_object': {'INDI': '@I4@',
   'INDI_LINE': 45,
   'NAME': 'Laverna /Leonhardt/',
   'NAME_LINE': 46,
   'SEX': 'F',
   'SEX_LINE': 50,
   'BIRT_LINE': 51,
   'BIRT': '1932-6-9',
   'INDI_CHILD': 'NA',
   'SPOUSE': ['@F2@'],
   'FAMS_LINE': 53,
   'DEAT': 'NA',
   'AGE': '87',
   'ALIVE': True},
  'children_objects': [{'INDI': '@I1@',
    'INDI_LINE': 14,
    'NAME': 'Willodean /Malagon/',
    'NAME_LINE': 15,
    'SEX': 'F',
    'SEX_LINE': 19,
    'BIRT_LINE': 20,
    'BIRT': '1958-7-7',
    'DEAT_LINE': 22,
    'DEAT': '1974-6-20',
    'INDI_CHILD': ['@F2@'],
    'SPOUSE': ['@F1@'],
    'FAMS_LINE': 24,
    'FAMC_LINE': 25,
    'AGE': '15',
    'ALIVE': False},
   {'INDI': '@I5@',
    'INDI_LINE': 54,
    'NAME': 'Ken /Malagon/',
    'NAME_LINE': 55,
    'SEX': 'M',
    'SEX_LINE': 59,
    'BIRT_LINE': 60,
    'BIRT': '1962-2-6',
    'INDI_CHILD': ['@F2@'],
    'SPOUSE': ['@F4@'],
    'FAMS_LINE': 62,
    'FAMC_LINE': 63,
    'DEAT': 'NA',
    'AGE': '57',
    'ALIVE': True},
   {'INDI': '@I7@',
    'INDI_LINE': 74,
    'NAME': 'Josh /Malagon/',
    'NAME_LINE': 75,
    'SEX': 'M',
    'SEX_LINE': 79,
    'BIRT_LINE': 80,
    'BIRT': '1964-10-31',
    'DEAT_LINE': 82,
    'DEAT': '1984-5-7',
    'INDI_CHILD': ['@F2@'],
    'SPOUSE': ['@F5@'],
    'FAMS_LINE': 84,
    'FAMC_LINE': 85,
    'AGE': '19',
    'ALIVE': False},
   {'INDI': '@I15@',
    'INDI_LINE': 153,
    'NAME': 'Jacob /Malagon/',
    'NAME_LINE': 154,
    'SEX': 'M',
    'SEX_LINE': 158,
    'BIRT_LINE': 159,
    'BIRT': '1970-11-8',
    'INDI_CHILD': ['@F2@'],
    'SPOUSE': ['@F9@'],
    'FAMS_LINE': 161,
    'FAMC_LINE': 162,
    'DEAT': 'NA',
    'AGE': '48',
    'ALIVE': True}]},
 '@F3@': {'FAM': '@F3@',
  'FAM_LINE': 463,
  'HUSB_NAME': 'Johnny /Malagon/',
  'HUSB_LINE': 464,
  'HUSB': '@I17@',
  'WIFE_NAME': 'Lura /Lomas/',
  'WIFE_LINE': 465,
  'WIFE': '@I18@',
  'FAM_CHILD': ['@I3@',
   '@I6@',
   '@I19@',
   '@I21@',
   '@I22@',
   '@I23@',
   '@I24@',
   '@I25@',
   '@I27@',
   '@I29@',
   '@I30@',
   '@I32@',
   '@I33@',
   '@I35@',
   '@I37@',
   '@I38@'],
  'CHIL_LINE_@I3@': 466,
  'CHIL': '@I38@',
  'CHIL_LINE': 481,
  'CHIL_LINE_@I6@': 467,
  'CHIL_LINE_@I19@': 468,
  'CHIL_LINE_@I21@': 469,
  'CHIL_LINE_@I22@': 470,
  'CHIL_LINE_@I23@': 471,
  'CHIL_LINE_@I24@': 472,
  'CHIL_LINE_@I25@': 473,
  'CHIL_LINE_@I27@': 474,
  'CHIL_LINE_@I29@': 475,
  'CHIL_LINE_@I30@': 476,
  'CHIL_LINE_@I32@': 477,
  'CHIL_LINE_@I33@': 478,
  'CHIL_LINE_@I35@': 479,
  'CHIL_LINE_@I37@': 480,
  'CHIL_LINE_@I38@': 481,
  'MARR_LINE': 482,
  'MARR': '1925-4-28',
  'DIV': 'NA',
  'husband_object': {'INDI': '@I17@',
   'INDI_LINE': 172,
   'NAME': 'Johnny /Malagon/',
   'NAME_LINE': 173,
   'SEX': 'M',
   'SEX_LINE': 177,
   'BIRT_LINE': 178,
   'BIRT': '1901-7-14',
   'INDI_CHILD': 'NA',
   'SPOUSE': ['@F3@'],
   'FAMS_LINE': 180,
   'DEAT': 'NA',
   'AGE': '118',
   'ALIVE': True},
  'wife_object': {'INDI': '@I18@',
   'INDI_LINE': 181,
   'NAME': 'Lura /Lomas/',
   'NAME_LINE': 182,
   'SEX': 'F',
   'SEX_LINE': 186,
   'BIRT_LINE': 187,
   'BIRT': '1900-8-30',
   'INDI_CHILD': 'NA',
   'SPOUSE': ['@F3@'],
   'FAMS_LINE': 189,
   'DEAT': 'NA',
   'AGE': '119',
   'ALIVE': True},
  'children_objects': [{'INDI': '@I3@',
    'INDI_LINE': 35,
    'NAME': 'Stephan /Malagon/',
    'NAME_LINE': 36,
    'SEX': 'M',
    'SEX_LINE': 40,
    'BIRT_LINE': 41,
    'BIRT': '1930-8-21',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': ['@F2@'],
    'FAMS_LINE': 43,
    'FAMC_LINE': 44,
    'DEAT': 'NA',
    'AGE': '89',
    'ALIVE': True},
   {'INDI': '@I6@',
    'INDI_LINE': 64,
    'NAME': 'Lucile /Malagon/',
    'NAME_LINE': 65,
    'SEX': 'F',
    'SEX_LINE': 69,
    'BIRT_LINE': 70,
    'BIRT': '1931-9-9',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': ['@F4@'],
    'FAMS_LINE': 72,
    'FAMC_LINE': 73,
    'DEAT': 'NA',
    'AGE': '88',
    'ALIVE': True},
   {'INDI': '@I19@',
    'INDI_LINE': 190,
    'NAME': 'Tesha /Malagon/',
    'NAME_LINE': 191,
    'SEX': 'F',
    'SEX_LINE': 195,
    'BIRT_LINE': 196,
    'BIRT': '1819-7-8',
    'DEAT_LINE': 198,
    'DEAT': '2019-8-2',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': 'NA',
    'FAMC_LINE': 200,
    'AGE': '200',
    'ALIVE': False},
   {'INDI': '@I21@',
    'INDI_LINE': 210,
    'NAME': 'Regena /Ali/',
    'NAME_LINE': 211,
    'SEX': 'F',
    'SEX_LINE': 215,
    'BIRT_LINE': 216,
    'BIRT': '1820-10-8',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': 'NA',
    'FAMC_LINE': 218,
    'DEAT': 'NA',
    'AGE': '199',
    'ALIVE': True},
   {'INDI': '@I22@',
    'INDI_LINE': 219,
    'NAME': 'Tom /Malagon/',
    'NAME_LINE': 220,
    'SEX': 'M',
    'SEX_LINE': 224,
    'BIRT_LINE': 225,
    'BIRT': '1923-5-8',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': ['@F10@', '@F11@'],
    'FAMS_LINE': 228,
    'FAMC_LINE': 229,
    'DEAT': 'NA',
    'AGE': '96',
    'ALIVE': True},
   {'INDI': '@I23@',
    'INDI_LINE': 230,
    'NAME': 'Sock /Malagon/',
    'NAME_LINE': 231,
    'SEX': 'F',
    'SEX_LINE': 235,
    'BIRT_LINE': 236,
    'BIRT': '1955-10-17',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': ['@F10@'],
    'FAMS_LINE': 238,
    'FAMC_LINE': 239,
    'DEAT': 'NA',
    'AGE': '64',
    'ALIVE': True},
   {'INDI': '@I24@',
    'INDI_LINE': 240,
    'NAME': 'Vonnie /Malagon/',
    'NAME_LINE': 241,
    'SEX': 'M',
    'SEX_LINE': 245,
    'BIRT_LINE': 246,
    'BIRT': '1936-3-10',
    'DEAT_LINE': 248,
    'DEAT': '1937-7-6',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': 'NA',
    'FAMC_LINE': 250,
    'AGE': '1',
    'ALIVE': False},
   {'INDI': '@I25@',
    'INDI_LINE': 251,
    'NAME': 'Shena /Malagon/',
    'NAME_LINE': 252,
    'SEX': 'F',
    'SEX_LINE': 256,
    'BIRT_LINE': 257,
    'BIRT': '1937-11-6',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': ['@F12@'],
    'FAMS_LINE': 259,
    'FAMC_LINE': 260,
    'DEAT': 'NA',
    'AGE': '81',
    'ALIVE': True},
   {'INDI': '@I27@',
    'INDI_LINE': 270,
    'NAME': 'Hailey /Malagon/',
    'NAME_LINE': 271,
    'SEX': 'F',
    'SEX_LINE': 275,
    'BIRT_LINE': 276,
    'BIRT': '1938-10-8',
    'DEAT_LINE': 278,
    'DEAT': '1958-9-18',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': ['@F13@'],
    'FAMS_LINE': 280,
    'FAMC_LINE': 281,
    'AGE': '19',
    'ALIVE': False},
   {'INDI': '@I29@',
    'INDI_LINE': 291,
    'NAME': 'Milford /Malagon/',
    'NAME_LINE': 292,
    'SEX': 'M',
    'SEX_LINE': 296,
    'BIRT_LINE': 297,
    'BIRT': '1939-11-8',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': 'NA',
    'FAMC_LINE': 299,
    'DEAT': 'NA',
    'AGE': '79',
    'ALIVE': True},
   {'INDI': '@I30@',
    'INDI_LINE': 300,
    'NAME': 'Rashida /Malagon/',
    'NAME_LINE': 301,
    'SEX': 'F',
    'SEX_LINE': 305,
    'BIRT_LINE': 306,
    'BIRT': '1940-12-7',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': ['@F14@', '@F15@', '@F16@'],
    'FAMS_LINE': 310,
    'FAMC_LINE': 311,
    'DEAT': 'NA',
    'AGE': '78',
    'ALIVE': True},
   {'INDI': '@I32@',
    'INDI_LINE': 321,
    'NAME': 'Deeann /Malagon/',
    'NAME_LINE': 322,
    'SEX': 'F',
    'SEX_LINE': 326,
    'BIRT_LINE': 327,
    'BIRT': '1941-10-23',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': 'NA',
    'FAMC_LINE': 329,
    'DEAT': 'NA',
    'AGE': '77',
    'ALIVE': True},
   {'INDI': '@I33@',
    'INDI_LINE': 330,
    'NAME': 'Dario /Malagon/',
    'NAME_LINE': 331,
    'SEX': 'M',
    'SEX_LINE': 335,
    'BIRT_LINE': 336,
    'BIRT': '1942-12-14',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': ['@F17@'],
    'FAMS_LINE': 338,
    'FAMC_LINE': 339,
    'DEAT': 'NA',
    'AGE': '76',
    'ALIVE': True},
   {'INDI': '@I35@',
    'INDI_LINE': 350,
    'NAME': 'Chet /Malagon/',
    'NAME_LINE': 351,
    'SEX': 'M',
    'SEX_LINE': 355,
    'BIRT_LINE': 356,
    'BIRT': '1943-8-18',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': ['@F18@', '@F19@', '@F20@'],
    'FAMS_LINE': 360,
    'FAMC_LINE': 361,
    'DEAT': 'NA',
    'AGE': '76',
    'ALIVE': True},
   {'INDI': '@I37@',
    'INDI_LINE': 371,
    'NAME': 'Chet /Malagon/',
    'NAME_LINE': 372,
    'SEX': 'M',
    'SEX_LINE': 376,
    'BIRT_LINE': 377,
    'BIRT': '1943-8-18',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': 'NA',
    'FAMC_LINE': 379,
    'DEAT': 'NA',
    'AGE': '76',
    'ALIVE': True},
   {'INDI': '@I38@',
    'INDI_LINE': 380,
    'NAME': 'Loyd /Malagon/',
    'NAME_LINE': 381,
    'SEX': 'M',
    'SEX_LINE': 385,
    'BIRT_LINE': 386,
    'BIRT': '1965-8-9',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': 'NA',
    'FAMC_LINE': 388,
    'DEAT': 'NA',
    'AGE': '54',
    'ALIVE': True}]},
 '@F4@': {'FAM': '@F4@',
  'FAM_LINE': 486,
  'HUSB_NAME': 'Ken /Malagon/',
  'HUSB_LINE': 487,
  'HUSB': '@I5@',
  'WIFE_NAME': 'Lucile /Malagon/',
  'WIFE_LINE': 488,
  'WIFE': '@I6@',
  'DIV': 'NA',
  'FAM_CHILD': 'NA',
  'MARR': 'NA',
  'husband_object': {'INDI': '@I5@',
   'INDI_LINE': 54,
   'NAME': 'Ken /Malagon/',
   'NAME_LINE': 55,
   'SEX': 'M',
   'SEX_LINE': 59,
   'BIRT_LINE': 60,
   'BIRT': '1962-2-6',
   'INDI_CHILD': ['@F2@'],
   'SPOUSE': ['@F4@'],
   'FAMS_LINE': 62,
   'FAMC_LINE': 63,
   'DEAT': 'NA',
   'AGE': '57',
   'ALIVE': True},
  'wife_object': {'INDI': '@I6@',
   'INDI_LINE': 64,
   'NAME': 'Lucile /Malagon/',
   'NAME_LINE': 65,
   'SEX': 'F',
   'SEX_LINE': 69,
   'BIRT_LINE': 70,
   'BIRT': '1931-9-9',
   'INDI_CHILD': ['@F3@'],
   'SPOUSE': ['@F4@'],
   'FAMS_LINE': 72,
   'FAMC_LINE': 73,
   'DEAT': 'NA',
   'AGE': '88',
   'ALIVE': True}},
 '@F5@': {'FAM': '@F5@',
  'FAM_LINE': 490,
  'HUSB_NAME': 'Josh /Malagon/',
  'HUSB_LINE': 491,
  'HUSB': '@I7@',
  'WIFE_NAME': 'Cinda /Burgard/',
  'WIFE_LINE': 492,
  'WIFE': '@I10@',
  'FAM_CHILD': ['@I12@'],
  'CHIL_LINE_@I12@': 493,
  'CHIL': '@I12@',
  'CHIL_LINE': 493,
  'MARR_LINE': 494,
  'MARR': '1978-9-2',
  'DIV': 'NA',
  'husband_object': {'INDI': '@I7@',
   'INDI_LINE': 74,
   'NAME': 'Josh /Malagon/',
   'NAME_LINE': 75,
   'SEX': 'M',
   'SEX_LINE': 79,
   'BIRT_LINE': 80,
   'BIRT': '1964-10-31',
   'DEAT_LINE': 82,
   'DEAT': '1984-5-7',
   'INDI_CHILD': ['@F2@'],
   'SPOUSE': ['@F5@'],
   'FAMS_LINE': 84,
   'FAMC_LINE': 85,
   'AGE': '19',
   'ALIVE': False},
  'wife_object': {'INDI': '@I10@',
   'INDI_LINE': 105,
   'NAME': 'Cinda /Burgard/',
   'NAME_LINE': 106,
   'SEX': 'F',
   'SEX_LINE': 110,
   'BIRT_LINE': 111,
   'BIRT': '1966-8-8',
   'INDI_CHILD': 'NA',
   'SPOUSE': ['@F5@', '@F7@'],
   'FAMS_LINE': 114,
   'DEAT': 'NA',
   'AGE': '53',
   'ALIVE': True},
  'children_objects': [{'INDI': '@I12@',
    'INDI_LINE': 124,
    'NAME': 'Ruthe /Malagon/',
    'NAME_LINE': 125,
    'SEX': 'F',
    'SEX_LINE': 129,
    'BIRT_LINE': 130,
    'BIRT': '1977-9-8',
    'INDI_CHILD': ['@F5@'],
    'SPOUSE': ['@F8@'],
    'FAMS_LINE': 132,
    'FAMC_LINE': 133,
    'DEAT': 'NA',
    'AGE': '42',
    'ALIVE': True}]},
 '@F6@': {'FAM': '@F6@',
  'FAM_LINE': 501,
  'HUSB_NAME': 'Byron /Vezon/',
  'HUSB_LINE': 502,
  'HUSB': '@I8@',
  'WIFE_NAME': 'Shyla /Bertone/',
  'WIFE_LINE': 503,
  'WIFE': '@I9@',
  'DIV': 'NA',
  'FAM_CHILD': 'NA',
  'MARR': 'NA',
  'husband_object': {'INDI': '@I8@',
   'INDI_LINE': 86,
   'NAME': 'Byron /Vezon/',
   'NAME_LINE': 87,
   'SEX': 'M',
   'SEX_LINE': 91,
   'BIRT_LINE': 92,
   'BIRT': '1973-7-6',
   'INDI_CHILD': ['@F1@'],
   'SPOUSE': ['@F6@'],
   'FAMS_LINE': 94,
   'FAMC_LINE': 95,
   'DEAT': 'NA',
   'AGE': '46',
   'ALIVE': True},
  'wife_object': {'INDI': '@I9@',
   'INDI_LINE': 96,
   'NAME': 'Shyla /Bertone/',
   'NAME_LINE': 97,
   'SEX': 'F',
   'SEX_LINE': 101,
   'BIRT_LINE': 102,
   'BIRT': '2021-8-9',
   'INDI_CHILD': 'NA',
   'SPOUSE': ['@F6@'],
   'FAMS_LINE': 104,
   'DEAT': 'NA',
   'AGE': '-2',
   'ALIVE': True}},
 '@F7@': {'FAM': '@F7@',
  'FAM_LINE': 508,
  'HUSB_NAME': 'Jerrell /Finklea/',
  'HUSB_LINE': 509,
  'HUSB': '@I11@',
  'WIFE_NAME': 'Cinda /Burgard/',
  'WIFE_LINE': 510,
  'WIFE': '@I10@',
  'FAM_CHILD': ['@I13@', '@I20@'],
  'CHIL_LINE_@I13@': 511,
  'CHIL': '@I20@',
  'CHIL_LINE': 512,
  'CHIL_LINE_@I20@': 512,
  'MARR_LINE': 513,
  'MARR': '1985-4-5',
  'DIV': 'NA',
  'husband_object': {'INDI': '@I11@',
   'INDI_LINE': 115,
   'NAME': 'Jerrell /Finklea/',
   'NAME_LINE': 116,
   'SEX': 'M',
   'SEX_LINE': 120,
   'BIRT_LINE': 121,
   'BIRT': '1965-9-8',
   'INDI_CHILD': 'NA',
   'SPOUSE': ['@F7@'],
   'FAMS_LINE': 123,
   'DEAT': 'NA',
   'AGE': '54',
   'ALIVE': True},
  'wife_object': {'INDI': '@I10@',
   'INDI_LINE': 105,
   'NAME': 'Cinda /Burgard/',
   'NAME_LINE': 106,
   'SEX': 'F',
   'SEX_LINE': 110,
   'BIRT_LINE': 111,
   'BIRT': '1966-8-8',
   'INDI_CHILD': 'NA',
   'SPOUSE': ['@F5@', '@F7@'],
   'FAMS_LINE': 114,
   'DEAT': 'NA',
   'AGE': '53',
   'ALIVE': True},
  'children_objects': [{'INDI': '@I13@',
    'INDI_LINE': 134,
    'NAME': 'Darwin /Tung/',
    'NAME_LINE': 135,
    'SEX': 'M',
    'SEX_LINE': 139,
    'BIRT_LINE': 140,
    'BIRT': '1987-9-6',
    'INDI_CHILD': ['@F7@'],
    'SPOUSE': ['@F8@'],
    'FAMS_LINE': 142,
    'FAMC_LINE': 143,
    'DEAT': 'NA',
    'AGE': '32',
    'ALIVE': True},
   {'INDI': '@I20@',
    'INDI_LINE': 201,
    'NAME': 'Wilber /Iglesias/',
    'NAME_LINE': 202,
    'SEX': 'M',
    'SEX_LINE': 206,
    'BIRT_LINE': 207,
    'BIRT': '1987-9-6',
    'INDI_CHILD': ['@F7@'],
    'SPOUSE': 'NA',
    'FAMC_LINE': 209,
    'DEAT': 'NA',
    'AGE': '32',
    'ALIVE': True}]},
 '@F8@': {'FAM': '@F8@',
  'FAM_LINE': 517,
  'HUSB_NAME': 'Darwin /Tung/',
  'HUSB_LINE': 518,
  'HUSB': '@I13@',
  'WIFE_NAME': 'Ruthe /Malagon/',
  'WIFE_LINE': 519,
  'WIFE': '@I12@',
  'MARR_LINE': 520,
  'MARR': '2019-11-2',
  'DIV': 'NA',
  'FAM_CHILD': 'NA',
  'husband_object': {'INDI': '@I13@',
   'INDI_LINE': 134,
   'NAME': 'Darwin /Tung/',
   'NAME_LINE': 135,
   'SEX': 'M',
   'SEX_LINE': 139,
   'BIRT_LINE': 140,
   'BIRT': '1987-9-6',
   'INDI_CHILD': ['@F7@'],
   'SPOUSE': ['@F8@'],
   'FAMS_LINE': 142,
   'FAMC_LINE': 143,
   'DEAT': 'NA',
   'AGE': '32',
   'ALIVE': True},
  'wife_object': {'INDI': '@I12@',
   'INDI_LINE': 124,
   'NAME': 'Ruthe /Malagon/',
   'NAME_LINE': 125,
   'SEX': 'F',
   'SEX_LINE': 129,
   'BIRT_LINE': 130,
   'BIRT': '1977-9-8',
   'INDI_CHILD': ['@F5@'],
   'SPOUSE': ['@F8@'],
   'FAMS_LINE': 132,
   'FAMC_LINE': 133,
   'DEAT': 'NA',
   'AGE': '42',
   'ALIVE': True}},
 '@F9@': {'FAM': '@F9@',
  'FAM_LINE': 523,
  'HUSB_NAME': 'Jacob /Malagon/',
  'HUSB_LINE': 524,
  'HUSB': '@I15@',
  'WIFE_NAME': 'Jaqueline /Kindel/',
  'WIFE_LINE': 525,
  'WIFE': '@I16@',
  'MARR_LINE': 526,
  'MARR': '1968-6-4',
  'DIV': 'NA',
  'FAM_CHILD': 'NA',
  'husband_object': {'INDI': '@I15@',
   'INDI_LINE': 153,
   'NAME': 'Jacob /Malagon/',
   'NAME_LINE': 154,
   'SEX': 'M',
   'SEX_LINE': 158,
   'BIRT_LINE': 159,
   'BIRT': '1970-11-8',
   'INDI_CHILD': ['@F2@'],
   'SPOUSE': ['@F9@'],
   'FAMS_LINE': 161,
   'FAMC_LINE': 162,
   'DEAT': 'NA',
   'AGE': '48',
   'ALIVE': True},
  'wife_object': {'INDI': '@I16@',
   'INDI_LINE': 163,
   'NAME': 'Jaqueline /Kindel/',
   'NAME_LINE': 164,
   'SEX': 'F',
   'SEX_LINE': 168,
   'BIRT_LINE': 169,
   'BIRT': '1969-9-8',
   'INDI_CHILD': 'NA',
   'SPOUSE': ['@F9@'],
   'FAMS_LINE': 171,
   'DEAT': 'NA',
   'AGE': '50',
   'ALIVE': True}},
 '@F10@': {'FAM': '@F10@',
  'FAM_LINE': 530,
  'HUSB_NAME': 'Tom /Malagon/',
  'HUSB_LINE': 531,
  'HUSB': '@I22@',
  'WIFE_NAME': 'Sock /Malagon/',
  'WIFE_LINE': 532,
  'WIFE': '@I23@',
  'DIV': 'NA',
  'FAM_CHILD': 'NA',
  'MARR': 'NA',
  'husband_object': {'INDI': '@I22@',
   'INDI_LINE': 219,
   'NAME': 'Tom /Malagon/',
   'NAME_LINE': 220,
   'SEX': 'M',
   'SEX_LINE': 224,
   'BIRT_LINE': 225,
   'BIRT': '1923-5-8',
   'INDI_CHILD': ['@F3@'],
   'SPOUSE': ['@F10@', '@F11@'],
   'FAMS_LINE': 228,
   'FAMC_LINE': 229,
   'DEAT': 'NA',
   'AGE': '96',
   'ALIVE': True},
  'wife_object': {'INDI': '@I23@',
   'INDI_LINE': 230,
   'NAME': 'Sock /Malagon/',
   'NAME_LINE': 231,
   'SEX': 'F',
   'SEX_LINE': 235,
   'BIRT_LINE': 236,
   'BIRT': '1955-10-17',
   'INDI_CHILD': ['@F3@'],
   'SPOUSE': ['@F10@'],
   'FAMS_LINE': 238,
   'FAMC_LINE': 239,
   'DEAT': 'NA',
   'AGE': '64',
   'ALIVE': True}},
 '@F11@': {'FAM': '@F11@',
  'FAM_LINE': 534,
  'HUSB_NAME': 'Tom /Malagon/',
  'HUSB_LINE': 535,
  'HUSB': '@I22@',
  'WIFE_NAME': 'Kitty /Malagon/',
  'WIFE_LINE': 536,
  'WIFE': '@I39@',
  'FAM_CHILD': ['@I34@'],
  'CHIL_LINE_@I34@': 537,
  'CHIL': '@I34@',
  'CHIL_LINE': 537,
  'MARR_LINE': 538,
  'MARR': '1945-8-5',
  'DIV_LINE': 541,
  'DIV': '1956-7-7',
  'husband_object': {'INDI': '@I22@',
   'INDI_LINE': 219,
   'NAME': 'Tom /Malagon/',
   'NAME_LINE': 220,
   'SEX': 'M',
   'SEX_LINE': 224,
   'BIRT_LINE': 225,
   'BIRT': '1923-5-8',
   'INDI_CHILD': ['@F3@'],
   'SPOUSE': ['@F10@', '@F11@'],
   'FAMS_LINE': 228,
   'FAMC_LINE': 229,
   'DEAT': 'NA',
   'AGE': '96',
   'ALIVE': True},
  'wife_object': {'INDI': '@I39@',
   'INDI_LINE': 389,
   'NAME': 'Kitty /Malagon/',
   'NAME_LINE': 390,
   'SEX': 'F',
   'SEX_LINE': 394,
   'BIRT_LINE': 395,
   'BIRT': '1925-6-5',
   'INDI_CHILD': 'NA',
   'SPOUSE': ['@F11@'],
   'FAMS_LINE': 397,
   'DEAT': 'NA',
   'AGE': '94',
   'ALIVE': True},
  'children_objects': [{'INDI': '@I34@',
    'INDI_LINE': 340,
    'NAME': 'Sock /Malagon/',
    'NAME_LINE': 341,
    'SEX': 'F',
    'SEX_LINE': 345,
    'BIRT_LINE': 346,
    'BIRT': '1955-10-17',
    'INDI_CHILD': ['@F11@'],
    'SPOUSE': ['@F17@'],
    'FAMS_LINE': 348,
    'FAMC_LINE': 349,
    'DEAT': 'NA',
    'AGE': '64',
    'ALIVE': True}]},
 '@F12@': {'FAM': '@F12@',
  'FAM_LINE': 544,
  'HUSB_NAME': 'Kay /Ali/',
  'HUSB_LINE': 545,
  'HUSB': '@I26@',
  'WIFE_NAME': 'Shena /Malagon/',
  'WIFE_LINE': 546,
  'WIFE': '@I25@',