In [325]:
# All the file imports
!pip install prettytable
from datetime import datetime
from prettytable import PrettyTable
import os

Requirement already satisfied: prettytable in /Users/hemshah/anaconda2/lib/python2.7/site-packages (0.7.2)

In [326]:
def isDateParent(A):
    return A[1] in tag_fam["DATE"]

In [327]:
# Convert month string to month number
# :param month for which we need the number
def month_to_num(shortMonth):
    return{
        'JAN' : "1",
        'FEB' : "2",
        'MAR' : "3",
        'APR' : "4",
        'MAY' : "5",
        'JUN' : "6",
        'JUL' : "7",
        'AUG' : "8",
        'SEP' : "9", 
        'OCT' : "10",
        'NOV' : "11",
        'DEC' : "12"
    }[shortMonth]

In [328]:
# Convert input date to standard format
# :param date array in input
def convert_date(date_arr):
    return "{}-{}-{}".format(date_arr[2], month_to_num(date_arr[1]), date_arr[0])

In [329]:
# Determine age based on birthdate and death date
# If death date is not present then function uses the current date as a comparison
def determine_age(birth_date, death_date):
    birth_month= birth_date.split('-')[1]
    birth_day= birth_date.split('-')[0]
    
    if death_date:
        death_month=death_date.split('-')[1]
        death_day=death_date.split('-')[0]
        return int(death_date.split('-')[0]) - int(birth_date.split('-')[0])-((int(death_month), int(death_day))< (int(birth_month), int(birth_day)))
    else:
        today = datetime.today()
        return today.year - int(birth_date.split('-')[0]) - ((today.month, today.day) < (int(birth_month), int(birth_day)))

In [330]:
def find_name(arr, _id):
    #takes array of dict objects
    for indi in arr:
        if _id == indi["INDI"]:
            return indi["NAME"]

In [331]:
# create dictionary entry for the passed tag
# :param current_arr is the current array line being processed
# :param tag can will be either FAM or INDI
def create_dic_entry(current_arr, tag):
    current_tag=tag
    dic={}
    dic[tag]=current_arr[1]
    return dic, current_tag

In [332]:
# Adds missing tags with "NA"
def add_missing_entries(dic):
    if "DIV" not in dic:
        dic["DIV"] = "NA"
    if "HUSB" not in dic:
        dic["HUSB"] = "NA"
    if "HUSB_NAME" not in dic:
        dic["HUSB_NAME"] = "NA"
    if "WIFE" not in dic:
        dic["WIFE"] = "NA"
    if "WIFE_NAME" not in dic:
        dic["WIFE_NAME"] = "NA"
    if "FAM_CHILD" not in dic:
        dic["FAM_CHILD"] = "NA"
    if "MARR" not in dic:
        dic["MARR"] = "NA"

In [333]:
# Checking if one date is after another
# :param date_one is the date being compared with
# :param date_two is the date being compared t0
def is_date_after(date_one, date_two):
    return date_one < date_two

In [334]:
# Create map of individuals where key is the individual id and
# individual object is the  value
def create_individuals_map():
    global individuals
    individuals = {}
    for individual in document["INDI"]:
        individuals[individual["INDI"]] = individual

In [335]:
# Creating a family dictionary with the key as the family id and the value as the
# information about the family and the objects corresponding to husband, wife and children
def create_family_dic():
    global family_dic
    family_dic = {}
    for family in document["FAM"]:
        if family["HUSB"] != "NA" and family["HUSB"] in individuals:
            family["husband_object"] = individuals[family["HUSB"]]
        if family["WIFE"] != "NA" and family["WIFE"] in individuals:
            family["wife_object"] = individuals[family["WIFE"]]
        if family["FAM_CHILD"] != "NA":
            children = []
            for child in family["FAM_CHILD"]:
                children.append(individuals[child])
            family["children_objects"] = children
        family_dic[family["FAM"]] = family

In [336]:
def read_in(file):
    doc={"INDI":[], "FAM":[]}
    dic={}
    flag=False #indicates whether the correct tag has appeared before DATE tag
    with open(file) as f:
        all_lines=f.readlines()
        for line, next_line in zip(all_lines, all_lines[1:]):
            current_arr=line.strip().split(" ")
            next_arr=next_line.strip().split(" ")
            #if the current tag is individual
            if len(current_arr)==3 and current_arr[0]=='0' and current_arr[2]== "INDI":
                #inserts individual's ID into the dictionary
                dic, current_tag=create_dic_entry(current_arr, "INDI") 
            elif len(current_arr)==3 and current_arr[0]=='0' and current_arr[2]=="FAM": 
                dic, current_tag=create_dic_entry(current_arr, "FAM")
            elif (current_arr[1]=="DATE" and flag):
                flag=False
                date_arr = current_arr[2:] #extracts the date argument from the line
                dic[tmp]= convert_date(date_arr) #converts the date into correct format
            elif current_arr[0]=='1' and current_arr[1] in tag_one:
                if (isDateParent(current_arr)): #determines whether the current tag is parent of DATE tag
                    tmp=current_arr[1] #extracts the tag name
                    flag=True
                else: 
                    #current tag is not the parent tag of DATE tag
                    if current_arr[1] == "HUSB":
                        dic["HUSB_NAME"]=find_name(doc["INDI"], current_arr[2])
                    if current_arr[1] == "WIFE":
                        dic["WIFE_NAME"]=find_name(doc["INDI"], current_arr[2])
                    if current_arr[1] == 'CHIL':
                        #INDI_CHILD indicates all the children within a family
                        children = dic["FAM_CHILD"] if "FAM_CHILD" in dic else []
                        children.append(current_arr[2])
                        dic["FAM_CHILD"] = children
                    if current_arr[1] == 'FAMC' or current_arr[1] == 'FAMS':
                        child = dic["INDI_CHILD"] if "INDI_CHILD" in dic else []
                        spouse = dic["SPOUSE"] if "SPOUSE" in dic else []
                        child.append(current_arr[2]) if current_arr[1] == 'FAMC' else spouse.append(current_arr[2])
                        dic['INDI_CHILD'] = child #FAM_CHILD indicates which family this individual belongs to
                        dic['SPOUSE'] = spouse
                    else: #other type of tag
                        dic[current_arr[1]]=' '.join(current_arr[2:])
            if (len(next_arr)==3 and next_arr[0]=='0' and next_arr[2] in tag_sp) or next_arr[1]=="TRLR":
                if dic:
                    if current_tag == 'INDI':
                        if 'DEAT' in dic:
                            age = determine_age(dic['BIRT'], dic['DEAT'])
                            alive = False
                        else:
                            age = determine_age(dic['BIRT'], None)
                            alive = True
                            dic['DEAT'] = 'NA'
                        dic["AGE"] = str(age)
                        dic['ALIVE']= alive
                        #print(current_tag
                        if not dic["SPOUSE"]:
                            dic["SPOUSE"] = "NA"
                        elif not dic["INDI_CHILD"]:
                            dic["INDI_CHILD"] = "NA"
                    if current_tag == 'FAM':
                        add_missing_entries(dic)
                    doc[current_tag].append(dic)
        return doc

In [337]:
# USID: 01
# The Dates we need to check includes: birth, marriage, divorce, death
# Birth always exists, the rests we need to check for NA
# Iteration through individuals and family
def validate_dates():
    for family in family_dic.values():
        if family["MARR"] !="NA":
            if(determine_age(family["MARR"], None) < 0):
                 error_array.append("ERROR: FAMILY: US01: {}: Family has marrige date {} later than today".format(family["FAM"], family["MARR"]))
        if family["DIV"] != "NA":
            if(determine_age(family["DIV"], None) < 0):
                 error_array.append("ERROR: FAMILY: US01: {}: Family has divorce date {} later than today".format(family["FAM"], family["DIV"]))     
    
    for indi in individuals.values():
        # for birthday simply check age
        if(determine_age(indi["BIRT"], None) < 0):
                error_array.append("ERROR: INDIVIDUAL: US01: {}: Individual has birth date {} later than today".format(indi["INDI"], indi["BIRT"]))     
        if indi["DEAT"] != "NA":
            if(determine_age(indi["DEAT"], None) < 0):
                error_array.append("ERROR: INDIVIDUAL: US01: {}: Individual has death date {} later than today".format(indi["INDI"], indi["DEAT"]))

In [338]:
#USID: 02
#
# This function checks if the birth of the person is before their 
# marriage date
# If birth of the person is after the marriage date then the error
# is appended to the error array
def is_birth_before_marraige():
    for family_id in family_dic:
        family = family_dic[family_id]
        if "MARR" in family:
            marriage_date = family["MARR"];
            husband_birth_date = None;
            wife_birth_date = None;
            if "husband_object" in family and "BIRT" in family["husband_object"]:
                husband_birth_date = family["husband_object"]["BIRT"]
            else:
                continue;
            if "wife_object" in family and "BIRT" in family["wife_object"]:
                wife_birth_date = family["wife_object"]["BIRT"]
            else:
                continue;
            if is_date_after(marriage_date, husband_birth_date):
                error_array.append(("ERROR: INDIVIDUAL: US02: {}: Person has marriage date {} before birth date {}")\
                                    .format(family["husband_object"]["INDI"], marriage_date, husband_birth_date))
            if is_date_after(marriage_date, wife_birth_date):
                 error_array.append(("ERROR: INDIVIDUAL: US02: {}: Person has marriage date {} before birth date {}")\
                                    .format(family["wife_object"]["INDI"], marriage_date, wife_birth_date))

In [339]:
#USID: 07
def is_age_legal():
    for indi_id in individuals:
        indi=individuals[indi_id]
        if "AGE" in indi:
            age =indi["AGE"]
            if int(age) > 150:
                if indi["ALIVE"]:
                    anomaly_array.append("ANOMALY: INDIVIDUAL: US07: {}: More than 150 years old - Birth Date {}".format(indi_id, indi["BIRT"]))
                else:
                    anomaly_array.append("ANOMALY: INDIVIDUAL: US07: {}: More than 150 years old at death - Birth Date {}: Death Date {}".format(indi_id, indi["BIRT"], indi["DEAT"]))

In [340]:
# USID: 10
def is_marriage_legal():
    for family_id in family_dic:
        if "MARR" in family_dic[family_id] and family_dic[family_id]["MARR"]!="NA":
            married_date=family_dic[family_id]["MARR"]
        if "husband_object" in family_dic[family_id]:
            husband=family_dic[family_id]["husband_object"]
            if int(determine_age(husband["BIRT"], married_date)) < 14:
                anomaly_array.append("ANOMALY: INDIVIDUAL: US10: {}: Father of family {} is younger than 14 years old - Birth Date {}".format(husband["INDI"], family_id,husband["BIRT"]))
        if "wife_object" in family_dic[family_id]:
            wife=family_dic[family_id]["wife_object"]
            if int(determine_age(wife["BIRT"], married_date)) < 14:
                anomaly_array.append("ANOMALY: INDIVIDUAL: US10: {}: Wife of family {} is younger than 14 years old - Birth Date {}".format(wife["INDI"], family_id, wife["BIRT"]))

In [341]:
# USID: 11
def check_for_bigamy():
    for individual_id in individuals:
        individual = individuals[individual_id]
        if "SPOUSE" in individual and individual["SPOUSE"] != 'NA':
            spouse_in_families = individual["SPOUSE"]
            if len(spouse_in_families) > 1:
                dates = []
                for family_id in spouse_in_families:
                    family = family_dic[family_id]
                    date = {}
                    if "MARR" in family and family["MARR"] != 'NA':
                        date["MARR"] = family["MARR"]
                    if "DIV" in family and family["DIV"] != 'NA':
                        date["DIV"] = family["DIV"]
                    elif "husband_object" in family and family["husband_object"] != 'NA':
                        if "DEAT" in family["husband_object"] and family["husband_object"]["DEAT"] != 'NA':
                            date["DIV"] = family["husband_object"]["DEAT"]
                    dates.append(date)
                if compare_marraige_dates(dates):
                    anomaly_array.append("ANOMALY: INDIVIDUAL: US11: {}: Performing bigamy".format(individual["INDI"]))

In [342]:
def compare_marraige_dates(dates):
    for i in range(0, len(dates)):
        dateOne = dates[i]
        for j in range(0, len(dates)):
            dateTwo = dates[j]
            if "MARR" in dateOne and "DIV" in dateOne:
                if "MARR" in dateTwo:
                    if dateOne["MARR"] <= dateTwo["MARR"] < dateOne["DIV"]:
                        return True
                if "DIV" in dateTwo:
                    if dateOne["MARR"] < dateTwo["DIV"] < dateOne["DIV"]:
                        return True
            elif "MARR" in dateOne:
                if "MARR" in dateTwo and "DIV" in dateTwo:
                    if dateTwo["MARR"] <= dateOne["MARR"] < dateTwo["DIV"]:
                        return True
                if "MARR" in dateTwo and dateOne["MARR"] <= dateTwo["MARR"]:
                    return True
                if "DIV" in dateTwo and dateOne["MARR"] < dateTwo["DIV"]:
                    return True
                if "MARR" in dateTwo and "DIV" not in dateTwo and dateTwo["MARR"] <= dateOne["MARR"]:
                    return True
            elif "DIV" in dateOne:
                if "MARR" in dateTwo and "DIV" in dateTwo:
                    if dateTwo["MARR"] <= dateOne["DIV"] < dateTwo["DIV"]:
                        return True
    return False

In [343]:
# User Story: US15
def check_sibling_count():
    for family_id in family_dic:
        family = family_dic[family_id]
        if (len(family["FAM_CHILD"]) > 15):
            anomaly_array.append("ANOMALY: FAMILY: US16: {}: Family has {} siblings which is more than 15 siblings"\
                 .format(family_id, len(family["FAM_CHILD"])))

In [344]:
# Returns the lastname of the name
# Last name is surrounded by '/' in the name
# :param name is the full name of the person
def get_last_name(name):
    return name.split('/')[1];

In [345]:
# User story: US16
# This function goes over the family dictionary and 
# returns the array of family ids which contain males with different last name
# It uses the last name of the husband in the family as the initial reference
# 
# :returns array of family ids
def check_last_names():
    for family_id in family_dic:
        family = family_dic[family_id]
        last_name = None
        if "HUSB_NAME" in family:
            if family["HUSB_NAME"] != "NA":
                last_name = get_last_name(family["HUSB_NAME"])
            else:
                continue
        if "children_objects" in family:
            for child in family["children_objects"]:
                if child["SEX"] == "M":
                    if last_name is None:
                        last_name = get_last_name(child["NAME"])
                    else:
                        if last_name != get_last_name(child["NAME"]):
                            anomaly_array.append("ANOMALY: INDIVIDUAL: US16: {}: Individual has different last name {} than family {}" \
                                  .format(child["INDI"], get_last_name(child["NAME"]), last_name))

In [346]:
# User Story 17
def check_parent_child_marriage():
    for family_id in family_dic:
        family = family_dic[family_id]
        if "HUSB" in family and family["HUSB"] != 'NA' and "WIFE" in family and family["WIFE"] != 'NA':
            if is_spouse_a_child(family["HUSB"], family["WIFE"]):
                anomaly_array.append("ANOMALY: INDIVIDUAL: US17: {}: Individual married to child {}"\
                                     .format(family["HUSB"], family["WIFE"]))
            if is_spouse_a_child(family["WIFE"], family["HUSB"]):
                anomaly_array.append("ANOMALY: INDIVIDUAL: US17: {}: Individual married to child {}"\
                                     .format(family["WIFE"], family["HUSB"]))

In [347]:
def is_spouse_a_child(individual_id, spouse_id):
    individual_object = individuals[individual_id]
    if 'SPOUSE' in individual_object and individual_object['SPOUSE'] != 'NA':
        for spouse_fam in individual_object['SPOUSE']:
            if spouse_fam in family_dic:
                family = family_dic[spouse_fam]
                if "FAM_CHILD" in family and spouse_id in family["FAM_CHILD"]:
                    return True
        return False

In [348]:
#USID: 23
def unique_name_and_birth():
    li = {}
    for value in individuals.values():
        temp = value["NAME"] + value["BIRT"]
        if temp in li:
            anomaly_array.append("ANOMALY: INDIVIDUAL: US23: {}: {}: Individuals have the same name {} and birth date {}".format(value["INDI"], li[temp], value["NAME"], value["BIRT"]))
        else:
            li[temp]=value["INDI"]

In [349]:
#USID: 25
def unique_family_name_and_birth():
    for value in family_dic.values():
        li = {}
        if "children_objects" in value:
            for child in value["children_objects"]:
                temp = child["NAME"] + child["BIRT"]
                if temp in li:
                    anomaly_array.append("ANOMALY: INDIVIDUAL: US25: {}: {}: Individuals share the same first name {} and birth date {} from family {}".format(child["INDI"], li[temp], child["NAME"], child["BIRT"], value["FAM"]))
                else:          
                    li[temp]=child["INDI"]

In [350]:
#User_Story_29: List all deceased individuals in a GEDCOM file
#Prints out a table with all the deceased people's information
def listDeceased():
    current_dic = {}
    print("User_Story_29: List all deceased individuals in a GEDCOM file")
    for value in individuals.values():
        if(str(value["DEAT"]) != "NA" and (value["ALIVE"])):
            error_array.append(("ERROR: INDIVIDUAL: US29: {}: Person is alive but has Death Date {}").format(value["NAME"], value["DEAT"]))
            print(("ERROR: INDIVIDUAL: US29: Person {} is alive but has Death Date {}").format(value["NAME"], value["DEAT"]))
        elif(str(value["DEAT"]) == "NA" and (not value["ALIVE"])):
            error_array.append(("ERROR: INDIVIDUAL: US29: {}: Person is dead but has no Death Date").format(value["DEAT"]));
            print(("ERROR: INDIVIDUAL: US29: {}: Person is dead but has no Death Date").format(value["INDI"]))
        elif(not value["ALIVE"]):
            current_dic[value["INDI"]] = value    
    #Use pretty table module to print out the results
    allFields = ["ID", "Name", "Gender", "Birthday", "Age", "Alive", "Death"]
    tagNames = ["INDI", "NAME", "SEX", "BIRT", "AGE", "ALIVE", "DEAT"]
    printTable("US29: Deceased People Table", allFields, tagNames, current_dic)

In [351]:
#User_Story_30: List all living married people in a GEDCOM file
#Prints out a table with all the living married people's information
def listLivingMarried():
    current_dic = {}
    print("User_Story_30: List all living married people in a GEDCOM file")
    for value in individuals.values():
        if(value["ALIVE"] and value["SPOUSE"] != "NA"):
            current_dic[value["INDI"]] = value
        elif(not value["ALIVE"] and value["SPOUSE"] != "NA"):
            error_array.append("ERROR: INDIVIDUAL: US30: {}: Deceased Person is married to Person {}".format(value["INDI"], "".join(value["SPOUSE"])))
            print("ERROR: INDIVIDUAL: US30: {}: Deceased Person is married to Person {}".format(value["INDI"], "".join(value["SPOUSE"])))
    #Use pretty table module to print out the results
    allFields = ["ID", "Name", "Gender", "Birthday", "Age", "Alive", "Death", "Spouse"]
    tagNames = ["INDI", "NAME", "SEX", "BIRT", "AGE", "ALIVE", "DEAT", "SPOUSE"]
    printTable("US30: Living & Married People Table", allFields, tagNames, current_dic)

In [352]:
# Prints out the Individual Table
def printIndividualTable():
    #print("People Table")
    allFields = ["ID", "Name", "Gender", "Birthday", "Age", "Alive", "Death", "Child", "Spouse"]
    tagNames = ["INDI", "NAME", "SEX", "BIRT", "AGE", "ALIVE", "DEAT", "INDI_CHILD", "SPOUSE"]
    
    printTable("People Table", allFields, tagNames, individuals)

In [353]:
# Prints out the Family Table
def printFamilyTable():
    #print("Families Table")
    allFields = ["ID", "Married", "Divorced", "Husband ID", "Husband Name", "Wife ID", "Wife Name", "Children"]
    tagNames = ["FAM", "MARR", "DIV", "HUSB", "HUSB_NAME", "WIFE", "WIFE_NAME", "FAM_CHILD"]
    
    printTable("Families Table", allFields, tagNames, family_dic)

In [354]:
# Prints out the data in both error and anomaly arrays
def printError():
    file = open("cs555_sprint_outputs.txt", "a")
    if (len(error_array) > 0):
        print("------error messages------")
        file.write("------error messages------" + "\n")
        for error in error_array:
            print(error)
            file.write(error + "\n")
    if(len(anomaly_array) > 0):
        print("-----anomaly messages-----")
        file.write("-----anomaly messages-----" + "\n")
        for anomaly in anomaly_array:
            print(anomaly)
            file.write(anomaly + "\n")
    file.close()

In [355]:
# Prints out a table of dictionary data with the passed-in arguments
# Parameters:
# fields: a list of fields for the table
# tag_names: tag names used to access each data field
# dictionary: a dictionary filled with data
def printTable(table_name, fields, tag_names, dictionary):
    print(table_name)
    table = PrettyTable()
    table.field_names = fields
    for element in dictionary.values():    
        count = 1
        row_data = "" #string uses to store each tag within the current element
        for name in tag_names:
            if (count < int(len(tag_names))): #not the last element
                if (isinstance(element[name], list)): #current element is an array
                    row_data += (",".join(element[name]) + "? ")
                else: #current element is not an array
                    row_data += (str(element[name]) + "? ")
            elif (count == int(len(tag_names))):
                if (isinstance(element[name], list)): #current element is an array
                    row_data += (",".join(element[name]))
                else: #current element is not an array
                    row_data += (str(element[name]))
                break
            count+= 1;
        table.add_row(row_data.split('?'))
    # Stores outputs to a text file
    storeResults(table_name, table.get_string())
    print(table)

In [356]:
# Stores all Project outputs into a single text file
# Parameters:
# result_name: name that will appear 
def storeResults(result_name, outputs):
    file = open("cs555_sprint_outputs.txt", "a")
    file.write(result_name + "\n")
    file.write(outputs + "\n\n")
    file.close()

In [357]:
# Global variables initialization
tag_sp = ["INDI", "FAM"]
#Level Zero Tags
tag_zero = ["HEAD", "TRLR", "NOTE"]
#Level One Tags
tag_one = ["NAME", "SEX", "BIRT", "DEAT","FAMC","FAMS","MARR", "DIV","HUSB","WIFE","CHIL"]
#Level Zero Tags
tag_fam = {"INDI":["NAME", "SEX","BIRT", "DEAT","FAMC","FAMS"],
             "FAM":["MARR", "DIV","HUSB","WIFE","CHIL"], 
             "DATE":["BIRT", "DEAT", "DIV", "MARR"]}
family_dic = None
individuals = None
error_array = []
anomaly_array = []

In [358]:
document = read_in("./acceptance_test_file_US11.ged")
if os.path.exists("cs555_sprint_outputs.txt"):
    os.remove("cs555_sprint_outputs.txt")

create_individuals_map()
create_family_dic()
# Prints out all the people in GEDCOM file
printIndividualTable()
# Prints out all the families in GEDCO file
printFamilyTable()
#User 01
validate_dates()
#User_Story_02
is_birth_before_marraige()
#User 07
is_age_legal()
#User 10
is_marriage_legal()
#User 11
check_for_bigamy()
#User 15
check_sibling_count()
#User 16
check_last_names()
#User 17
check_parent_child_marriage()
#User 23
unique_name_and_birth()
#User 25
unique_family_name_and_birth()
#User_Story_29
listDeceased()
#User_Story_30
listLivingMarried()

#Prints out all the errors and anomalies of each function
printError()

People Table
+-------+----------------------+--------+-------------+------+--------+------------+-------+------------+
|   ID  |         Name         | Gender |   Birthday  | Age  | Alive  |   Death    | Child |   Spouse   |
+-------+----------------------+--------+-------------+------+--------+------------+-------+------------+
|  @I1@ |  Willodean /Malagon/ |    F   |   1958-7-7  |  61  |  True  |     NA     |  @F2@ |    @F1@    |
|  @I2@ |    Samuel /Venzon/   |    M   |   1958-12-6 |  60  |  True  |     NA     |   NA  |    @F1@    |
|  @I3@ |   Stephan /Malagon/  |    M   |   1930-8-21 |  89  |  True  |     NA     |  @F3@ |    @F2@    |
|  @I4@ |  Laverna /Leonhardt/ |    F   |   1932-6-9  |  87  |  True  |     NA     |   NA  |    @F2@    |
|  @I5@ |     Ken /Malagon/    |    M   |   1962-2-6  |  57  |  True  |     NA     |  @F2@ |     NA     |
|  @I6@ |    Josh /Malagon/    |    M   |  1964-10-31 |  19  |  False |  1984-5-7  |  @F2@ |    @F4@    |
|  @I7@ |     Byron /Vezon/    |    M   |   1973-7-6  |  46  |  True  |     NA     |  @F1@ |    @F5@    |
|  @I8@ |    Shyla /Bertone/   |    F   |   2021-8-9  |  -2  |  True  |     NA     |   NA  |  @F5@,@F6@ |
|  @I9@ |    Cinda /Burgard/   |    F   |   1966-8-8  |  53  |  True  |     NA     |   NA  |  @F4@,@F7@ |
| @I10@ |   Jerrell /Finklea/  |    M   |   1965-9-8  |  54  |  True  |     NA     |   NA  |    @F7@    |
| @I11@ |    Ruthe /Malagon/   |    F   |   1977-9-8  |  42  |  True  |     NA     |  @F4@ |     NA     |
| @I12@ |     Darwin /Tung/    |    M   |   1987-9-6  |  32  |  True  |     NA     |  @F7@ |     NA     |
| @I13@ |     Beth /Venzon/    |    F   |   1975-7-8  |  44  |  True  |     NA     |  @F1@ |     NA     |
| @I14@ |    Jacob /Malagon/   |    M   |   1970-11-8 |  48  |  True  |     NA     |  @F2@ |    @F8@    |
| @I15@ |  Jaqueline /Kindel/  |    F   |   1969-9-8  |  50  |  True  |     NA     |   NA  |    @F8@    |
| @I16@ |   Johnny /Malagon/   |    M   |   1901-7-14 |  118 |  True  |     NA     |   NA  |    @F3@    |
| @I17@ |     Lura /Lomas/     |    F   |   1900-8-30 |  119 |  True  |     NA     |   NA  |    @F3@    |
| @I18@ |    Tesha /Malagon/   |    F   |   1819-7-8  |  200 |  False |  2019-8-2  |  @F3@ |     NA     |
| @I19@ |   Wilber /Iglesias/  |    M   |   1988-8-17 |  31  |  True  |     NA     |  @F7@ |     NA     |
| @I20@ |   Lucile /Malagon/   |    F   |   1931-9-9  |  88  |  True  |     NA     |  @F3@ |     NA     |
| @I21@ |   Regena /Malagon/   |    F   |   1820-10-8 |  198 |  True  |     NA     |  @F3@ |     NA     |
| @I22@ |     Tom /Malagon/    |    M   |   1923-5-8  |  96  |  True  |     NA     |  @F3@ |    @F9@    |
| @I23@ |    Kitty /Malagon/   |    F   |   1925-6-5  |  94  |  True  |     NA     |   NA  |    @F9@    |
| @I24@ |   Vonnie /Malagon/   |    M   |   1936-3-10 |   1  |  False |  1937-7-6  |  @F3@ |     NA     |
| @I25@ |    Shena /Malagon/   |    F   |   1937-11-6 |  81  |  True  |     NA     |  @F3@ |     NA     |
| @I26@ |   Hailey /Malagon/   |    F   |   1938-10-8 |   0  |  False |  1939-9-18 |  @F3@ |     NA     |
| @I27@ |   Milford /Malagon/  |    M   |   1939-11-8 |  79  |  True  |     NA     |  @F3@ |     NA     |
| @I28@ |   Rashida /Malagon/  |    F   |   1940-12-7 |  78  |  True  |     NA     |  @F3@ |     NA     |
| @I29@ |   Deeann /Malagon/   |    F   |  1941-10-23 |  77  |  True  |     NA     |  @F3@ |     NA     |
| @I30@ |    Dario /Malagon/   |    M   |  1942-12-14 |  76  |  True  |     NA     |  @F3@ |     NA     |
| @I31@ |    Chet /Malagon/    |    M   |   1943-8-18 |  76  |  True  |     NA     |  @F3@ |     NA     |
| @I32@ |    Sock /Malagon/    |    F   |  1955-10-17 |  63  |  True  |     NA     |  @F3@ |     NA     |
| @I33@ |    Chet /Malagon/    |    M   |   1943-8-18 |  76  |  True  |     NA     |  @F3@ |     NA     |
| @I34@ |    Loyd /Malagon/    |    M   |   1965-8-9  |  54  |  True  |     NA     |  @F3@ |     NA     |
| @I35@ |    Sock /Malagon/    |    F   |  1955-10-17 |  63  |  True  |     NA     |  @F9@ |     NA     |
| @I36@ |    Ross /Bertone/    |    M   |   1967-3-2  |  52  |  True  |     NA     |   NA  |    @F6@    |
+-------+----------------------+--------+-------------+------+--------+------------+-------+------------+
Families Table
+------+------------+----------+------------+--------------------+---------+----------------------+-------------------------------------------------------------------------------------------------+
|  ID  |  Married   | Divorced | Husband ID |    Husband Name    | Wife ID |      Wife Name       |                                             Children                                            |
+------+------------+----------+------------+--------------------+---------+----------------------+-------------------------------------------------------------------------------------------------+
| @F1@ |  1970-7-7  |    NA    |    @I2@    |   Samuel /Venzon/  |   @I1@  |  Willodean /Malagon/ |                                            @I7@,@I13@                                           |
| @F2@ |  1947-9-17 |    NA    |    @I3@    |  Stephan /Malagon/ |   @I4@  |  Laverna /Leonhardt/ |                                       @I1@,@I5@,@I6@,@I14@                                      |
| @F3@ |  1925-4-28 |    NA    |    @I16@   |  Johnny /Malagon/  |   @I17@ |     Lura /Lomas/     |  @I3@,@I18@,@I20@,@I21@,@I22@,@I24@,@I25@,@I26@,@I27@,@I28@,@I29@,@I30@,@I31@,@I32@,@I33@,@I34@ |
| @F4@ |  1978-9-2  |    NA    |    @I6@    |   Josh /Malagon/   |   @I9@  |    Cinda /Burgard/   |                                               @I11@                                             |
| @F5@ |  1988-4-4  |    NA    |    @I7@    |    Byron /Vezon/   |   @I8@  |    Shyla /Bertone/   |                                                NA                                               |
| @F6@ |  1988-4-4  |    NA    |    @I36@   |   Ross /Bertone/   |   @I8@  |    Shyla /Bertone/   |                                                NA                                               |
| @F7@ |  1985-4-5  |    NA    |    @I10@   |  Jerrell /Finklea/ |   @I9@  |    Cinda /Burgard/   |                                            @I12@,@I19@                                          |
| @F8@ |  1968-6-4  |    NA    |    @I14@   |   Jacob /Malagon/  |   @I15@ |  Jaqueline /Kindel/  |                                                NA                                               |
| @F9@ |  1945-8-5  |    NA    |    @I22@   |    Tom /Malagon/   |   @I23@ |    Kitty /Malagon/   |                                               @I35@                                             |
+------+------------+----------+------------+--------------------+---------+----------------------+-------------------------------------------------------------------------------------------------+
User_Story_29: List all deceased individuals in a GEDCOM file
US29: Deceased People Table
+-------+-------------------+--------+-------------+------+--------+------------+
|   ID  |        Name       | Gender |   Birthday  | Age  | Alive  |   Death    |
+-------+-------------------+--------+-------------+------+--------+------------+
|  @I6@ |   Josh /Malagon/  |    M   |  1964-10-31 |  19  |  False |  1984-5-7  |
| @I18@ |   Tesha /Malagon/ |    F   |   1819-7-8  |  200 |  False |  2019-8-2  |
| @I24@ |  Vonnie /Malagon/ |    M   |   1936-3-10 |   1  |  False |  1937-7-6  |
| @I26@ |  Hailey /Malagon/ |    F   |   1938-10-8 |   0  |  False |  1939-9-18 |
+-------+-------------------+--------+-------------+------+--------+------------+
User_Story_30: List all living married people in a GEDCOM file
ERROR: INDIVIDUAL: US30: @I6@: Deceased Person is married to Person @F4@
US30: Living & Married People Table
+-------+----------------------+--------+------------+------+-------+-------+------------+
|   ID  |         Name         | Gender |  Birthday  | Age  | Alive | Death |   Spouse   |
+-------+----------------------+--------+------------+------+-------+-------+------------+
|  @I1@ |  Willodean /Malagon/ |    F   |  1958-7-7  |  61  |  True |   NA  |    @F1@    |
|  @I2@ |    Samuel /Venzon/   |    M   |  1958-12-6 |  60  |  True |   NA  |    @F1@    |
|  @I3@ |   Stephan /Malagon/  |    M   |  1930-8-21 |  89  |  True |   NA  |    @F2@    |
|  @I4@ |  Laverna /Leonhardt/ |    F   |  1932-6-9  |  87  |  True |   NA  |    @F2@    |
|  @I7@ |     Byron /Vezon/    |    M   |  1973-7-6  |  46  |  True |   NA  |    @F5@    |
|  @I8@ |    Shyla /Bertone/   |    F   |  2021-8-9  |  -2  |  True |   NA  |  @F5@,@F6@ |
|  @I9@ |    Cinda /Burgard/   |    F   |  1966-8-8  |  53  |  True |   NA  |  @F4@,@F7@ |
| @I10@ |   Jerrell /Finklea/  |    M   |  1965-9-8  |  54  |  True |   NA  |    @F7@    |
| @I14@ |    Jacob /Malagon/   |    M   |  1970-11-8 |  48  |  True |   NA  |    @F8@    |
| @I15@ |  Jaqueline /Kindel/  |    F   |  1969-9-8  |  50  |  True |   NA  |    @F8@    |
| @I16@ |   Johnny /Malagon/   |    M   |  1901-7-14 |  118 |  True |   NA  |    @F3@    |
| @I17@ |     Lura /Lomas/     |    F   |  1900-8-30 |  119 |  True |   NA  |    @F3@    |
| @I22@ |     Tom /Malagon/    |    M   |  1923-5-8  |  96  |  True |   NA  |    @F9@    |
| @I23@ |    Kitty /Malagon/   |    F   |  1925-6-5  |  94  |  True |   NA  |    @F9@    |
| @I36@ |    Ross /Bertone/    |    M   |  1967-3-2  |  52  |  True |   NA  |    @F6@    |
+-------+----------------------+--------+------------+------+-------+-------+------------+
------error messages------
ERROR: INDIVIDUAL: US01: @I8@: Individual has birth date 2021-8-9 later than today
ERROR: INDIVIDUAL: US02: @I8@: Person has marriage date 1988-4-4 before birth date 2021-8-9
ERROR: INDIVIDUAL: US02: @I8@: Person has marriage date 1988-4-4 before birth date 2021-8-9
ERROR: INDIVIDUAL: US02: @I14@: Person has marriage date 1968-6-4 before birth date 1970-11-8
ERROR: INDIVIDUAL: US02: @I15@: Person has marriage date 1968-6-4 before birth date 1969-9-8
ERROR: INDIVIDUAL: US30: @I6@: Deceased Person is married to Person @F4@
-----anomaly messages-----
ANOMALY: INDIVIDUAL: US07: @I18@: More than 150 years old at death - Birth Date 1819-7-8: Death Date 2019-8-2
ANOMALY: INDIVIDUAL: US07: @I21@: More than 150 years old - Birth Date 1820-10-8
ANOMALY: INDIVIDUAL: US10: @I2@: Father of family @F1@ is younger than 14 years old - Birth Date 1958-12-6
ANOMALY: INDIVIDUAL: US10: @I1@: Wife of family @F1@ is younger than 14 years old - Birth Date 1958-7-7
ANOMALY: INDIVIDUAL: US10: @I6@: Father of family @F4@ is younger than 14 years old - Birth Date 1964-10-31
ANOMALY: INDIVIDUAL: US10: @I9@: Wife of family @F4@ is younger than 14 years old - Birth Date 1966-8-8
ANOMALY: INDIVIDUAL: US10: @I8@: Wife of family @F5@ is younger than 14 years old - Birth Date 2021-8-9
ANOMALY: INDIVIDUAL: US10: @I8@: Wife of family @F6@ is younger than 14 years old - Birth Date 2021-8-9
ANOMALY: INDIVIDUAL: US10: @I14@: Father of family @F8@ is younger than 14 years old - Birth Date 1970-11-8
ANOMALY: INDIVIDUAL: US10: @I15@: Wife of family @F8@ is younger than 14 years old - Birth Date 1969-9-8
ANOMALY: INDIVIDUAL: US11: @I8@: Performing bigamy
ANOMALY: INDIVIDUAL: US11: @I9@: Performing bigamy
ANOMALY: FAMILY: US16: @F3@: Family has 16 siblings which is more than 15 siblings
ANOMALY: INDIVIDUAL: US16: @I7@: Individual has different last name Vezon than family Venzon
ANOMALY: INDIVIDUAL: US16: @I12@: Individual has different last name Tung than family Finklea
ANOMALY: INDIVIDUAL: US16: @I19@: Individual has different last name Iglesias than family Finklea
ANOMALY: INDIVIDUAL: US23: @I33@: @I31@: Individuals have the same name Chet /Malagon/ and birth date 1943-8-18
ANOMALY: INDIVIDUAL: US23: @I35@: @I32@: Individuals have the same name Sock /Malagon/ and birth date 1955-10-17
ANOMALY: INDIVIDUAL: US25: @I33@: @I31@: Individuals share the same first name Chet /Malagon/ and birth date 1943-8-18 from family @F3@

In [359]:
individuals

{'@I1@': {'INDI': '@I1@',
  'NAME': 'Willodean /Malagon/',
  'SEX': 'F',
  'BIRT': '1958-7-7',
  'INDI_CHILD': ['@F2@'],
  'SPOUSE': ['@F1@'],
  'DEAT': 'NA',
  'AGE': '61',
  'ALIVE': True},
 '@I2@': {'INDI': '@I2@',
  'NAME': 'Samuel /Venzon/',
  'SEX': 'M',
  'BIRT': '1958-12-6',
  'INDI_CHILD': 'NA',
  'SPOUSE': ['@F1@'],
  'DEAT': 'NA',
  'AGE': '60',
  'ALIVE': True},
 '@I3@': {'INDI': '@I3@',
  'NAME': 'Stephan /Malagon/',
  'SEX': 'M',
  'BIRT': '1930-8-21',
  'INDI_CHILD': ['@F3@'],
  'SPOUSE': ['@F2@'],
  'DEAT': 'NA',
  'AGE': '89',
  'ALIVE': True},
 '@I4@': {'INDI': '@I4@',
  'NAME': 'Laverna /Leonhardt/',
  'SEX': 'F',
  'BIRT': '1932-6-9',
  'INDI_CHILD': 'NA',
  'SPOUSE': ['@F2@'],
  'DEAT': 'NA',
  'AGE': '87',
  'ALIVE': True},
 '@I5@': {'INDI': '@I5@',
  'NAME': 'Ken /Malagon/',
  'SEX': 'M',
  'BIRT': '1962-2-6',
  'INDI_CHILD': ['@F2@'],
  'SPOUSE': 'NA',
  'DEAT': 'NA',
  'AGE': '57',
  'ALIVE': True},
 '@I6@': {'INDI': '@I6@',
  'NAME': 'Josh /Malagon/',
  'SEX': 'M',
  'BIRT': '1964-10-31',
  'DEAT': '1984-5-7',
  'INDI_CHILD': ['@F2@'],
  'SPOUSE': ['@F4@'],
  'AGE': '19',
  'ALIVE': False},
 '@I7@': {'INDI': '@I7@',
  'NAME': 'Byron /Vezon/',
  'SEX': 'M',
  'BIRT': '1973-7-6',
  'INDI_CHILD': ['@F1@'],
  'SPOUSE': ['@F5@'],
  'DEAT': 'NA',
  'AGE': '46',
  'ALIVE': True},
 '@I8@': {'INDI': '@I8@',
  'NAME': 'Shyla /Bertone/',
  'SEX': 'F',
  'BIRT': '2021-8-9',
  'INDI_CHILD': 'NA',
  'SPOUSE': ['@F5@', '@F6@'],
  'DEAT': 'NA',
  'AGE': '-2',
  'ALIVE': True},
 '@I9@': {'INDI': '@I9@',
  'NAME': 'Cinda /Burgard/',
  'SEX': 'F',
  'BIRT': '1966-8-8',
  'INDI_CHILD': 'NA',
  'SPOUSE': ['@F4@', '@F7@'],
  'DEAT': 'NA',
  'AGE': '53',
  'ALIVE': True},
 '@I10@': {'INDI': '@I10@',
  'NAME': 'Jerrell /Finklea/',
  'SEX': 'M',
  'BIRT': '1965-9-8',
  'INDI_CHILD': 'NA',
  'SPOUSE': ['@F7@'],
  'DEAT': 'NA',
  'AGE': '54',
  'ALIVE': True},
 '@I11@': {'INDI': '@I11@',
  'NAME': 'Ruthe /Malagon/',
  'SEX': 'F',
  'BIRT': '1977-9-8',
  'INDI_CHILD': ['@F4@'],
  'SPOUSE': 'NA',
  'DEAT': 'NA',
  'AGE': '42',
  'ALIVE': True},
 '@I12@': {'INDI': '@I12@',
  'NAME': 'Darwin /Tung/',
  'SEX': 'M',
  'BIRT': '1987-9-6',
  'INDI_CHILD': ['@F7@'],
  'SPOUSE': 'NA',
  'DEAT': 'NA',
  'AGE': '32',
  'ALIVE': True},
 '@I13@': {'INDI': '@I13@',
  'NAME': 'Beth /Venzon/',
  'SEX': 'F',
  'BIRT': '1975-7-8',
  'INDI_CHILD': ['@F1@'],
  'SPOUSE': 'NA',
  'DEAT': 'NA',
  'AGE': '44',
  'ALIVE': True},
 '@I14@': {'INDI': '@I14@',
  'NAME': 'Jacob /Malagon/',
  'SEX': 'M',
  'BIRT': '1970-11-8',
  'INDI_CHILD': ['@F2@'],
  'SPOUSE': ['@F8@'],
  'DEAT': 'NA',
  'AGE': '48',
  'ALIVE': True},
 '@I15@': {'INDI': '@I15@',
  'NAME': 'Jaqueline /Kindel/',
  'SEX': 'F',
  'BIRT': '1969-9-8',
  'INDI_CHILD': 'NA',
  'SPOUSE': ['@F8@'],
  'DEAT': 'NA',
  'AGE': '50',
  'ALIVE': True},
 '@I16@': {'INDI': '@I16@',
  'NAME': 'Johnny /Malagon/',
  'SEX': 'M',
  'BIRT': '1901-7-14',
  'INDI_CHILD': 'NA',
  'SPOUSE': ['@F3@'],
  'DEAT': 'NA',
  'AGE': '118',
  'ALIVE': True},
 '@I17@': {'INDI': '@I17@',
  'NAME': 'Lura /Lomas/',
  'SEX': 'F',
  'BIRT': '1900-8-30',
  'INDI_CHILD': 'NA',
  'SPOUSE': ['@F3@'],
  'DEAT': 'NA',
  'AGE': '119',
  'ALIVE': True},
 '@I18@': {'INDI': '@I18@',
  'NAME': 'Tesha /Malagon/',
  'SEX': 'F',
  'BIRT': '1819-7-8',
  'DEAT': '2019-8-2',
  'INDI_CHILD': ['@F3@'],
  'SPOUSE': 'NA',
  'AGE': '200',
  'ALIVE': False},
 '@I19@': {'INDI': '@I19@',
  'NAME': 'Wilber /Iglesias/',
  'SEX': 'M',
  'BIRT': '1988-8-17',
  'INDI_CHILD': ['@F7@'],
  'SPOUSE': 'NA',
  'DEAT': 'NA',
  'AGE': '31',
  'ALIVE': True},
 '@I20@': {'INDI': '@I20@',
  'NAME': 'Lucile /Malagon/',
  'SEX': 'F',
  'BIRT': '1931-9-9',
  'INDI_CHILD': ['@F3@'],
  'SPOUSE': 'NA',
  'DEAT': 'NA',
  'AGE': '88',
  'ALIVE': True},
 '@I21@': {'INDI': '@I21@',
  'NAME': 'Regena /Malagon/',
  'SEX': 'F',
  'BIRT': '1820-10-8',
  'INDI_CHILD': ['@F3@'],
  'SPOUSE': 'NA',
  'DEAT': 'NA',
  'AGE': '198',
  'ALIVE': True},
 '@I22@': {'INDI': '@I22@',
  'NAME': 'Tom /Malagon/',
  'SEX': 'M',
  'BIRT': '1923-5-8',
  'INDI_CHILD': ['@F3@'],
  'SPOUSE': ['@F9@'],
  'DEAT': 'NA',
  'AGE': '96',
  'ALIVE': True},
 '@I23@': {'INDI': '@I23@',
  'NAME': 'Kitty /Malagon/',
  'SEX': 'F',
  'BIRT': '1925-6-5',
  'INDI_CHILD': 'NA',
  'SPOUSE': ['@F9@'],
  'DEAT': 'NA',
  'AGE': '94',
  'ALIVE': True},
 '@I24@': {'INDI': '@I24@',
  'NAME': 'Vonnie /Malagon/',
  'SEX': 'M',
  'BIRT': '1936-3-10',
  'DEAT': '1937-7-6',
  'INDI_CHILD': ['@F3@'],
  'SPOUSE': 'NA',
  'AGE': '1',
  'ALIVE': False},
 '@I25@': {'INDI': '@I25@',
  'NAME': 'Shena /Malagon/',
  'SEX': 'F',
  'BIRT': '1937-11-6',
  'INDI_CHILD': ['@F3@'],
  'SPOUSE': 'NA',
  'DEAT': 'NA',
  'AGE': '81',
  'ALIVE': True},
 '@I26@': {'INDI': '@I26@',
  'NAME': 'Hailey /Malagon/',
  'SEX': 'F',
  'BIRT': '1938-10-8',
  'DEAT': '1939-9-18',
  'INDI_CHILD': ['@F3@'],
  'SPOUSE': 'NA',
  'AGE': '0',
  'ALIVE': False},
 '@I27@': {'INDI': '@I27@',
  'NAME': 'Milford /Malagon/',
  'SEX': 'M',
  'BIRT': '1939-11-8',
  'INDI_CHILD': ['@F3@'],
  'SPOUSE': 'NA',
  'DEAT': 'NA',
  'AGE': '79',
  'ALIVE': True},
 '@I28@': {'INDI': '@I28@',
  'NAME': 'Rashida /Malagon/',
  'SEX': 'F',
  'BIRT': '1940-12-7',
  'INDI_CHILD': ['@F3@'],
  'SPOUSE': 'NA',
  'DEAT': 'NA',
  'AGE': '78',
  'ALIVE': True},
 '@I29@': {'INDI': '@I29@',
  'NAME': 'Deeann /Malagon/',
  'SEX': 'F',
  'BIRT': '1941-10-23',
  'INDI_CHILD': ['@F3@'],
  'SPOUSE': 'NA',
  'DEAT': 'NA',
  'AGE': '77',
  'ALIVE': True},
 '@I30@': {'INDI': '@I30@',
  'NAME': 'Dario /Malagon/',
  'SEX': 'M',
  'BIRT': '1942-12-14',
  'INDI_CHILD': ['@F3@'],
  'SPOUSE': 'NA',
  'DEAT': 'NA',
  'AGE': '76',
  'ALIVE': True},
 '@I31@': {'INDI': '@I31@',
  'NAME': 'Chet /Malagon/',
  'SEX': 'M',
  'BIRT': '1943-8-18',
  'INDI_CHILD': ['@F3@'],
  'SPOUSE': 'NA',
  'DEAT': 'NA',
  'AGE': '76',
  'ALIVE': True},
 '@I32@': {'INDI': '@I32@',
  'NAME': 'Sock /Malagon/',
  'SEX': 'F',
  'BIRT': '1955-10-17',
  'INDI_CHILD': ['@F3@'],
  'SPOUSE': 'NA',
  'DEAT': 'NA',
  'AGE': '63',
  'ALIVE': True},
 '@I33@': {'INDI': '@I33@',
  'NAME': 'Chet /Malagon/',
  'SEX': 'M',
  'BIRT': '1943-8-18',
  'INDI_CHILD': ['@F3@'],
  'SPOUSE': 'NA',
  'DEAT': 'NA',
  'AGE': '76',
  'ALIVE': True},
 '@I34@': {'INDI': '@I34@',
  'NAME': 'Loyd /Malagon/',
  'SEX': 'M',
  'BIRT': '1965-8-9',
  'INDI_CHILD': ['@F3@'],
  'SPOUSE': 'NA',
  'DEAT': 'NA',
  'AGE': '54',
  'ALIVE': True},
 '@I35@': {'INDI': '@I35@',
  'NAME': 'Sock /Malagon/',
  'SEX': 'F',
  'BIRT': '1955-10-17',
  'INDI_CHILD': ['@F9@'],
  'SPOUSE': 'NA',
  'DEAT': 'NA',
  'AGE': '63',
  'ALIVE': True},
 '@I36@': {'INDI': '@I36@',
  'NAME': 'Ross /Bertone/',
  'SEX': 'M',
  'BIRT': '1967-3-2',
  'INDI_CHILD': 'NA',
  'SPOUSE': ['@F6@'],
  'DEAT': 'NA',
  'AGE': '52',
  'ALIVE': True}}

In [360]:
family_dic

{'@F1@': {'FAM': '@F1@',
  'HUSB_NAME': 'Samuel /Venzon/',
  'HUSB': '@I2@',
  'WIFE_NAME': 'Willodean /Malagon/',
  'WIFE': '@I1@',
  'FAM_CHILD': ['@I7@', '@I13@'],
  'CHIL': '@I13@',
  'MARR': '1970-7-7',
  'DIV': 'NA',
  'husband_object': {'INDI': '@I2@',
   'NAME': 'Samuel /Venzon/',
   'SEX': 'M',
   'BIRT': '1958-12-6',
   'INDI_CHILD': 'NA',
   'SPOUSE': ['@F1@'],
   'DEAT': 'NA',
   'AGE': '60',
   'ALIVE': True},
  'wife_object': {'INDI': '@I1@',
   'NAME': 'Willodean /Malagon/',
   'SEX': 'F',
   'BIRT': '1958-7-7',
   'INDI_CHILD': ['@F2@'],
   'SPOUSE': ['@F1@'],
   'DEAT': 'NA',
   'AGE': '61',
   'ALIVE': True},
  'children_objects': [{'INDI': '@I7@',
    'NAME': 'Byron /Vezon/',
    'SEX': 'M',
    'BIRT': '1973-7-6',
    'INDI_CHILD': ['@F1@'],
    'SPOUSE': ['@F5@'],
    'DEAT': 'NA',
    'AGE': '46',
    'ALIVE': True},
   {'INDI': '@I13@',
    'NAME': 'Beth /Venzon/',
    'SEX': 'F',
    'BIRT': '1975-7-8',
    'INDI_CHILD': ['@F1@'],
    'SPOUSE': 'NA',
    'DEAT': 'NA',
    'AGE': '44',
    'ALIVE': True}]},
 '@F2@': {'FAM': '@F2@',
  'HUSB_NAME': 'Stephan /Malagon/',
  'HUSB': '@I3@',
  'WIFE_NAME': 'Laverna /Leonhardt/',
  'WIFE': '@I4@',
  'FAM_CHILD': ['@I1@', '@I5@', '@I6@', '@I14@'],
  'CHIL': '@I14@',
  'MARR': '1947-9-17',
  'DIV': 'NA',
  'husband_object': {'INDI': '@I3@',
   'NAME': 'Stephan /Malagon/',
   'SEX': 'M',
   'BIRT': '1930-8-21',
   'INDI_CHILD': ['@F3@'],
   'SPOUSE': ['@F2@'],
   'DEAT': 'NA',
   'AGE': '89',
   'ALIVE': True},
  'wife_object': {'INDI': '@I4@',
   'NAME': 'Laverna /Leonhardt/',
   'SEX': 'F',
   'BIRT': '1932-6-9',
   'INDI_CHILD': 'NA',
   'SPOUSE': ['@F2@'],
   'DEAT': 'NA',
   'AGE': '87',
   'ALIVE': True},
  'children_objects': [{'INDI': '@I1@',
    'NAME': 'Willodean /Malagon/',
    'SEX': 'F',
    'BIRT': '1958-7-7',
    'INDI_CHILD': ['@F2@'],
    'SPOUSE': ['@F1@'],
    'DEAT': 'NA',
    'AGE': '61',
    'ALIVE': True},
   {'INDI': '@I5@',
    'NAME': 'Ken /Malagon/',
    'SEX': 'M',
    'BIRT': '1962-2-6',
    'INDI_CHILD': ['@F2@'],
    'SPOUSE': 'NA',
    'DEAT': 'NA',
    'AGE': '57',
    'ALIVE': True},
   {'INDI': '@I6@',
    'NAME': 'Josh /Malagon/',
    'SEX': 'M',
    'BIRT': '1964-10-31',
    'DEAT': '1984-5-7',
    'INDI_CHILD': ['@F2@'],
    'SPOUSE': ['@F4@'],
    'AGE': '19',
    'ALIVE': False},
   {'INDI': '@I14@',
    'NAME': 'Jacob /Malagon/',
    'SEX': 'M',
    'BIRT': '1970-11-8',
    'INDI_CHILD': ['@F2@'],
    'SPOUSE': ['@F8@'],
    'DEAT': 'NA',
    'AGE': '48',
    'ALIVE': True}]},
 '@F3@': {'FAM': '@F3@',
  'HUSB_NAME': 'Johnny /Malagon/',
  'HUSB': '@I16@',
  'WIFE_NAME': 'Lura /Lomas/',
  'WIFE': '@I17@',
  'FAM_CHILD': ['@I3@',
   '@I18@',
   '@I20@',
   '@I21@',
   '@I22@',
   '@I24@',
   '@I25@',
   '@I26@',
   '@I27@',
   '@I28@',
   '@I29@',
   '@I30@',
   '@I31@',
   '@I32@',
   '@I33@',
   '@I34@'],
  'CHIL': '@I34@',
  'MARR': '1925-4-28',
  'DIV': 'NA',
  'husband_object': {'INDI': '@I16@',
   'NAME': 'Johnny /Malagon/',
   'SEX': 'M',
   'BIRT': '1901-7-14',
   'INDI_CHILD': 'NA',
   'SPOUSE': ['@F3@'],
   'DEAT': 'NA',
   'AGE': '118',
   'ALIVE': True},
  'wife_object': {'INDI': '@I17@',
   'NAME': 'Lura /Lomas/',
   'SEX': 'F',
   'BIRT': '1900-8-30',
   'INDI_CHILD': 'NA',
   'SPOUSE': ['@F3@'],
   'DEAT': 'NA',
   'AGE': '119',
   'ALIVE': True},
  'children_objects': [{'INDI': '@I3@',
    'NAME': 'Stephan /Malagon/',
    'SEX': 'M',
    'BIRT': '1930-8-21',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': ['@F2@'],
    'DEAT': 'NA',
    'AGE': '89',
    'ALIVE': True},
   {'INDI': '@I18@',
    'NAME': 'Tesha /Malagon/',
    'SEX': 'F',
    'BIRT': '1819-7-8',
    'DEAT': '2019-8-2',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': 'NA',
    'AGE': '200',
    'ALIVE': False},
   {'INDI': '@I20@',
    'NAME': 'Lucile /Malagon/',
    'SEX': 'F',
    'BIRT': '1931-9-9',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': 'NA',
    'DEAT': 'NA',
    'AGE': '88',
    'ALIVE': True},
   {'INDI': '@I21@',
    'NAME': 'Regena /Malagon/',
    'SEX': 'F',
    'BIRT': '1820-10-8',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': 'NA',
    'DEAT': 'NA',
    'AGE': '198',
    'ALIVE': True},
   {'INDI': '@I22@',
    'NAME': 'Tom /Malagon/',
    'SEX': 'M',
    'BIRT': '1923-5-8',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': ['@F9@'],
    'DEAT': 'NA',
    'AGE': '96',
    'ALIVE': True},
   {'INDI': '@I24@',
    'NAME': 'Vonnie /Malagon/',
    'SEX': 'M',
    'BIRT': '1936-3-10',
    'DEAT': '1937-7-6',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': 'NA',
    'AGE': '1',
    'ALIVE': False},
   {'INDI': '@I25@',
    'NAME': 'Shena /Malagon/',
    'SEX': 'F',
    'BIRT': '1937-11-6',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': 'NA',
    'DEAT': 'NA',
    'AGE': '81',
    'ALIVE': True},
   {'INDI': '@I26@',
    'NAME': 'Hailey /Malagon/',
    'SEX': 'F',
    'BIRT': '1938-10-8',
    'DEAT': '1939-9-18',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': 'NA',
    'AGE': '0',
    'ALIVE': False},
   {'INDI': '@I27@',
    'NAME': 'Milford /Malagon/',
    'SEX': 'M',
    'BIRT': '1939-11-8',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': 'NA',
    'DEAT': 'NA',
    'AGE': '79',
    'ALIVE': True},
   {'INDI': '@I28@',
    'NAME': 'Rashida /Malagon/',
    'SEX': 'F',
    'BIRT': '1940-12-7',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': 'NA',
    'DEAT': 'NA',
    'AGE': '78',
    'ALIVE': True},
   {'INDI': '@I29@',
    'NAME': 'Deeann /Malagon/',
    'SEX': 'F',
    'BIRT': '1941-10-23',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': 'NA',
    'DEAT': 'NA',
    'AGE': '77',
    'ALIVE': True},
   {'INDI': '@I30@',
    'NAME': 'Dario /Malagon/',
    'SEX': 'M',
    'BIRT': '1942-12-14',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': 'NA',
    'DEAT': 'NA',
    'AGE': '76',
    'ALIVE': True},
   {'INDI': '@I31@',
    'NAME': 'Chet /Malagon/',
    'SEX': 'M',
    'BIRT': '1943-8-18',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': 'NA',
    'DEAT': 'NA',
    'AGE': '76',
    'ALIVE': True},
   {'INDI': '@I32@',
    'NAME': 'Sock /Malagon/',
    'SEX': 'F',
    'BIRT': '1955-10-17',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': 'NA',
    'DEAT': 'NA',
    'AGE': '63',
    'ALIVE': True},
   {'INDI': '@I33@',
    'NAME': 'Chet /Malagon/',
    'SEX': 'M',
    'BIRT': '1943-8-18',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': 'NA',
    'DEAT': 'NA',
    'AGE': '76',
    'ALIVE': True},
   {'INDI': '@I34@',
    'NAME': 'Loyd /Malagon/',
    'SEX': 'M',
    'BIRT': '1965-8-9',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': 'NA',
    'DEAT': 'NA',
    'AGE': '54',
    'ALIVE': True}]},
 '@F4@': {'FAM': '@F4@',
  'HUSB_NAME': 'Josh /Malagon/',
  'HUSB': '@I6@',
  'WIFE_NAME': 'Cinda /Burgard/',
  'WIFE': '@I9@',
  'FAM_CHILD': ['@I11@'],
  'CHIL': '@I11@',
  'MARR': '1978-9-2',
  'DIV': 'NA',
  'husband_object': {'INDI': '@I6@',
   'NAME': 'Josh /Malagon/',
   'SEX': 'M',
   'BIRT': '1964-10-31',
   'DEAT': '1984-5-7',
   'INDI_CHILD': ['@F2@'],
   'SPOUSE': ['@F4@'],
   'AGE': '19',
   'ALIVE': False},
  'wife_object': {'INDI': '@I9@',
   'NAME': 'Cinda /Burgard/',
   'SEX': 'F',
   'BIRT': '1966-8-8',
   'INDI_CHILD': 'NA',
   'SPOUSE': ['@F4@', '@F7@'],
   'DEAT': 'NA',
   'AGE': '53',
   'ALIVE': True},
  'children_objects': [{'INDI': '@I11@',
    'NAME': 'Ruthe /Malagon/',
    'SEX': 'F',
    'BIRT': '1977-9-8',
    'INDI_CHILD': ['@F4@'],
    'SPOUSE': 'NA',
    'DEAT': 'NA',
    'AGE': '42',
    'ALIVE': True}]},
 '@F5@': {'FAM': '@F5@',
  'HUSB_NAME': 'Byron /Vezon/',
  'HUSB': '@I7@',
  'WIFE_NAME': 'Shyla /Bertone/',
  'WIFE': '@I8@',
  'MARR': '1988-4-4',
  'DIV': 'NA',
  'FAM_CHILD': 'NA',
  'husband_object': {'INDI': '@I7@',
   'NAME': 'Byron /Vezon/',
   'SEX': 'M',
   'BIRT': '1973-7-6',
   'INDI_CHILD': ['@F1@'],
   'SPOUSE': ['@F5@'],
   'DEAT': 'NA',
   'AGE': '46',
   'ALIVE': True},
  'wife_object': {'INDI': '@I8@',
   'NAME': 'Shyla /Bertone/',
   'SEX': 'F',
   'BIRT': '2021-8-9',
   'INDI_CHILD': 'NA',
   'SPOUSE': ['@F5@', '@F6@'],
   'DEAT': 'NA',
   'AGE': '-2',
   'ALIVE': True}},
 '@F6@': {'FAM': '@F6@',
  'HUSB_NAME': 'Ross /Bertone/',
  'HUSB': '@I36@',
  'WIFE_NAME': 'Shyla /Bertone/',
  'WIFE': '@I8@',
  'MARR': '1988-4-4',
  'DIV': 'NA',
  'FAM_CHILD': 'NA',
  'husband_object': {'INDI': '@I36@',
   'NAME': 'Ross /Bertone/',
   'SEX': 'M',
   'BIRT': '1967-3-2',
   'INDI_CHILD': 'NA',
   'SPOUSE': ['@F6@'],
   'DEAT': 'NA',
   'AGE': '52',
   'ALIVE': True},
  'wife_object': {'INDI': '@I8@',
   'NAME': 'Shyla /Bertone/',
   'SEX': 'F',
   'BIRT': '2021-8-9',
   'INDI_CHILD': 'NA',
   'SPOUSE': ['@F5@', '@F6@'],
   'DEAT': 'NA',
   'AGE': '-2',
   'ALIVE': True}},
 '@F7@': {'FAM': '@F7@',
  'HUSB_NAME': 'Jerrell /Finklea/',
  'HUSB': '@I10@',
  'WIFE_NAME': 'Cinda /Burgard/',
  'WIFE': '@I9@',
  'FAM_CHILD': ['@I12@', '@I19@'],
  'CHIL': '@I19@',
  'MARR': '1985-4-5',
  'DIV': 'NA',
  'husband_object': {'INDI': '@I10@',
   'NAME': 'Jerrell /Finklea/',
   'SEX': 'M',
   'BIRT': '1965-9-8',
   'INDI_CHILD': 'NA',
   'SPOUSE': ['@F7@'],
   'DEAT': 'NA',
   'AGE': '54',
   'ALIVE': True},
  'wife_object': {'INDI': '@I9@',
   'NAME': 'Cinda /Burgard/',
   'SEX': 'F',
   'BIRT': '1966-8-8',
   'INDI_CHILD': 'NA',
   'SPOUSE': ['@F4@', '@F7@'],
   'DEAT': 'NA',
   'AGE': '53',
   'ALIVE': True},
  'children_objects': [{'INDI': '@I12@',
    'NAME': 'Darwin /Tung/',
    'SEX': 'M',
    'BIRT': '1987-9-6',
    'INDI_CHILD': ['@F7@'],
    'SPOUSE': 'NA',
    'DEAT': 'NA',
    'AGE': '32',
    'ALIVE': True},
   {'INDI': '@I19@',
    'NAME': 'Wilber /Iglesias/',
    'SEX': 'M',
    'BIRT': '1988-8-17',
    'INDI_CHILD': ['@F7@'],
    'SPOUSE': 'NA',
    'DEAT': 'NA',
    'AGE': '31',
    'ALIVE': True}]},
 '@F8@': {'FAM': '@F8@',
  'HUSB_NAME': 'Jacob /Malagon/',
  'HUSB': '@I14@',
  'WIFE_NAME': 'Jaqueline /Kindel/',
  'WIFE': '@I15@',
  'MARR': '1968-6-4',
  'DIV': 'NA',
  'FAM_CHILD': 'NA',
  'husband_object': {'INDI': '@I14@',
   'NAME': 'Jacob /Malagon/',
   'SEX': 'M',
   'BIRT': '1970-11-8',
   'INDI_CHILD': ['@F2@'],
   'SPOUSE': ['@F8@'],
   'DEAT': 'NA',
   'AGE': '48',
   'ALIVE': True},
  'wife_object': {'INDI': '@I15@',
   'NAME': 'Jaqueline /Kindel/',
   'SEX': 'F',
   'BIRT': '1969-9-8',
   'INDI_CHILD': 'NA',
   'SPOUSE': ['@F8@'],
   'DEAT': 'NA',
   'AGE': '50',
   'ALIVE': True}},
 '@F9@': {'FAM': '@F9@',
  'HUSB_NAME': 'Tom /Malagon/',
  'HUSB': '@I22@',
  'WIFE_NAME': 'Kitty /Malagon/',
  'WIFE': '@I23@',
  'FAM_CHILD': ['@I35@'],
  'CHIL': '@I35@',
  'MARR': '1945-8-5',
  'DIV': 'NA',
  'husband_object': {'INDI': '@I22@',
   'NAME': 'Tom /Malagon/',
   'SEX': 'M',
   'BIRT': '1923-5-8',
   'INDI_CHILD': ['@F3@'],
   'SPOUSE': ['@F9@'],
   'DEAT': 'NA',
   'AGE': '96',
   'ALIVE': True},
  'wife_object': {'INDI': '@I23@',
   'NAME': 'Kitty /Malagon/',
   'SEX': 'F',
   'BIRT': '1925-6-5',
   'INDI_CHILD': 'NA',
   'SPOUSE': ['@F9@'],
   'DEAT': 'NA',
   'AGE': '94',
   'ALIVE': True},
  'children_objects': [{'INDI': '@I35@',
    'NAME': 'Sock /Malagon/',
    'SEX': 'F',
    'BIRT': '1955-10-17',
    'INDI_CHILD': ['@F9@'],
    'SPOUSE': 'NA',
    'DEAT': 'NA',
    'AGE': '63',
    'ALIVE': True}]}}