In [2]:
#Data Structure 
tag_sp=["INDI", "FAM"]
#Level Zero Tags
tag_zero=["HEAD", "TRLR", "NOTE"]
#Level One Tags
tag_one=["NAME", "SEX", "BIRT", "DEAT","FAMC","FAMS","MARR", "DIV","HUSB","WIFE","CHIL"]
#Level Zero Tags
tag_fam={"INDI":["NAME", "SEX","BIRT", "DEAT","FAMC","FAMS"],
             "FAM":["MARR", "DIV","HUSB","WIFE","CHIL"], 
             "DATE":["BIRT", "DEAT", "DIV", "MARR"]}
family_dic=None
individuals=None

In [3]:
def isDateParent(A):
    return A[1] in tag_fam["DATE"]

In [4]:
# Convert month string to month number
# :param month for which we need the number
def month_to_num(shortMonth):
    return{
        'JAN' : "1",
        'FEB' : "2",
        'MAR' : "3",
        'APR' : "4",
        'MAY' : "5",
        'JUN' : "6",
        'JUL' : "7",
        'AUG' : "8",
        'SEP' : "9", 
        'OCT' : "10",
        'NOV' : "11",
        'DEC' : "12"
    }[shortMonth]

In [5]:
# Convert input date to standard format
# :param date array in input
def convert_date(date_arr):
    return "{}-{}-{}".format(date_arr[2], month_to_num(date_arr[1]), date_arr[0])

In [6]:
from datetime import datetime

# Determine age based on birthdate and death date
# If death date is not present then function uses the current date as a comparison
def determine_age(birth_date, death_date):
    if death_date:
        return int(death_date.split('-')[0]) - int(birth_date.split('-')[0])
    else:
        today = datetime.today()
        return today.year - int(birth_date.split('-')[0])

In [7]:
def find_name(arr, _id):
    #takes array of dict objects
    for indi in arr:
        if _id == indi["INDI"]:
            return indi["NAME"]

In [8]:
# Returns the lastname of the name
# Last name is surrounded by '/' in the name
# :param name is the full name of the person
def get_last_name(name):
    return name.split('/')[1];

In [9]:
# create dictionary entry for the passed tag
# :param current_arr is the current array line being processed
# :param tag can will be either FAM or INDI
def create_dic_entry(current_arr, tag):
    current_tag=tag
    dic={}
    dic[tag]=current_arr[1]
    return dic, current_tag

In [10]:
# Adds missing tags with "NA"
def add_missing_entries(dic):
    if "DIV" not in dic:
        dic["DIV"] = "NA"
    if "HUSB" not in dic:
        dic["HUSB"] = "NA"
    if "HUSB_NAME" not in dic:
        dic["HUSB_NAME"] = "NA"
    if "WIFE" not in dic:
        dic["WIFE"] = "NA"
    if "WIFE_NAME" not in dic:
        dic["WIFE_NAME"] = "NA"
    if "FAM_CHILD" not in dic:
        dic["FAM_CHILD"] = "NA"
    if "MARR" not in dic:
        dic["MARR"] = "NA"

In [11]:
# Checking if one date is after another
# :param date_one is the date being compared with
# :param date_two is the date being compared t0
def is_date_after(date_one, date_two):
    return date_one < date_two

In [12]:
# Create map of individuals where key is the individual id and
# individual object is the  value
def create_individuals_map():
    global individuals
    individuals = {}
    for individual in document["INDI"]:
        individuals[individual["INDI"]] = individual

In [13]:
# Creating a family dictionary with the key as the family id and the value as the
# information about the family and the objects corresponding to husband, wife and children
def create_family_dic():
    global family_dic
    family_dic = {}
    for family in document["FAM"]:
        if family["HUSB"] != "NA" and family["HUSB"] in individuals:
            family["husband_object"] = individuals[family["HUSB"]]
        if family["WIFE"] != "NA" and family["WIFE"] in individuals:
            family["wife_object"] = individuals[family["WIFE"]]
        if family["FAM_CHILD"] != "NA":
            children = []
            for child in family["FAM_CHILD"]:
                children.append(individuals[child])
            family["children_objects"] = children
        family_dic[family["FAM"]] = family

In [14]:
# User story: US16
# This function goes over the family dictionary and 
# returns the array of family ids which contain males with different last name
# It uses the last name of the husband in the family as the initial reference
# 
# :returns array of family ids
def check_last_names():
    different_last_names = []
    for family_id in family_dic:
        family = family_dic[family_id]
        last_name = None
        if "HUSB_NAME" in family:
            last_name = get_last_name(family["HUSB_NAME"])
        for child in family["children_objects"]:
            if child["SEX"] == "M":
                if last_name is None:
                    last_name = get_last_name(child["NAME"])
                else:
                    if last_name != get_last_name(child["NAME"]):
                        different_last_names.append(family_id)
    return different_last_names

In [15]:
# User Story: US15
def check_sibling_count():
    high_sibling_count = []
    for family_id in family_dic:
        family = family_dic[family_id]
        if (len(family["FAM_CHILD"]) > 15):
            high_sibling_count.append(family_id)
    return high_sibling_count

In [31]:
# USID: 
def is_marriage_legal():
    for family_id in family_dic:
        #print(family)
        if "husband_object" in family_dic[family]:
            if family_dic[family]["husband_object"]["AGE"] < 14:
                print("Father is too young")
        if "wife_object" in family_dic[family]:
            if family_dic[family]["wife_object"]["AGE"] < 14:
                print("Wife is too young")

In [ ]:
def is_age_legal():
    for indi_id in individuals:
        #print(family)
        if individuals[indi_id]["AGE"] >150:
            print("Too old")

In [33]:
individuals

{'@I1@': {'INDI': '@I1@',
  'NAME': 'Jimmy /Colon/',
  'SEX': 'M',
  'BIRT': '1912-6-5',
  'DEAT': '1998-5-2',
  'INDI_CHILD': ['@F2@'],
  'SPOUSE': ['@F1@'],
  'AGE': '86',
  'ALIVE': False},
 '@I2@': {'INDI': '@I2@',
  'NAME': 'Helen /Colon/',
  'SEX': 'F',
  'BIRT': '1920-12-10',
  'DEAT': '2002-6-2',
  'INDI_CHILD': 'NA',
  'SPOUSE': ['@F1@'],
  'AGE': '82',
  'ALIVE': False},
 '@I3@': {'INDI': '@I3@',
  'NAME': 'Dora /Colon/',
  'SEX': 'F',
  'BIRT': '1951-4-5',
  'INDI_CHILD': ['@F1@'],
  'SPOUSE': ['@F3@', '@F4@'],
  'DEAT': 'NA',
  'AGE': '68',
  'ALIVE': True},
 '@I4@': {'INDI': '@I4@',
  'NAME': 'Rurra /Colon/',
  'SEX': 'F',
  'BIRT': '1952-9-8',
  'INDI_CHILD': ['@F1@'],
  'SPOUSE': ['@F5@'],
  'DEAT': 'NA',
  'AGE': '67',
  'ALIVE': True},
 '@I5@': {'INDI': '@I5@',
  'NAME': 'John /Colon/',
  'SEX': 'M',
  'BIRT': '1957-5-11',
  'INDI_CHILD': ['@F1@'],
  'SPOUSE': ['@F6@'],
  'DEAT': 'NA',
  'AGE': '62',
  'ALIVE': True},
 '@I6@': {'INDI': '@I6@',
  'NAME': 'Micheal /Huston/',
  'SEX': 'M',
  'BIRT': '1950-5-10',
  'INDI_CHILD': 'NA',
  'SPOUSE': ['@F3@'],
  'DEAT': 'NA',
  'AGE': '69',
  'ALIVE': True},
 '@I7@': {'INDI': '@I7@',
  'NAME': 'Samul /Hilson/',
  'SEX': 'M',
  'BIRT': '1952-7-5',
  'INDI_CHILD': 'NA',
  'SPOUSE': ['@F4@'],
  'DEAT': 'NA',
  'AGE': '67',
  'ALIVE': True},
 '@I8@': {'INDI': '@I8@',
  'NAME': 'Henry /Nilson/',
  'SEX': 'M',
  'BIRT': '1950-9-25',
  'INDI_CHILD': 'NA',
  'SPOUSE': ['@F5@'],
  'DEAT': 'NA',
  'AGE': '69',
  'ALIVE': True},
 '@I9@': {'INDI': '@I9@',
  'NAME': 'Alex /Colon/',
  'SEX': 'F',
  'BIRT': '1965-12-27',
  'INDI_CHILD': 'NA',
  'SPOUSE': ['@F6@'],
  'DEAT': 'NA',
  'AGE': '54',
  'ALIVE': True},
 '@I10@': {'INDI': '@I10@',
  'NAME': 'Kevin /Huston/',
  'SEX': 'M',
  'BIRT': '1990-8-4',
  'INDI_CHILD': ['@F3@'],
  'SPOUSE': 'NA',
  'DEAT': 'NA',
  'AGE': '29',
  'ALIVE': True},
 '@I11@': {'INDI': '@I11@',
  'NAME': 'Cathie /Colon/',
  'SEX': 'F',
  'BIRT': '1974-6-2',
  'INDI_CHILD': ['@F4@'],
  'SPOUSE': ['@F7@'],
  'DEAT': 'NA',
  'AGE': '45',
  'ALIVE': True},
 '@I12@': {'INDI': '@I12@',
  'NAME': 'Dylan /Nilson/',
  'SEX': 'M',
  'BIRT': '1989-11-29',
  'INDI_CHILD': ['@F5@'],
  'SPOUSE': 'NA',
  'DEAT': 'NA',
  'AGE': '30',
  'ALIVE': True},
 '@I13@': {'INDI': '@I13@',
  'NAME': 'Kitty /Nilson/',
  'SEX': 'F',
  'BIRT': '1980-7-10',
  'INDI_CHILD': ['@F5@'],
  'SPOUSE': ['@F8@'],
  'DEAT': 'NA',
  'AGE': '39',
  'ALIVE': True},
 '@I14@': {'INDI': '@I14@',
  'NAME': 'Bella /Colon/',
  'SEX': 'F',
  'BIRT': '1995-3-9',
  'INDI_CHILD': ['@F6@'],
  'SPOUSE': 'NA',
  'DEAT': 'NA',
  'AGE': '24',
  'ALIVE': True},
 '@I15@': {'INDI': '@I15@',
  'NAME': 'Minnie /Colon/',
  'SEX': 'F',
  'BIRT': '1998-10-6',
  'INDI_CHILD': ['@F6@'],
  'SPOUSE': 'NA',
  'DEAT': 'NA',
  'AGE': '21',
  'ALIVE': True},
 '@I16@': {'INDI': '@I16@',
  'NAME': 'Davis /Hill/',
  'SEX': 'M',
  'BIRT': '1970-6-6',
  'INDI_CHILD': 'NA',
  'SPOUSE': ['@F7@'],
  'DEAT': 'NA',
  'AGE': '49',
  'ALIVE': True},
 '@I17@': {'INDI': '@I17@',
  'NAME': 'Gaberial /Hill/',
  'SEX': 'F',
  'BIRT': '2001-5-5',
  'INDI_CHILD': ['@F7@'],
  'SPOUSE': 'NA',
  'DEAT': 'NA',
  'AGE': '18',
  'ALIVE': True},
 '@I18@': {'INDI': '@I18@',
  'NAME': 'George /Nickson/',
  'SEX': 'M',
  'BIRT': '1974-3-17',
  'INDI_CHILD': 'NA',
  'SPOUSE': ['@F8@'],
  'DEAT': 'NA',
  'AGE': '45',
  'ALIVE': True},
 '@I19@': {'INDI': '@I19@',
  'NAME': 'Micheal /Nickson/',
  'SEX': 'M',
  'BIRT': '2009-9-17',
  'INDI_CHILD': ['@F8@'],
  'SPOUSE': 'NA',
  'DEAT': 'NA',
  'AGE': '10',
  'ALIVE': True}}

In [17]:
def read_in(file):
    doc={"INDI":[], "FAM":[]}
    dic={}
    flag=False #indicates whether the correct tag has appeared before DATE tag
    with open(file) as f:
        all_lines=f.readlines()
        for line, next_line in zip(all_lines, all_lines[1:]):
            current_arr=line.strip().split(" ")
            next_arr=next_line.strip().split(" ")
            #if the current tag is individual
            if len(current_arr)==3 and current_arr[0]=='0' and current_arr[2]== "INDI":
                #inserts individual's ID into the dictionary
                dic, current_tag=create_dic_entry(current_arr, "INDI") 
            elif len(current_arr)==3 and current_arr[0]=='0' and current_arr[2]=="FAM": 
                dic, current_tag=create_dic_entry(current_arr, "FAM")
            elif (current_arr[1]=="DATE" and flag):
                flag=False
                date_arr = current_arr[2:] #extracts the date argument from the line
                dic[tmp]= convert_date(date_arr) #converts the date into correct format
            elif current_arr[0]=='1' and current_arr[1] in tag_one:
                if (isDateParent(current_arr)): #determines whether the current tag is parent of DATE tag
                    tmp=current_arr[1] #extracts the tag name
                    flag=True
                else: 
                    #current tag is not the parent tag of DATE tag
                    if current_arr[1] == "HUSB":
                        dic["HUSB_NAME"]=find_name(doc["INDI"], current_arr[2])
                    if current_arr[1] == "WIFE":
                        dic["WIFE_NAME"]=find_name(doc["INDI"], current_arr[2])
                    if current_arr[1] == 'CHIL':
                        #INDI_CHILD indicates all the children within a family
                        children = dic["FAM_CHILD"] if "FAM_CHILD" in dic else []
                        children.append(current_arr[2])
                        dic["FAM_CHILD"] = children
                    if current_arr[1] == 'FAMC' or current_arr[1] == 'FAMS':
                        child = dic["INDI_CHILD"] if "INDI_CHILD" in dic else []
                        spouse = dic["SPOUSE"] if "SPOUSE" in dic else []
                        child.append(current_arr[2]) if current_arr[1] == 'FAMC' else spouse.append(current_arr[2])
                        dic['INDI_CHILD'] = child #FAM_CHILD indicates which family this individual belongs to
                        dic['SPOUSE'] = spouse
                    else: #other type of tag
                        dic[current_arr[1]]=' '.join(current_arr[2:])
            if (len(next_arr)==3 and next_arr[0]=='0' and next_arr[2] in tag_sp) or next_arr[1]=="TRLR":
                if dic:
                    if current_tag == 'INDI':
                        if 'DEAT' in dic:
                            age = determine_age(dic['BIRT'], dic['DEAT'])
                            alive = False
                        else:
                            age = determine_age(dic['BIRT'], None)
                            alive = True
                            dic['DEAT'] = 'NA'
                        dic["AGE"] = str(age)
                        dic['ALIVE']= alive
                        #print(current_tag
                        if not dic["SPOUSE"]:
                            dic["SPOUSE"] = "NA"
                        elif not dic["INDI_CHILD"]:
                            dic["INDI_CHILD"] = "NA"
                    if current_tag == 'FAM':
                        add_missing_entries(dic)
                    doc[current_tag].append(dic)
        return doc

In [18]:
# Uses the prettyTable module and print out the passed-in dictionary data
# :param fields the table column title
# :param tag_names the tag names used to access the dictionary elements
# :param dictionary the dictionary with the data needed to be printed
def printTable(fields, tag_names, dictionary):
    table = PrettyTable()
    table.field_names = fields
    for element in dictionary.values():    
        count = 1
        row_data = "" #string uses to store each tag within the current element
        for name in tag_names:
            if (count < int(len(tag_names))): #not the last element
                row_data += (str(element[name]) + ", ")
            elif (count == int(len(tag_names))): #last element
                row_data += str(element[name])
                break
            count+= 1;
        table.add_row(row_data.split(','))
    print(table)

In [19]:
document = read_in("./myTest.ged")
create_individuals_map()
create_family_dic()
family_dic

{'@F1@': {'FAM': '@F1@',
  'HUSB_NAME': 'Jimmy /Colon/',
  'HUSB': '@I1@',
  'WIFE_NAME': 'Helen /Colon/',
  'WIFE': '@I2@',
  'FAM_CHILD': ['@I3@', '@I4@', '@I5@'],
  'CHIL': '@I5@',
  'MARR': '1941-11-5',
  'DIV': 'NA',
  'husband_object': {'INDI': '@I1@',
   'NAME': 'Jimmy /Colon/',
   'SEX': 'M',
   'BIRT': '1912-6-5',
   'DEAT': '1998-5-2',
   'INDI_CHILD': ['@F2@'],
   'SPOUSE': ['@F1@'],
   'AGE': '86',
   'ALIVE': False},
  'wife_object': {'INDI': '@I2@',
   'NAME': 'Helen /Colon/',
   'SEX': 'F',
   'BIRT': '1920-12-10',
   'DEAT': '2002-6-2',
   'INDI_CHILD': 'NA',
   'SPOUSE': ['@F1@'],
   'AGE': '82',
   'ALIVE': False},
  'children_objects': [{'INDI': '@I3@',
    'NAME': 'Dora /Colon/',
    'SEX': 'F',
    'BIRT': '1951-4-5',
    'INDI_CHILD': ['@F1@'],
    'SPOUSE': ['@F3@', '@F4@'],
    'DEAT': 'NA',
    'AGE': '68',
    'ALIVE': True},
   {'INDI': '@I4@',
    'NAME': 'Rurra /Colon/',
    'SEX': 'F',
    'BIRT': '1952-9-8',
    'INDI_CHILD': ['@F1@'],
    'SPOUSE': ['@F5@'],
    'DEAT': 'NA',
    'AGE': '67',
    'ALIVE': True},
   {'INDI': '@I5@',
    'NAME': 'John /Colon/',
    'SEX': 'M',
    'BIRT': '1957-5-11',
    'INDI_CHILD': ['@F1@'],
    'SPOUSE': ['@F6@'],
    'DEAT': 'NA',
    'AGE': '62',
    'ALIVE': True}]},
 '@F2@': {'FAM': '@F2@',
  'FAM_CHILD': ['@I1@'],
  'CHIL': '@I1@',
  'DIV': 'NA',
  'HUSB': 'NA',
  'HUSB_NAME': 'NA',
  'WIFE': 'NA',
  'WIFE_NAME': 'NA',
  'MARR': 'NA',
  'children_objects': [{'INDI': '@I1@',
    'NAME': 'Jimmy /Colon/',
    'SEX': 'M',
    'BIRT': '1912-6-5',
    'DEAT': '1998-5-2',
    'INDI_CHILD': ['@F2@'],
    'SPOUSE': ['@F1@'],
    'AGE': '86',
    'ALIVE': False}]},
 '@F3@': {'FAM': '@F3@',
  'HUSB_NAME': 'Micheal /Huston/',
  'HUSB': '@I6@',
  'WIFE_NAME': 'Dora /Colon/',
  'WIFE': '@I3@',
  'FAM_CHILD': ['@I10@'],
  'CHIL': '@I10@',
  'MARR': '1988-8-4',
  'DIV': 'NA',
  'husband_object': {'INDI': '@I6@',
   'NAME': 'Micheal /Huston/',
   'SEX': 'M',
   'BIRT': '1950-5-10',
   'INDI_CHILD': 'NA',
   'SPOUSE': ['@F3@'],
   'DEAT': 'NA',
   'AGE': '69',
   'ALIVE': True},
  'wife_object': {'INDI': '@I3@',
   'NAME': 'Dora /Colon/',
   'SEX': 'F',
   'BIRT': '1951-4-5',
   'INDI_CHILD': ['@F1@'],
   'SPOUSE': ['@F3@', '@F4@'],
   'DEAT': 'NA',
   'AGE': '68',
   'ALIVE': True},
  'children_objects': [{'INDI': '@I10@',
    'NAME': 'Kevin /Huston/',
    'SEX': 'M',
    'BIRT': '1990-8-4',
    'INDI_CHILD': ['@F3@'],
    'SPOUSE': 'NA',
    'DEAT': 'NA',
    'AGE': '29',
    'ALIVE': True}]},
 '@F4@': {'FAM': '@F4@',
  'HUSB_NAME': 'Samul /Hilson/',
  'HUSB': '@I7@',
  'WIFE_NAME': 'Dora /Colon/',
  'WIFE': '@I3@',
  'FAM_CHILD': ['@I11@'],
  'CHIL': '@I11@',
  'MARR': '1972-7-3',
  'DIV': '1980-4-3',
  'husband_object': {'INDI': '@I7@',
   'NAME': 'Samul /Hilson/',
   'SEX': 'M',
   'BIRT': '1952-7-5',
   'INDI_CHILD': 'NA',
   'SPOUSE': ['@F4@'],
   'DEAT': 'NA',
   'AGE': '67',
   'ALIVE': True},
  'wife_object': {'INDI': '@I3@',
   'NAME': 'Dora /Colon/',
   'SEX': 'F',
   'BIRT': '1951-4-5',
   'INDI_CHILD': ['@F1@'],
   'SPOUSE': ['@F3@', '@F4@'],
   'DEAT': 'NA',
   'AGE': '68',
   'ALIVE': True},
  'children_objects': [{'INDI': '@I11@',
    'NAME': 'Cathie /Colon/',
    'SEX': 'F',
    'BIRT': '1974-6-2',
    'INDI_CHILD': ['@F4@'],
    'SPOUSE': ['@F7@'],
    'DEAT': 'NA',
    'AGE': '45',
    'ALIVE': True}]},
 '@F5@': {'FAM': '@F5@',
  'HUSB_NAME': 'Henry /Nilson/',
  'HUSB': '@I8@',
  'WIFE_NAME': 'Rurra /Colon/',
  'WIFE': '@I4@',
  'FAM_CHILD': ['@I12@', '@I13@'],
  'CHIL': '@I13@',
  'MARR': '1972-10-15',
  'DIV': 'NA',
  'husband_object': {'INDI': '@I8@',
   'NAME': 'Henry /Nilson/',
   'SEX': 'M',
   'BIRT': '1950-9-25',
   'INDI_CHILD': 'NA',
   'SPOUSE': ['@F5@'],
   'DEAT': 'NA',
   'AGE': '69',
   'ALIVE': True},
  'wife_object': {'INDI': '@I4@',
   'NAME': 'Rurra /Colon/',
   'SEX': 'F',
   'BIRT': '1952-9-8',
   'INDI_CHILD': ['@F1@'],
   'SPOUSE': ['@F5@'],
   'DEAT': 'NA',
   'AGE': '67',
   'ALIVE': True},
  'children_objects': [{'INDI': '@I12@',
    'NAME': 'Dylan /Nilson/',
    'SEX': 'M',
    'BIRT': '1989-11-29',
    'INDI_CHILD': ['@F5@'],
    'SPOUSE': 'NA',
    'DEAT': 'NA',
    'AGE': '30',
    'ALIVE': True},
   {'INDI': '@I13@',
    'NAME': 'Kitty /Nilson/',
    'SEX': 'F',
    'BIRT': '1980-7-10',
    'INDI_CHILD': ['@F5@'],
    'SPOUSE': ['@F8@'],
    'DEAT': 'NA',
    'AGE': '39',
    'ALIVE': True}]},
 '@F6@': {'FAM': '@F6@',
  'HUSB_NAME': 'John /Colon/',
  'HUSB': '@I5@',
  'WIFE_NAME': 'Alex /Colon/',
  'WIFE': '@I9@',
  'FAM_CHILD': ['@I14@', '@I15@'],
  'CHIL': '@I15@',
  'MARR': '1989-6-8',
  'DIV': 'NA',
  'husband_object': {'INDI': '@I5@',
   'NAME': 'John /Colon/',
   'SEX': 'M',
   'BIRT': '1957-5-11',
   'INDI_CHILD': ['@F1@'],
   'SPOUSE': ['@F6@'],
   'DEAT': 'NA',
   'AGE': '62',
   'ALIVE': True},
  'wife_object': {'INDI': '@I9@',
   'NAME': 'Alex /Colon/',
   'SEX': 'F',
   'BIRT': '1965-12-27',
   'INDI_CHILD': 'NA',
   'SPOUSE': ['@F6@'],
   'DEAT': 'NA',
   'AGE': '54',
   'ALIVE': True},
  'children_objects': [{'INDI': '@I14@',
    'NAME': 'Bella /Colon/',
    'SEX': 'F',
    'BIRT': '1995-3-9',
    'INDI_CHILD': ['@F6@'],
    'SPOUSE': 'NA',
    'DEAT': 'NA',
    'AGE': '24',
    'ALIVE': True},
   {'INDI': '@I15@',
    'NAME': 'Minnie /Colon/',
    'SEX': 'F',
    'BIRT': '1998-10-6',
    'INDI_CHILD': ['@F6@'],
    'SPOUSE': 'NA',
    'DEAT': 'NA',
    'AGE': '21',
    'ALIVE': True}]},
 '@F7@': {'FAM': '@F7@',
  'HUSB_NAME': 'Davis /Hill/',
  'HUSB': '@I16@',
  'WIFE_NAME': 'Cathie /Colon/',
  'WIFE': '@I11@',
  'FAM_CHILD': ['@I17@'],
  'CHIL': '@I17@',
  'DIV': 'NA',
  'MARR': 'NA',
  'husband_object': {'INDI': '@I16@',
   'NAME': 'Davis /Hill/',
   'SEX': 'M',
   'BIRT': '1970-6-6',
   'INDI_CHILD': 'NA',
   'SPOUSE': ['@F7@'],
   'DEAT': 'NA',
   'AGE': '49',
   'ALIVE': True},
  'wife_object': {'INDI': '@I11@',
   'NAME': 'Cathie /Colon/',
   'SEX': 'F',
   'BIRT': '1974-6-2',
   'INDI_CHILD': ['@F4@'],
   'SPOUSE': ['@F7@'],
   'DEAT': 'NA',
   'AGE': '45',
   'ALIVE': True},
  'children_objects': [{'INDI': '@I17@',
    'NAME': 'Gaberial /Hill/',
    'SEX': 'F',
    'BIRT': '2001-5-5',
    'INDI_CHILD': ['@F7@'],
    'SPOUSE': 'NA',
    'DEAT': 'NA',
    'AGE': '18',
    'ALIVE': True}]},
 '@F8@': {'FAM': '@F8@',
  'HUSB_NAME': 'George /Nickson/',
  'HUSB': '@I18@',
  'WIFE_NAME': 'Kitty /Nilson/',
  'WIFE': '@I13@',
  'FAM_CHILD': ['@I19@'],
  'CHIL': '@I19@',
  'MARR': '2008-3-24',
  'DIV': 'NA',
  'husband_object': {'INDI': '@I18@',
   'NAME': 'George /Nickson/',
   'SEX': 'M',
   'BIRT': '1974-3-17',
   'INDI_CHILD': 'NA',
   'SPOUSE': ['@F8@'],
   'DEAT': 'NA',
   'AGE': '45',
   'ALIVE': True},
  'wife_object': {'INDI': '@I13@',
   'NAME': 'Kitty /Nilson/',
   'SEX': 'F',
   'BIRT': '1980-7-10',
   'INDI_CHILD': ['@F5@'],
   'SPOUSE': ['@F8@'],
   'DEAT': 'NA',
   'AGE': '39',
   'ALIVE': True},
  'children_objects': [{'INDI': '@I19@',
    'NAME': 'Micheal /Nickson/',
    'SEX': 'M',
    'BIRT': '2009-9-17',
    'INDI_CHILD': ['@F8@'],
    'SPOUSE': 'NA',
    'DEAT': 'NA',
    'AGE': '10',
    'ALIVE': True}]}}

In [581]:
!pip install prettytable

from prettytable import PrettyTable

for family in document["FAM"]:
    husband=family["HUSB"] if "HUSB" in family else []
    
    
indi_table = PrettyTable() #individual table
indi_table.field_names = ["ID", "Name", "Gender", "Birthday", "Age", "Alive", "Death", "Child", "Spouse"]
fam_table = PrettyTable() #family table
fam_table.field_names = ["ID", "Married", "Divorced", "Husband ID", "Husband Name", "Wife ID", "Wife Name", "Children"]
for individual in document["INDI"]:
    indi_table.add_row([individual["INDI"], individual["NAME"], individual["SEX"], individual["BIRT"], individual["AGE"], 
                       individual["ALIVE"], individual["DEAT"], ("".join(individual["INDI_CHILD"])), ("".join(individual["SPOUSE"]))])
    
for family in document["FAM"]:
    fam_table.add_row([family["FAM"], family["MARR"], family["DIV"], family["HUSB"], family["HUSB_NAME"], family["WIFE"], family["WIFE_NAME"], ("".join(family["FAM_CHILD"]))])
    
print(indi_table)
print(fam_table)

Requirement already satisfied: prettytable in /Users/hemshah/anaconda2/lib/python2.7/site-packages (0.7.2)
+-------+-------------------+--------+------------+-----+-------+------------+-------+----------+
|   ID  |        Name       | Gender |  Birthday  | Age | Alive |   Death    | Child |  Spouse  |
+-------+-------------------+--------+------------+-----+-------+------------+-------+----------+
|  @I1@ |   John /Pottere/  |   M    | 1994-10-27 |  25 |  True |     NA     |  @F1@ |    NA    |
| @I11@ |   John1 /Potter/  |   M    | 1994-10-27 |  25 |  True |     NA     |  @F1@ |    NA    |
| @I12@ |   John1 /Potter/  |   M    | 1994-10-27 |  25 |  True |     NA     |  @F1@ |    NA    |
| @I13@ |   John1 /Potter/  |   M    | 1994-10-27 |  25 |  True |     NA     |  @F1@ |    NA    |
| @I14@ |   John1 /Potter/  |   M    | 1994-10-27 |  25 |  True |     NA     |  @F1@ |    NA    |
| @I15@ |   John1 /Potter/  |   M    | 1994-10-27 |  25 |  True |     NA     |  @F1@ |    NA    |
| @I16@ |   John1 /Potter/  |   M    | 1994-10-27 |  25 |  True |     NA     |  @F1@ |    NA    |
| @I17@ |   John1 /Potter/  |   M    | 1994-10-27 |  25 |  True |     NA     |  @F1@ |    NA    |
| @I18@ |   John1 /Potter/  |   M    | 1994-10-27 |  25 |  True |     NA     |  @F1@ |    NA    |
| @I19@ |   John1 /Potter/  |   M    | 1994-10-27 |  25 |  True |     NA     |  @F1@ |    NA    |
| @I20@ |   John1 /Potter/  |   M    | 1994-10-27 |  25 |  True |     NA     |  @F1@ |    NA    |
| @I21@ |   John1 /Potter/  |   M    | 1994-10-27 |  25 |  True |     NA     |  @F1@ |    NA    |
| @I22@ |   John1 /Potter/  |   M    | 1994-10-27 |  25 |  True |     NA     |  @F1@ |    NA    |
| @I23@ |   John1 /Potter/  |   M    | 1994-10-27 |  25 |  True |     NA     |  @F1@ |    NA    |
| @I24@ |   John1 /Potter/  |   M    | 1994-10-27 |  25 |  True |     NA     |  @F1@ |    NA    |
| @I25@ |   John1 /Potter/  |   M    | 1994-10-27 |  25 |  True |     NA     |  @F1@ |    NA    |
|  @I2@ | Chandler /Potter/ |   M    |  1967-7-1  |  52 |  True |     NA     |  @F2@ |   @F1@   |
|  @I3@ |   Monica /Scott/  |   F    | 1968-6-15  |  51 |  True |     NA     |  @F3@ |   @F1@   |
|  @I4@ |   Ross /Potter/   |   M    | 1930-11-3  |  75 | False | 2005-11-16 |   NA  |   @F2@   |
|  @I5@ |  Rachel /Halpert/ |   F    | 1939-3-18  |  80 |  True |     NA     |   NA  |   @F2@   |
|  @I6@ |    Sid /Scott/    |   M    |  1936-9-5  |  83 |  True |     NA     |   NA  |   @F3@   |
|  @I7@ |    Pam /Malone/   |   F    | 1936-12-7  |  83 |  True |     NA     |   NA  | @F3@@F4@ |
|  @I8@ |    Roy /Shrute/   |   M    |  1932-9-5  |  76 | False |  2008-6-5  |   NA  |   @F4@   |
|  @I9@ |   April /Dwyer/   |   F    |  1960-4-4  |  59 |  True |     NA     |  @F4@ |    NA    |
| @I10@ |   Harry /Potter/  |   M    |  1995-3-3  |  24 |  True |     NA     |  @F1@ |    NA    |
+-------+-------------------+--------+------------+-----+-------+------------+-------+----------+
+------+-----------+-----------+------------+-------------------+---------+------------------+--------------------------------------------------------------------------------------+
|  ID  |  Married  |  Divorced | Husband ID |    Husband Name   | Wife ID |    Wife Name     |                                       Children                                       |
+------+-----------+-----------+------------+-------------------+---------+------------------+--------------------------------------------------------------------------------------+
| @F1@ | 1990-4-11 |     NA    |    @I2@    | Chandler /Potter/ |   @I3@  |  Monica /Scott/  | @I1@@I10@@I11@@I12@@I13@@I14@@I15@@I16@@I17@@I18@@I19@@I20@@I21@@I22@@I23@@I24@@I24@ |
| @F2@ |     NA    |     NA    |    @I4@    |   Ross /Potter/   |   @I5@  | Rachel /Halpert/ |                                         @I2@                                         |
| @F3@ |  1964-5-5 |     NA    |    @I6@    |    Sid /Scott/    |   @I7@  |   Pam /Malone/   |                                         @I3@                                         |
| @F4@ | 1958-5-12 | 1962-9-12 |    @I8@    |    Roy /Shrute/   |   @I7@  |   Pam /Malone/   |                                         @I9@                                         |
+------+-----------+-----------+------------+-------------------+---------+------------------+--------------------------------------------------------------------------------------+